In [1]:
import numpy as np
import pandas as pd
import re
import os
from table import Table

In [2]:
tables = {}

directory = "Initial Tables/"
for filename in os.listdir(directory):
    if filename.endswith(".xls"):
        file_directory = os.path.join(directory, filename)
        print(file_directory)
        table = Table(file_directory)
        tables[table.id] = table

Initial Tables/tabn203.10.xls
Initial Tables/tabn203.50.xls
Initial Tables/tabn204.10.xls
Initial Tables/tabn204.27.xls
Initial Tables/tabn213.10.xls
Initial Tables/tabn215.10.xls
Initial Tables/tabn217.10.xls
Initial Tables/tabn217.15.xls
Initial Tables/tabn219.70.xls
Initial Tables/tabn236.30.xls
Initial Tables/tabn318.45.xls

In [3]:
tables

{'203.10': <table.Table at 0x24e4b869760>,
 '203.50': <table.Table at 0x24e4a803eb0>,
 '204.10': <table.Table at 0x24e4da7c220>,
 '204.27': <table.Table at 0x24e4db0af70>,
 '213.10': <table.Table at 0x24e4daaefa0>,
 '215.10': <table.Table at 0x24e4df25bb0>,
 '217.10': <table.Table at 0x24e4e25e640>,
 '217.15': <table.Table at 0x24e4e1feb50>,
 '219.70': <table.Table at 0x24e4da5ae20>,
 '236.30': <table.Table at 0x24e4e06dbb0>,
 '318.45': <table.Table at 0x24e4e3e5910>}

In [4]:
tab = tables['203.10']

In [5]:
tab.table_info

,digest_table_id,digest_table_year,digest_table_sub_id,digest_table_sub_title,digest_table_sub_title_note,has_SE,location_in,year_in,year,location,location_type,table_title,headnote,stub_head,general_note,source_note,last_prepared
0,203.10,2019,A,,,FALSE,Title,Row,,United States,Region,Enrollment in public elementary and secondary ...,[In thousands],Year,Due to changes in reporting and imputation pra...,"U.S. Department of Education, National Center ...",This table was prepared December 2019.
1,203.10,2019,B,Projected,,FALSE,Title,Row,,United States,Region,Enrollment in public elementary and secondary ...,[In thousands],Year,Due to changes in reporting and imputation pra...,"U.S. Department of Education, National Center ...",This table was prepared December 2019.