In [1]:
import numpy as np
import pandas as pd
import re
import os
from table import Table

In [2]:
tables = {}

In [3]:
directory = "tables/"
for filename in os.listdir(directory):
    if filename.endswith(".xls"):
        file_directory = os.path.join(directory, filename)
        table = Table(file_directory, "2019")
        tables[table.number] = table

In [4]:
tables

{'203.10': <table.Table at 0x2803fae7c10>,
 '203.50': <table.Table at 0x2803faf93d0>,
 '204.10': <table.Table at 0x28041c123d0>,
 '204.27': <table.Table at 0x2803eb1ae20>,
 '213.10': <table.Table at 0x2803ea9d040>,
 '215.10': <table.Table at 0x2803eb14070>,
 '217.10': <table.Table at 0x28042099fd0>,
 '217.15': <table.Table at 0x28042346fd0>,
 '219.70': <table.Table at 0x280423466d0>,
 '236.30': <table.Table at 0x280423eff70>,
 '318.45': <table.Table at 0x280423af910>}

In [5]:
tables['203.10'].table_info.T

                   0                                                  1
0    digest_table_id                                             203.10
1  digest_table_year                                               2019
2        table_title  Enrollment in public elementary and secondary ...
3           headnote                                     [In thousands]
4          stub_head                                               Year
5       general_note  Due to changes in reporting and imputation pra...
6        source_note  U.S. Department of Education, National Center ...
7      last_prepared             This table was prepared December 2019.

In [6]:
tables['203.10'].col_info

,digest_table_id,digest_table_year,column_index,column_level_1,column_ref_note_1,column_level_2,column_ref_note_2,column_level_3,column_ref_note_3,column_level_4,column_ref_note_4,column_level_5,column_ref_note_5,column_level_6,column_ref_note_6,column_level_7,column_ref_note_7
0,203.10,2019,A,All grades,,,,,,,,,,,,,
1,203.10,2019,B,Elementary,,Total,,,,,,,,,,,
2,203.10,2019,C,Elementary,,Prekin-dergar-ten,,,,,,,,,,,
3,203.10,2019,D,Elementary,,Kinder-garten,,,,,,,,,,,
4,203.10,2019,E,Elementary,,1st grade,,,,,,,,,,,
5,203.10,2019,F,Elementary,,2nd grade,,,,,,,,,,,
6,203.10,2019,G,Elementary,,3rd grade,,,,,,,,,,,
7,203.10,2019,H,Elementary,,4th grade,,,,,,,,,,,
8,203.10,2019,I,Elementary,,5th grade,,,,,,,,,,,
9,203.10,2019,J,Elementary,,6th grade,,,,,,,,,,,
10,203.10,2019,K,Elementary,,7th grade,,,,,,,,,,,
11,203.10,2019,L,Elementary,,8th grade,,,,,,,,,,,
12,203.10,2019,M,Elementary,,Un- graded,,,,,,,,,,,
13,203.10,2019,N,Secondary,,Total,,,,,,,,,,,
14,203.10,2019,O,Secondary,,9th grade,,,,,,,,,,,
15,203.10,2019,P,Secondary,,10th grade,,,,,,,,,,,
16,203.10,2019,Q,Secondary,,11th grade,,,,,,,,,,,
17,203.10,2019,R,Secondary,,12th grade,,,,,,,,,,,
18,203.10,2019,S,Secondary,,Un- graded,Includes students reported as being enrolled i...,,,,,,,,,,

In [9]:
tables["203.50"].table_info.T

                   0                                                  1
0    digest_table_id                                             203.50
1  digest_table_year                                               2019
2        table_title  Enrollment and percentage distribution of enro...
3           headnote
4          stub_head                                    Region and year
5       general_note  Race categories exclude persons of Hispanic et...
6        source_note  U.S. Department of Education, National Center ...
7      last_prepared             This table was prepared December 2019.

In [11]:
tables["203.50"].col_info

,digest_table_id,digest_table_year,column_index,column_level_1,column_ref_note_1,column_level_2,column_ref_note_2,column_level_3,column_ref_note_3,column_level_4,column_ref_note_4,column_level_5,column_ref_note_5,column_level_6,column_ref_note_6,column_level_7,column_ref_note_7
0,203.50,2019,A,Enrollment (in thousands),,Total,,,,,,,,,,,
1,203.50,2019,B,Enrollment (in thousands),,White,,,,,,,,,,,
2,203.50,2019,C,Enrollment (in thousands),,Black,,,,,,,,,,,
3,203.50,2019,D,Enrollment (in thousands),,His- panic,,,,,,,,,,,
4,203.50,2019,E,Enrollment (in thousands),,Asian,,,,,,,,,,,
5,203.50,2019,F,Enrollment (in thousands),,Pacific Islander,,,,,,,,,,,
6,203.50,2019,G,Enrollment (in thousands),,American Indian/\nAlaska\nNative,,,,,,,,,,,
7,203.50,2019,H,Enrollment (in thousands),,Two or more races,,,,,,,,,,,
8,203.50,2019,I,Percentage distribution,,Total,,,,,,,,,,,
9,203.50,2019,J,Percentage distribution,,White,,,,,,,,,,,
10,203.50,2019,K,Percentage distribution,,Black,,,,,,,,,,,
11,203.50,2019,L,Percentage distribution,,His- panic,,,,,,,,,,,
12,203.50,2019,M,Percentage distribution,,Asian,,,,,,,,,,,
13,203.50,2019,N,Percentage distribution,,Pacific Islander,,,,,,,,,,,
14,203.50,2019,O,Percentage distribution,,American Indian/\nAlaska\nNative,,,,,,,,,,,
15,203.50,2019,P,Percentage distribution,,Two or more races,,,,,,,,,,,

In [23]:
tables["203.50"].raw_df

,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20
0,Table 203.50. Enrollment and percentage distri...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Region and year,Enrollment (in thousands),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Percentage distribution,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,Total,White,Black,His- panic,Asian,NaN,Pacific Islander,American Indian/\nAlaska\nNative,Two or more races,...,Total,White,Black,His- panic,Asian,NaN,Pacific Islander,American Indian/\nAlaska\nNative,Two or more races,NaN
3,1,2,3,4,5,6,NaN,7,8,9,...,10,11,12,13,14,NaN,15,16,17,NaN
4,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75,\3\Includes imputations for prekindergarten en...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
76,\4\Includes imputations for prekindergarten en...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77,\5\Projected.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78,NOTE: Race categories exclude persons of Hispa...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79,"SOURCE: U.S. Department of Education, National...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
tables["203.50"].raw_df.iloc[2,8].replace("\n", " ")

'American Indian/ Alaska Native'

In [33]:
' '.join(tables["203.50"].raw_df.iloc[2,8].split())

'American Indian/ Alaska Native'

In [26]:
tables["203.50"].raw_df.iloc[2,4].replace("- ", "")

'Hispanic'

In [28]:
tables['203.10'].raw_df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,Table 203.10. Enrollment in public elementary ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,[In thousands],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Year,All grades,Elementary,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Secondary,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,Total,Prekin-dergar-ten,Kinder-garten,1st grade,2nd grade,3rd grade,4th grade,5th grade,6th grade,7th grade,8th grade,Un- graded,Total,9th grade,10th grade,11th grade,12th grade,Un- graded\1\
4,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20
5,1980,40877.5,27646.5,96.133,2593.11,2894.47,2799.59,2893.01,3107.13,3129.86,3037.6,3085.18,3086.22,924.229,13230.9,3376.92,3367.84,3194.84,2925.09,366.252
6,1985,39422,27034.2,151.335,3041.07,3238.86,2940.99,2894.52,2771.01,2776.4,2788.82,2938.31,2981.88,511.04,12387.7,3438.95,3230.13,2866.03,2549.61,302.997
7,1990,41216.7,29875.9,303.319,3306.33,3499.43,3327.45,3296.72,3248.07,3197.34,3110.17,3066.9,2979.12,541.057,11340.8,3168.63,2895.55,2611.63,2381.08,283.874
8,1991,42046.9,30502.5,375.458,3310.93,3556.28,3360.17,3333.96,3314.93,3268.43,3239.37,3181.02,3020.07,541.894,11544.4,3313.24,2915.42,2645.1,2392.46,278.144
9,1992,42823.3,31086,504.585,3312.78,3541.71,3431.29,3361.36,3341.74,3325.43,3302.67,3299.06,3129.01,536.415,11737.3,3351.83,3027.27,2655.95,2430.54,271.689
10,1993,43464.9,31501.8,545.135,3377,3529.07,3429.24,3436.98,3361.11,3350.45,3355.63,3355.29,3249.27,512.671,11963.1,3486.96,3050.4,2751.23,2424.03,250.449
11,1994,44111.5,31896.1,602.535,3444.28,3593.38,3439.83,3439.04,3425.95,3371.88,3381.44,3403.55,3302.3,491.892,12215.4,3604.11,3131.23,2748.19,2487.55,244.316
12,1995,44840.5,32338.3,636.846,3536.23,3670.9,3507.02,3444.74,3430.58,3437.94,3395.31,3422.29,3356.34,500.112,12502.2,3704.45,3237.39,2826.02,2487.14,247.166
13,1996,45611,32762.3,670.373,3532.26,3770.42,3600.08,3523.76,3453.77,3452.85,3493.63,3463.95,3402.61,398.54,12848.8,3801.22,3323.17,2930.3,2586.45,207.654
14,1997,46126.9,33071,695.12,3503.49,3754.59,3688.97,3596.89,3507.46,3457.54,3492.49,3519.8,3415.11,439.549,13055.9,3818.84,3376.46,2971.92,2672.93,215.717
15,1998,46538.6,33343.7,728.703,3442.87,3727.16,3681.46,3695.64,3592.15,3520.1,3496.81,3529.62,3480.37,448.832,13194.9,3856.46,3382.13,3020.9,2721.71,213.646
16,1999,46857.1,33486.4,751.175,3397.2,3684.12,3655.72,3690.65,3686.37,3603.66,3564.12,3541.27,3496.98,415.178,13370.7,3934.88,3415.39,3033.94,2781.62,204.875
17,2000,47203.5,33686.4,776.064,3381.58,3635.66,3634.41,3675.8,3711.43,3706.66,3663.19,3629.32,3538.03,334.281,13517.1,3963.29,3491.01,3082.84,2802.79,177.176
18,2001,47671.9,33935.9,865.086,3379.15,3614.07,3593.34,3653.31,3694.9,3726.84,3768.81,3720.47,3615.94,304.015,13735.9,4012.35,3527.86,3173.94,2862.86,158.94
19,2002,48183.1,34114.2,914.879,3433.89,3593.84,3564.87,3622.79,3668.52,3711.47,3788,3821.37,3709.2,285.425,14068.8,4104.72,3584.41,3228.87,2989.51,161.334
20,2003,48540.2,34200.7,949.649,3503.28,3612.51,3543.78,3611.04,3619.09,3684.54,3771.93,3840.51,3809.43,254.974,14339.5,4190.24,3675.26,3277.22,3046.49,150.273
21,2004,48795.5,34177.6,990.421,3543.55,3663.01,3559.85,3580.46,3611.64,3635.18,3735.28,3818.43,3824.67,215.072,14617.9,4281.35,3750.49,3369.34,3094.35,122.376
22,2005,49113.3,34204,1036.47,3619.42,3690.85,3606.41,3586.11,3577.51,3632.83,3670.14,3777.15,3801.89,205.195,14909.3,4287.12,3866.16,3454.42,3180.25,121.384
23,2006,49315.8,34234.8,1084.39,3631,3751.14,3640.7,3627.49,3585.89,3601.8,3660.37,3716.08,3765.57,170.319,15081.1,4259.91,3882.2,3551.45,3277.4,110.132
24,2007,49290.6,34204.1,1081.11,3609.41,3750.07,3704,3658.86,3624.38,3600.09,3628.15,3700.42,3708.95,138.626,15086.5,4199.83,3862.85,3557.48,3374.51,91.812
25,2008,49265.6,34285.6,1179.51,3639.75,3708.49,3698.72,3707.77,3646.9,3629.08,3613.52,3652.62,3691.8,117.413,14980,4122.55,3822.2,3548.1,3399.69,87.467
26,2009,49361,34409.3,1222.86,3677.97,3728.77,3664.7,3707.04,3700.53,3652.13,3644.06,3641.34,3651.28,118.582,14951.7,4080.02,3809.14,3540.96,3431.69,89.921
27,2010,49484.2,34624.5,1278.68,3682.09,3753.95,3700.67,3685.83,3711.34,3717.52,3682.05,3676.31,3659.41,76.68,14859.7,4007.86,3799.88,3538.48,3471.89,41.541
28,2011,49521.7,34772.8,1290.98,3746.41,3772.64,3713.22,3703.31,3671.86,3699.12,3723.57,3695.99,3679.11,76.516,14748.9,3956.99,3751.38,3545.84,3451.88,42.833
29,2012,49771.1,35017.9,1306.99,3830.98,3823.6,3729.47,3719.14,3690.22,3672.98,3723.35,3746.49,3698.98,75.699,14753.2,3975.26,3729.96,3528.26,3477.03,42.72
30,2013,50044.5,35250.8,1328.43,3833.53,3884.82,3791.12,3737.69,3707.73,3696.72,3684.48,3747.57,3753.36,85.342,14793.7,3979.52,3760.56,3525.62,3476.13,51.901
31,2014,50312.6,35369.7,1369.36,3772.41,3863.49,3857.2,3806.16,3718.87,3719.05,3709.61,3709.74,3756.61,87.2,14942.9,4032.53,3793.89,3567.86,3496.48,52.124
32,2015\2\,50438,35388,1401.64,3713.1,3768.14,3842.45,3868.95,3792.74,3732.88,3731.33,3731.55,3718.56,86.637,15050.1,4019.48,3846.03,3597.83,3537.23,49.477
33,2016\3\,50615.2,35477.3,1425.65,3699.16,3693.85,3760.77,3874.02,3858.44,3813.74,3753.91,3761,3748.91,87.886,15137.9,3986.17,3859.68,3669.06,3571.44,51.507
34,2017\2\,50685.6,35496.1,1471.22,3684.24,3667.17,3684.09,3787.97,3859.47,3877.27,3827.02,3776.57,3772.28,88.768,15189.5,3995.57,3833.72,3676.75,3631.45,52.017
35,NaN,Projected,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,2018,50649.8,35443.4,1474.1,3691.45,3638.74,3657.59,3709.45,3776.9,3872.43,3893.34,3851.76,3788.97,88.676,15206.4,4020.51,3842.75,3652.03,3639.08,52.069
37,2019,50634,35401.8,1482.9,3713.51,3645.21,3629.24,3682.76,3698.61,3789.58,3888.48,3918.51,3864.41,88.613,15232.2,4038.3,3866.73,3660.64,3614.61,51.913
38,2020,50654.2,35293.1,1488.69,3728,3664.72,3635.69,3654.22,3672,3711.02,3805.29,3913.61,3931.38,88.496,15361.1,4118.7,3883.84,3683.48,3623.12,51.939
39,2021,50643.1,35094.1,1484.05,3716.37,3678.93,3655.15,3660.71,3643.54,3684.32,3726.41,3829.88,3926.47,88.238,15549.1,4190.08,3961.17,3699.78,3645.73,52.299
40,2022,50721.2,35018.6,1516.76,3798.29,3667.41,3669.32,3680.31,3650.01,3655.76,3699.6,3750.49,3842.46,88.212,15702.5,4184.84,4029.82,3773.44,3661.86,52.572
41,2023,50768.2,35022,1524.88,3818.62,3748.53,3657.83,3694.57,3669.55,3662.26,3670.93,3723.51,3762.81,88.521,15746.2,4095.31,4024.79,3838.84,3734.77,52.451
42,2024,50757.7,35122.7,1532.46,3837.6,3768.56,3738.74,3683,3683.78,3681.87,3677.45,3694.65,3735.74,88.857,15635,4010.41,3938.68,3834.04,3799.5,52.348
43,2025,50704.1,35266.5,1539.1,3854.23,3787.27,3758.72,3764.47,3672.24,3696.14,3697.13,3701.22,3706.78,89.205,15437.6,3981.57,3857.03,3752.01,3794.75,52.218
44,2026,50671.5,35451.8,1544.59,3867.98,3803.72,3777.38,3784.59,3753.47,3684.57,3711.47,3721.03,3713.37,89.675,15219.7,3950.7,3829.28,3674.23,3713.57,51.887
45,2027,50734.3,35641,1549.05,3879.14,3817.33,3793.79,3803.38,3773.53,3766.07,3699.84,3735.46,3733.25,90.165,15093.3,3957.73,3799.6,3647.8,3636.58,51.586
46,2028,50885,35818.1,1552.48,3887.74,3828.39,3807.36,3819.89,3792.26,3786.2,3781.68,3723.76,3747.72,90.626,15066.8,3978.91,3806.35,3619.53,3610.42,51.628
47,2029,51068.1,35986.9,1555.05,3894.17,3836.93,3818.39,3833.56,3808.73,3804.99,3801.9,3806.13,3735.99,91.068,15081.2,3994.34,3826.73,3625.96,3582.44,51.685
48,\1\Includes students reported as being enrolle...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,"\2\The prekindergarten, elementary total, and ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,"\3\The prekindergarten, elementary total, and ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,NOTE: Due to changes in reporting and imputati...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,"SOURCE: U.S. Department of Education, National...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
tables['203.10'].raw_df.iloc[3,3].replace("-", "")

'Prekindergarten'

In [32]:
tables['203.10'].raw_df.iloc[3,13].replace("- ", "")

'Ungraded'