In [1]:
import numpy as np
import pandas as pd
import re
import os
from table import Table

In [2]:
pd.set_option("display.max_rows", None, "display.max_columns", None)

In [3]:
tabn = '330.30'
tab = Table('100tables/tabn' + tabn + '.xls', '2019')

In [4]:
tab.table_info

,digest_table_id,digest_table_year,digest_table_sub_id,digest_table_sub_title,digest_table_sub_title_note,has_SE,location_in,year_in,year,location,location_type,table_title,headnote,stub_head,general_note,source_note,last_prepared
0,330.30,2019,A,,,FALSE,Title,Row,,United States,Region,"Average undergraduate tuition, fees, room, and...",,"Control and level of institution, and year",Data are for the entire academic year and are ...,"U.S. Department of Education, National Center ...",This table was prepared December 2019.

In [5]:
tab.col_info

,digest_table_id,digest_table_year,digest_table_sub_id,digest_table_sub_title,column_index,is_standard_error,is_dollar,format_string,year,location,location_type,column_level_1,column_level_2,column_level_3,column_level_4,column_level_5,column_level_6,column_level_7,column_ref_note_1,column_ref_note_2,column_ref_note_3,column_ref_note_4,column_ref_note_5,column_ref_note_6,column_ref_note_7
0,330.30,2019,A,,A,FALSE,,,,,,Current dollars,"Tuition, fees, room, and board",10th percentile,,,,,,,,,,,
1,330.30,2019,A,,B,FALSE,,,,,,Current dollars,"Tuition, fees, room, and board",25th percentile,,,,,,,,,,,
2,330.30,2019,A,,C,FALSE,,,,,,Current dollars,"Tuition, fees, room, and board",Median (50th percentile),,,,,,,,,,,
3,330.30,2019,A,,D,FALSE,,,,,,Current dollars,"Tuition, fees, room, and board",75th percentile,,,,,,,,,,,
4,330.30,2019,A,,E,FALSE,,,,,,Current dollars,"Tuition, fees, room, and board",90th percentile,,,,,,,,,,,
5,330.30,2019,A,,F,FALSE,,,,,,Current dollars,Tuition and required fees,10th percentile,,,,,,,,,,,
6,330.30,2019,A,,G,FALSE,,,,,,Current dollars,Tuition and required fees,25th percentile,,,,,,,,,,,
7,330.30,2019,A,,H,FALSE,,,,,,Current dollars,Tuition and required fees,Median (50th percentile),,,,,,,,,,,
8,330.30,2019,A,,I,FALSE,,,,,,Current dollars,Tuition and required fees,75th percentile,,,,,,,,,,,
9,330.30,2019,A,,J,FALSE,,,,,,Current dollars,Tuition and required fees,90th percentile,,,,,,,,,,,
10,330.30,2019,A,,K,FALSE,,,,,,Constant 2018-19 dollars,Tuition and required fees,10th percentile,,,,,Constant dollars based on the Consumer Price I...,,,,,,
11,330.30,2019,A,,L,FALSE,,,,,,Constant 2018-19 dollars,Tuition and required fees,25th percentile,,,,,Constant dollars based on the Consumer Price I...,,,,,,
12,330.30,2019,A,,M,FALSE,,,,,,Constant 2018-19 dollars,Tuition and required fees,Median (50th percentile),,,,,Constant dollars based on the Consumer Price I...,,,,,,
13,330.30,2019,A,,N,FALSE,,,,,,Constant 2018-19 dollars,Tuition and required fees,75th percentile,,,,,Constant dollars based on the Consumer Price I...,,,,,,
14,330.30,2019,A,,O,FALSE,,,,,,Constant 2018-19 dollars,Tuition and required fees,90th percentile,,,,,Constant dollars based on the Consumer Price I...,,,,,,

In [6]:
tab.row_info

,digest_table_id,digest_table_year,digest_table_sub_id,digest_table_sub_title,row_index,row_level_1,row_ref_note_1,row_level_2,row_ref_note_2,row_level_3,row_ref_note_3,row_level_4,row_ref_note_4,row_level_5,row_ref_note_5,row_level_6,row_ref_note_6,row_level_7,row_ref_note_7,is_total,year,location,location_type,A,B,C,D,E,F,G,H,I,J,K,L,M,N,O
6,330.30,2019,A,,1,Public institutions,Average undergraduate tuition and fees are bas...,2000-01,,,,,,,,,,,,FALSE,2000-01,,,5741.37,6879.78,8279.29,9616.85,11383.57,612,1480,2403,3444,4583,885.2489891028716,2140.798208941585,3475.904118977451,4981.69529161812,6629.242021337353
7,330.30,2019,A,,2,Public institutions,Average undergraduate tuition and fees are bas...,2005-06,,,,,,,,,,,,FALSE,2005-06,,,7699.94,9623.1,11348.0,13542.83,16263.99,990,2070,3329,5322,6972,1260.0271367693174,2634.6021950631184,4237.000341722281,6773.600426147786,8873.645654096648
8,330.30,2019,A,,3,Public institutions,Average undergraduate tuition and fees are bas...,2010-11,,,,,,,,,,,,FALSE,2010-11,,,9889.21,12855.52,15234.4,17860.21,21592.81,1230,2626,4632,7115,9420,1409.0364426673664,3008.2355271906536,5306.225042630277,8150.645763884806,10791.157146281781
9,330.30,2019,A,,4,Public institutions,Average undergraduate tuition and fees are bas...,2015-16,,,,,,,,,,,,FALSE,2015-16,,,13214.55,15946.86,18647.72,21734.71,25180.32,1632,3456,6452,9326,11948,1734.7050484108565,3673.4930436935783,6858.037360506645,9912.903971494881,12699.911714713793
10,330.30,2019,A,,5,Public institutions,Average undergraduate tuition and fees are bas...,2017-18,,,,,,,,,,,,FALSE,2017-18,,,13965.0,16748.5,19921.83,23093.14,26926.64,1632,3724,6897,9952,12700,1665.8204944262188,3801.173726251985,7039.928890966686,10158.238701304981,12963.18644559619
11,330.30,2019,A,,6,Public institutions,Average undergraduate tuition and fees are bas...,2018-19,,,,,,,,,,,,FALSE,2018-19,,,14110.63,17280.56,20554.31,23754.58,27959.61,1696,3843,7140,10308,13110,1696.0,3843.0,7140.0,10308.0,13110.0
13,330.30,2019,A,,7,Public institutions,Average undergraduate tuition and fees are bas...,Public 4-year,Average undergraduate tuition and fees are bas...,2000-01,,,,,,,,,,FALSE,2000-01,,,6502.66,7347.03,8467.71,9816.11,11610.81,2118,2520,3314,4094,5085,3063.655815228565,3645.1428963059416,4793.6522056975755,5921.910721220844,7355.3776300459185
14,330.30,2019,A,,8,Public institutions,Average undergraduate tuition and fees are bas...,Public 4-year,Average undergraduate tuition and fees are bas...,2005-06,,,,,,,,,,FALSE,2005-06,,,8863.19,10219.47,11596.06,13829.75,16442.77,3094,3822,5084,6458,8097,3937.9029910750187,4864.468400739728,6470.684811449707,8219.449746723487,10305.49467315269
15,330.30,2019,A,,9,Public institutions,Average undergraduate tuition and fees are bas...,Public 4-year,Average undergraduate tuition and fees are bas...,2010-11,,,,,,,,,,FALSE,2010-11,,,12048.45,13604.26,15822.89,18418.91,22190.51,4336,5091,6779,8689,11029,4967.139849923334,5832.036202942733,7765.738247839087,9953.754187265647,12634.36010258405
16,330.30,2019,A,,10,Public institutions,Average undergraduate tuition and fees are bas...,Public 4-year,Average undergraduate tuition and fees are bas...,2015-16,,,,,,,,,,FALSE,2015-16,,,14732.61,16559.3,19216.91,21978.71,25658.26,5360,6691,8256,10509,13431,5697.315600172911,7112.07811208152,8775.566715490215,11170.352545189762,14276.239892895963
17,330.30,2019,A,,11,Public institutions,Average undergraduate tuition and fees are bas...,Public 4-year,Average undergraduate tuition and fees are bas...,2017-18,,,,,,,,,,FALSE,2017-18,,,15662.93,17460.85,20369.49,23274.09,27282.88,4343,6958,8738,10974,14018,4433.001475057028,7102.193014839235,8919.080563907048,11201.417957005715,14308.499810580108
18,330.30,2019,A,,12,Public institutions,Average undergraduate tuition and fees are bas...,Public 4-year,Average undergraduate tuition and fees are bas...,2018-19,,,,,,,,,,FALSE,2018-19,,,15852.0,18067.5,20864.17,24107.58,28094.51,4200,7120,8938,11261,14184,4200.0,7120.0,8938.0,11261.0,14184.0
20,330.30,2019,A,,13,Public institutions,Average undergraduate tuition and fees are bas...,Public 2-year,Average undergraduate tuition and fees are bas...,2000-01,,,,,,,,,,FALSE,2000-01,,,3320.99,3804.42,4627.11,5749.67,6870.89,310,724,1387,1799,2460,448.4104356566833,1047.2553400498023,2006.2750782445798,2602.227012085075,3558.353779727229
21,330.30,2019,A,,14,Public institutions,Average undergraduate tuition and fees are bas...,Public 2-year,Average undergraduate tuition and fees are bas...,2005-06,,,,,,,,,,FALSE,2005-06,,,4380.0,4822.11,6234.42,7567.0,8993.04,691,1109,1920,2589,3100,879.4734863713114,1411.4849441183567,2443.6889925223127,3295.1618758543054,3945.5395191766506
22,330.30,2019,A,,15,Public institutions,Average undergraduate tuition and fees are bas...,Public 2-year,Average undergraduate tuition and fees are bas...,2010-11,,,,,,,,,,FALSE,2010-11,,,5346.9,6327.11,7338.95,9369.53,11311.77,700,1412,2537,3315,3840,801.8906584285825,1617.528013858798,2906.2808577618766,3797.525046701073,4398.943040522509
23,330.30,2019,A,,16,Public institutions,Average undergraduate tuition and fees are bas...,Public 2-year,Average undergraduate tuition and fees are bas...,2015-16,,,,,,,,,,FALSE,2015-16,,,6474.26,7502.92,9336.72,11853.83,14978.18,1182,1514,3077,4115,5032,1256.385641679922,1609.2790706458557,3270.641810024636,4373.965241550658,5348.673899266808
24,330.30,2019,A,,17,Public institutions,Average undergraduate tuition and fees are bas...,Public 2-year,Average undergraduate tuition and fees are bas...,2017-18,,,,,,,,,,FALSE,2017-18,,,6895.68,8355.11,9786.67,12586.59,15400.0,1244,1632,3304,4394,5190,1269.7798376631226,1665.8204944262188,3372.4699225393547,4485.058365507846,5297.554145877497
25,330.30,2019,A,,18,Public institutions,Average undergraduate tuition and fees are bas...,Public 2-year,Average undergraduate tuition and fees are bas...,2018-19,,,,,,,,,,FALSE,2018-19,,,7075.79,8386.0,10389.38,12899.75,15680.0,1220,1661,3375,4530,5300,1220.0,1661.0,3375.0,4530.0,5300.0
27,330.30,2019,A,,19,Private nonprofit institutions,,2000-01,,,,,,,,,,,,FALSE,2000-01,,,13513.55,17551.58,22492.73,27429.7,32659.22,7800,11730,15540,19600,24532,11282.585155232677,16967.27229113837,22478.381193886642,28351.11141571288,35485.17679848308
28,330.30,2019,A,,20,Private nonprofit institutions,,2005-06,,,,,,,,,,,,FALSE,2005-06,,,18243.33,23258.13,29496.82,35917.62,41706.55,9981,15375,21070,26265,31690,12703.364497065208,19568.60326043258,26816.94118356517,33428.90176489507,40333.59592345421
29,330.30,2019,A,,21,Private nonprofit institutions,,2010-11,,,,,,,,,,,,FALSE,2010-11,,,23142.63,29884.1,38062.8,47060.55,52234.51,11930,19625,26920,34536,40082,13666.507935789985,22481.577388087044,30838.42360699634,39562.99397069932,45916.25910162063
30,330.30,2019,A,,22,Private nonprofit institutions,,2015-16,,,,,,,,,,,,FALSE,2015-16,,,25902.69,36435.96,45950.58,57464.94,63209.12,11900,23162,32250,42270,48190,12648.890977995829,24619.631330448687,34279.55748238365,44930.13627225913,51222.693800808316
31,330.30,2019,A,,23,Private nonprofit institutions,,2017-18,,,,,,,,,,,,FALSE,2017-18,,,28232.0,39205.79,49182.0,61550.39,67642.91,12300,24695,34440,45548,51992,12554.897108727017,25206.76293496046,35153.71190443565,46491.90678929254,53069.44800625489
32,330.30,2019,A,,24,Private nonprofit institutions,,2018-19,,,,,,,,,,,,FALSE,2018-19,,,28314.42,40448.83,50967.86,63837.51,70090.8,12132,25122,35160,47280,53425,12132.0,25122.0,35160.0,47279.99999999999,53425.0
34,330.30,2019,A,,25,Private nonprofit institutions,,Nonprofit 4-year,,2000-01,,,,,,,,,,FALSE,2000-01,,,13971.76,17713.68,22554.0,27476.0,32659.22,8450,11920,15746,19730,24532,12222.8005848354,17242.10449363763,22776.35716080689,28539.154501633424,35485.17679848308
35,330.30,2019,A,,26,Private nonprofit institutions,,Nonprofit 4-year,,2005-06,,,,,,,,,,FALSE,2005-06,,,18350.24,23322.2,29597.54,36027.62,41774.0,10300,15560,21190,26500,31690,13109.373241135323,19804.062876899574,26969.671745597814,33727.999115542334,40333.59592345421
36,330.30,2019,A,,27,Private nonprofit institutions,,Nonprofit 4-year,,2010-11,,,,,,,,,,FALSE,2010-11,,,23547.89,30042.11,38128.51,47060.55,52234.51,12220,19854,27100,34580,40082,13998.71977999611,22743.91018920154,31044.624062020834,39613.39852637197,45916.25910162063
37,330.30,2019,A,,28,Private nonprofit institutions,,Nonprofit 4-year,,2015-16,,,,,,,,,,FALSE,2015-16,,,26315.21,36536.84,46094.21,57464.94,63209.12,12240,23748,32400,42288,48190,13010.287863081423,25242.50949121386,34438.9972846273,44949.26904852837,51222.693800808316
38,330.30,2019,A,,29,Private nonprofit institutions,,Nonprofit 4-year,,2017-18,,,,,,,,,,FALSE,2017-18,,,28370.0,39205.79,49464.42,61550.39,67642.91,12360,25025,34600,45620,52002,12616.140509257393,25543.60163787753,35317.02763918332,46565.398869928984,53079.65523967661
39,330.30,2019,A,,30,Private nonprofit institutions,,Nonprofit 4-year,,2018-19,,,,,,,,,,FALSE,2018-19,,,28581.33,40456.67,51027.92,63837.51,70090.8,12306,25390,35350,47290,53430,12306.0,25389.999999999996,35350.0,47290.0,53430.0
41,330.30,2019,A,,31,Private nonprofit institutions,,Nonprofit 2-year,,2000-01,,,,,,,,,,FALSE,2000-01,,,6850.43,6850.43,9994.74,14208.99,20240.03,2430,4825,7250,8266,11100,3514.959221437872,6979.29145820483,10487.018253261142,11956.647293994014,16055.986567061886
42,330.30,2019,A,,32,Private nonprofit institutions,,Nonprofit 2-year,,2005-06,,,,,,,,,,FALSE,2005-06,,,8030.11,15679.85,16830.33,20829.43,28643.41,4218,8640,9940,12270,14472,5368.479255447456,10996.600466350406,12651.181555037389,15616.699967837903,18419.30578113693
43,330.30,2019,A,,33,Private nonprofit institutions,,Nonprofit 2-year,,2010-11,,,,,,,,,,FALSE,2010-11,,,10393.16,19718.0,21186.36,27385.97,30758.08,3840,9730,12000,14640,18965,4398.943040522509,11146.280152157296,13746.697001632841,16770.970341992066,21725.509052997237
44,330.30,2019,A,,34,Private nonprofit institutions,,Nonprofit 2-year,,2015-16,,,,,,,,,,FALSE,2015-16,,,22582.27,23059.05,25695.71,31405.22,53386.67,4904,10800,14110,17346,22060,5212.618601352231,11479.665761542432,14997.970731052197,18437.618731455095,23448.280249965377
45,330.30,2019,A,,35,Private nonprofit institutions,,Nonprofit 2-year,,2017-18,,,,,,,,,,FALSE,2017-18,,,14586.95,26265.22,29227.0,33545.51,59559.73,4904,9867,15022,18450,23670,5005.627270016041,10071.477217220283,15333.306046121728,18832.345663090524,24160.52150923321
46,330.30,2019,A,,36,Private nonprofit institutions,,Nonprofit 2-year,,2018-19,,,,,,,,,,FALSE,2018-19,,,16334.0,26181.43,29519.89,34694.41,65073.14,4593,10439,14539,18971,28432,4593.0,10439.0,14539.0,18971.0,28432.0
48,330.30,2019,A,,37,Private for-profit institutions,,2000-01,,,,,,,,,,,,FALSE,2000-01,,,13395.79,15777.63,19403.33,21400.0,21845.0,6900,8202,9644,12090,14600,9980.748406551984,11864.072236310052,13949.904004751788,17488.00699061065,21118.68503415347
49,330.30,2019,A,,38,Private for-profit institutions,,2005-06,,,,,,,,,,,,FALSE,2005-06,,,17277.81,19097.89,25589.39,26499.39,31903.19,7632,10011,12450,14335,17740,9713.663745276192,12741.54713757337,15845.795810886872,18244.938389482995,22578.668087159287
50,330.30,2019,A,,39,Private for-profit institutions,,2010-11,,,,,,,,,,,,FALSE,2010-11,,,16096.95,16096.95,17484.29,26175.09,31639.47,10194,10194,13520,15750,18048,11677.8191028871,11677.8191028871,15487.945288506335,18042.539814643103,20675.032290455794
51,330.30,2019,A,,40,Private for-profit institutions,,2015-16,,,,,,,,,,,,FALSE,2015-16,,,17407.46,17407.46,26027.68,26404.63,35376.84,10575,11003,13320,17132,19286,11240.506058176965,11695.440960578831,14158.254439235667,18210.151280254162,20499.706840472903
52,330.30,2019,A,,41,Private for-profit institutions,,2017-18,,,,,,,,,,,,FALSE,2017-18,,,25281.44,26226.21,26226.21,27253.37,37318.63,10935,11330,13794,17002,21331,11161.60974666097,11564.795466819276,14079.857781933371,17354.338263624126,21773.049611890732
53,330.30,2019,A,,42,Private for-profit institutions,,2018-19,,,,,,,,,,,,FALSE,2018-19,,,26278.0,26301.5,26301.5,27274.37,35985.89,9552,9552,13380,17076,24030,9552.0,9552.0,13380.0,17076.0,24030.0
55,330.30,2019,A,,43,Private for-profit institutions,,For-profit 4-year,,2000-01,,,,,,,,,,FALSE,2000-01,,,13395.79,15818.42,20416.58,21400.0,21400.0,7206,8305,9675,12800,15090,10423.37290110342,12013.06021977018,13994.745048317454,18515.011536792084,21827.462819546294
56,330.30,2019,A,,44,Private for-profit institutions,,For-profit 4-year,,2005-06,,,,,,,,,,FALSE,2005-06,,,17382.63,19097.89,25589.39,26499.39,31903.19,7632,10418,12900,14450,17735,9713.663745276192,13259.558293800757,16418.535418509287,18391.305178097613,22572.30431374126
57,330.30,2019,A,,45,Private for-profit institutions,,For-profit 4-year,,2010-11,,,,,,,,,,FALSE,2010-11,,,16096.95,16096.95,17484.29,26175.09,31639.47,10194,10194,13560,16500,18048,11677.8191028871,11677.8191028871,15533.767611845113,18901.70837724516,20675.032290455794
58,330.30,2019,A,,46,Private for-profit institutions,,For-profit 4-year,,2015-16,,,,,,,,,,FALSE,2015-16,,,17407.46,17407.46,26027.68,26404.63,35376.84,10607,11003,12975,17132,19459,11274.51988265561,11695.440960578831,13791.542894075283,18210.151280254162,20683.594079060575
59,330.30,2019,A,,47,Private for-profit institutions,,For-profit 4-year,,2017-18,,,,,,,,,,FALSE,2017-18,,,25281.44,26226.21,26226.21,27253.37,37318.63,10935,11330,13516,17002,23204,11161.60974666097,11564.795466819276,13796.096692809298,17354.338263624126,23684.86443178063
60,330.30,2019,A,,48,Private for-profit institutions,,For-profit 4-year,,2018-19,,,,,,,,,,FALSE,2018-19,,,26278.0,26301.5,26301.5,27274.37,39253.47,9552,9552,13354,17076,24109,9552.0,9552.0,13354.0,17076.0,24109.0
62,330.30,2019,A,,49,Private for-profit institutions,,For-profit 2-year,,2000-01,,,,,,,,,,FALSE,2000-01,,,15777.63,15777.63,19403.33,21845.0,21845.0,6025,7365,9644,12000,14255,8715.073789779086,10653.364060037009,13949.904004751788,17357.82331574258,20619.647613825873
63,330.30,2019,A,,50,Private for-profit institutions,,For-profit 2-year,,2005-06,,,,,,,,,,FALSE,2005-06,,,13010.0,18281.11,43425.33,43425.33,43425.33,7870,9285,11550,14196,19425,10016.57935997427,11817.52723727587,14700.316595642036,18068.025488461848,24723.259729034336
64,330.30,2019,A,,51,Private for-profit institutions,,For-profit 2-year,,2010-11,,,,,,,,,,FALSE,2010-11,,,23687.22,23687.22,25160.59,25160.59,25160.59,10075,12049,13418,15263,17918,11541.49769095424,13802.829347722844,15371.098363992458,17484.653027993507,20526.109739604773
65,330.30,2019,A,,52,Private for-profit institutions,,For-profit 2-year,,2015-16,,,,,,,,,,FALSE,2015-16,,,25732.33,25732.33,25732.33,25732.33,25732.33,10510,12678,13975,15760,18048,11171.41547720472,13475.852085632867,14854.474909032915,16751.808555732292,19183.797005955355
66,330.30,2019,A,,53,Private for-profit institutions,,For-profit 2-year,,2017-18,,,,,,,,,,FALSE,2017-18,,,27356.0,27356.0,27356.0,27356.0,27356.0,10880,11580,14220,15743,17614,11105.469962841458,11819.97630236251,14514.68592569904,16069.247575828409,17979.02094903396
67,330.30,2019,A,,54,Private for-profit institutions,,For-profit 2-year,,2018-19,,,,,,,,,,FALSE,2018-19,,,30717.75,30717.75,30717.75,30717.75,30717.75,11156,12945,14843,16207,18060,11156.0,12944.999999999998,14843.0,16207.0,18060.0

In [7]:
# tab.row_info.loc[13:18, 'row_level_3'] = tab.row_info.loc[13:18, 'row_level_2'].values
# tab.row_info.loc[20:25, 'row_level_3'] = tab.row_info.loc[20:25, 'row_level_2'].values
# tab.row_info.loc[34:39, 'row_level_3'] = tab.row_info.loc[34:39, 'row_level_2'].values
# tab.row_info.loc[41:46, 'row_level_3'] = tab.row_info.loc[41:46, 'row_level_2'].values
# tab.row_info.loc[55:60, 'row_level_3'] = tab.row_info.loc[41:46, 'row_level_2'].values
# tab.row_info.loc[62:67, 'row_level_3'] = tab.row_info.loc[62:67, 'row_level_2'].values

# tab.row_info.loc[13:18, 'row_level_2'] = 'Public 4-year'
# tab.row_info.loc[20:25, 'row_level_2'] = 'Public 2-year'
# tab.row_info.loc[34:39, 'row_level_2'] = 'Nonprofit 4-year'
# tab.row_info.loc[41:46, 'row_level_2'] = 'Nonprofit 2-year'
# tab.row_info.loc[55:60, 'row_level_2'] = 'For-profit 4-year'
# tab.row_info.loc[62:67, 'row_level_2'] = 'For-profit 2-year'

# tab.row_info.loc[13:18, 'row_ref_note_2'] = 'Average undergraduate tuition and fees are based on in-state students only.'
# tab.row_info.loc[20:25, 'row_ref_note_2'] = 'Average undergraduate tuition and fees are based on in-state students only.'


# tab.row_info

In [8]:
tab.cell_info

Empty DataFrame
Columns: [digest_table_id, digest_table_year, digest_table_sub_id, digest_table_sub_title, is_standard_error, is_dollar, format_string, row_index, column_index, cell_note]
Index: []

In [10]:
tab.write_xlsx()