In [1]:
import numpy as np
import pandas as pd
import re
import os
from table import Table

In [2]:
pd.set_option("display.max_rows", None, "display.max_columns", None)

In [94]:
tabn = '204.20'
tab = Table('100tables/tabn' + tabn + '.xls', '2019')

In [95]:
tab.col_info

,digest_table_id,digest_table_year,digest_table_sub_id,digest_table_sub_title,column_index,value_represents,is_total,year,column_level_1,column_ref_note_1,column_level_2,column_ref_note_2,column_level_3,column_ref_note_3,column_level_4,column_ref_note_4,column_level_5,column_ref_note_5,column_level_6,column_ref_note_6,column_level_7,column_ref_note_7
0,204.20,2019,A,,A,Count,FALSE,2000,Number of ELL students,,2000,,,,,,,,,,,
1,204.20,2019,A,,B,Count,FALSE,2005.0,Number of ELL students,,2005.0,,,,,,,,,,,
2,204.20,2019,A,,C,Count,FALSE,2010.0,Number of ELL students,,2010.0,,,,,,,,,,,
3,204.20,2019,A,,D,Count,FALSE,2014.0,Number of ELL students,,2014.0,,,,,,,,,,,
4,204.20,2019,A,,E,Count,FALSE,2015.0,Number of ELL students,,2015.0,,,,,,,,,,,
5,204.20,2019,A,,F,Count,FALSE,2016.0,Number of ELL students,,2016.0,,,,,,,,,,,
6,204.20,2019,A,,G,Count,FALSE,2017.0,Number of ELL students,,2017.0,,,,,,,,,,,
7,204.20,2019,A,,H,Percentage,FALSE,2000,Number of ELL students as a percent of total e...,,2000,,,,,,,,,,,
8,204.20,2019,A,,I,Percentage,FALSE,2005.0,Number of ELL students as a percent of total e...,,2005.0,,,,,,,,,,,
9,204.20,2019,A,,J,Percentage,FALSE,2010.0,Number of ELL students as a percent of total e...,,2010.0,,,,,,,,,,,
10,204.20,2019,A,,K,Percentage,FALSE,2014.0,Number of ELL students as a percent of total e...,,2014.0,,,,,,,,,,,
11,204.20,2019,A,,L,Percentage,FALSE,2015.0,Number of ELL students as a percent of total e...,,2015.0,,,,,,,,,,,
12,204.20,2019,A,,M,Percentage,FALSE,2016.0,Number of ELL students as a percent of total e...,,2016.0,,,,,,,,,,,
13,204.20,2019,A,,N,Percentage,FALSE,2017.0,Number of ELL students as a percent of total e...,,2017.0,,,,,,,,,,,

In [96]:
tab.row_info

,digest_table_id,digest_table_year,digest_table_sub_id,digest_table_sub_title,row_index,row_level_1,row_ref_note_1,row_level_2,row_ref_note_2,row_level_3,row_ref_note_3,row_level_4,row_ref_note_4,row_level_5,row_ref_note_5,row_level_6,row_ref_note_6,row_level_7,row_ref_note_7,is_total,year,location,location_type,A,B,C,D,E,F,G,H,I,J,K,L,M,N
4,204.20,2019,A,,1,United States,,,,,,,,,,,,,,TRUE,,,State,3793763.710609548,4471299.659243308,4455860,4670356.0,4794994.0,4858377.0,4952708.0,8.062786775121264,9.164298574013513,9.243467493742363,9.542395100805164,9.77843845708243,9.876850838293146,10.063544269841127
5,204.20,2019,A,,2,United States,,Alabama,,,,,,,,,,,,FALSE,,Alabama,State,7226,16550,17559,18651.0,20228.0,20725.0,25212.0,0.9910087827570506,2.270024565643487,2.4048812556496015,2.5441693221004846,2.768838656426107,2.8383606669633994,3.468313056110405
6,204.20,2019,A,,3,United States,,Alaska,,,,,,,,,,,,FALSE,,Alaska,State,19337,20743,14963,15089.0,15203.0,14662.0,15623.0,14.500284951558234,15.437914917686285,11.255707590813694,11.778894943092224,11.775412832667225,11.322794634376136,12.084061692681342
7,204.20,2019,A,,4,United States,,Arizona,,,,,,,,,,,,FALSE,,Arizona,State,131933,174856,76320,67389.0,67195.0,70546.0,88629.0,15.03174219775412,18.171539264142865,7.315263711806215,6.110407886433043,6.107009678331136,6.335899870041574,8.081227142214972
8,204.20,2019,A,,5,United States,,Arkansas,,,,,,,,,,,,FALSE,,Arkansas,State,11850,20709,31537,37799.0,38376.0,41482.0,39836.0,2.6335732811211687,4.591948734436844,6.809755676235923,7.939581963649196,8.06135502857899,8.691589176685538,8.312015657537277
9,204.20,2019,A,,6,United States,,California,,,,,,,,,,,,FALSE,,California,State,1479819,1571463,1474250,1392295.0,1307804.0,1260672.0,1197296.0,24.45620028111544,25.165944606714202,23.318663836212426,22.32845055424407,21.003038991368996,20.241240094505105,19.247853800061186
11,204.20,2019,A,,7,United States,,Colorado,,,,,,,,,,,,FALSE,,Colorado,State,60852,99797,99804,104979.0,104289.0,105810.0,104299.0,8.39907909919559,13.273313453798702,13.029651059563225,12.244690864683097,12.030273806996982,12.126289442529913,11.889557152497856
12,204.20,2019,A,,8,United States,,Connecticut,,,,,,,,,,,,FALSE,,Connecticut,State,20499,29789,30428,34855.0,35064.0,36573.0,38089.0,3.6463475156489302,5.200384761086758,5.269921543497462,6.642957474018041,6.748943312263737,7.079805335842132,7.428970429619921
13,204.20,2019,A,,9,United States,,Delaware,,,,,,,,,,,,FALSE,,Delaware,State,2081,5919,6858,8482.0,9704.0,10831.0,12296.0,1.813175802249697,5.0875865981330906,5.7578479854248705,6.4004467182807385,7.280147643554849,8.052608492003897,9.142619208720285
14,204.20,2019,A,,10,United States,,District of Columbia,,,,,,,,,,,,FALSE,,District of Columbia,State,8594,5001,5261,7330.0,6215.0,6574.0,8145.0,12.468625317373958,6.565921802379014,6.857939880595458,10.637217199494986,8.667094326992803,8.96788803099337,10.919987129296938
15,204.20,2019,A,,11,United States,,Florida,,,,,,,,,,,,FALSE,,Florida,State,187566,221705,229758,252318.0,268189.0,288921.0,280540.0,7.699251157252052,8.723467210811977,8.65382768352538,9.350891347280967,9.81617883893486,10.481599762593966,10.123474342906983
17,204.20,2019,A,,12,United States,,Georgia,,,,,,,,,,,,FALSE,,Georgia,State,54444,86615,81409,97768.0,112006.0,114427.0,113605.0,3.7679151409369407,5.78972628561803,5.240573000385597,5.756859706280506,6.547944757014109,6.664682488834632,6.601426217200607
18,204.20,2019,A,,13,United States,,Hawaii,,,,,,,,,,,,FALSE,,Hawaii,State,12718,18106,19092,14425.0,13619.0,12658.0,14773.0,6.898459535691039,9.84937088272253,10.4222507301362,7.974239199535642,7.548958200533233,7.0360529621682915,8.241332180413377
19,204.20,2019,A,,14,United States,,Idaho,,,,,,,,,,,,FALSE,,Idaho,State,18097,18184,15393,12755.0,13492.0,16187.0,17849.0,7.383004850744747,7.314443854483435,6.010918292435295,4.4243950493950495,4.656781533024078,5.493375505660684,5.98275128125199
20,204.20,2019,A,,15,United States,,Illinois,,,,,,,,,,,,FALSE,,Illinois,State,126475,172048.89203531443,174340,210221.0,194040.0,197496.0,217790.0,6.173149836586632,8.254964263538465,8.311787873485759,10.66629796690835,9.92943367840384,10.171293196683319,11.334439073031383
21,204.20,2019,A,,16,United States,,Indiana,,,,,,,,,,,,FALSE,,Indiana,State,30953,56510,49573,57839.0,50717.0,47676.0,55607.0,3.126720413434604,5.629192508223143,4.853422204555891,5.615093445740698,4.932466340150239,4.625751335302936,5.372714106140259
23,204.20,2019,A,,17,United States,,Iowa,,,,,,,,,,,,FALSE,,Iowa,State,11253,15156,21733,25875.0,27300.0,28659.0,29473.0,2.272965985295306,3.1430289707803656,4.543620470857315,5.43105239627477,5.698862106324484,5.964114175358567,6.1224023465089035
24,204.20,2019,A,,18,United States,,Kansas,,,,,,,,,,,,FALSE,,Kansas,State,14878,24671,39323,47209.0,52789.0,54667.0,49238.0,3.1767044520409016,5.238148823640568,8.382004365471845,9.872827921392139,11.064301598579785,11.507751897188689,10.34831349685902
25,204.20,2019,A,,19,United States,,Kentucky,,,,,,,,,,,,FALSE,,Kentucky,State,4030,10138,16351,20716.0,22067.0,21897.0,25653.0,0.626038867226943,1.5337298015288887,2.42310268584876,3.132641256927695,3.346253112423308,3.332293434178188,3.9376194386670456
26,204.20,2019,A,,20,United States,,Louisiana,,,,,,,,,,,,FALSE,,Louisiana,State,10293,12006,11698,18665.0,23924.0,22843.0,25060.0,1.385163822906812,1.643612826915495,1.6151189938711632,2.7105721754284056,3.465905222182141,3.318664747014102,3.644327588112454
27,204.20,2019,A,,21,United States,,Maine,,,,,,,,,,,,FALSE,,Maine,State,2409.638739475035,3353,4792,5177.0,5091.0,5295.0,5775.0,1.1347005492939009,1.6025809535189388,2.410220299768635,2.9177374994364036,2.8890515671019257,3.0244181065257747,3.3027176648213383
29,204.20,2019,A,,22,United States,,Maryland,,,,,,,,,,,,FALSE,,Maryland,State,24213,31416,45500,60705.0,63349.0,69079.0,79656.0,2.838835998686864,3.624603832970096,5.256706344209131,7.191436379984576,7.465409331260819,8.076807954391331,9.227326118837619
30,204.20,2019,A,,23,United States,,Massachusetts,,,,,,,,,,,,FALSE,,Massachusetts,State,49077,51618,54988,75531.0,82779.0,86658.0,93217.0,5.009221900252416,5.251126920036745,5.636476576866542,8.143776234030465,8.855935784596392,9.269415037849738,9.979263617551307
31,204.20,2019,A,,24,United States,,Michigan,,,,,,,,,,,,FALSE,,Michigan,State,49278.72053218757,65419,56474,81678.0,89597.0,94921.0,97837.0,2.890271270977449,3.664601492303211,3.2262542624729287,5.469576077384879,6.024259213189266,6.412497888870123,6.645903242898093
32,204.20,2019,A,,25,United States,,Minnesota,,,,,,,,,,,,FALSE,,Minnesota,State,44360,57831,48428,66934.0,71162.0,72128.0,73203.0,5.19265256050681,6.828623754414677,5.775530916406978,7.946971118113452,8.382443538479118,8.425567804163487,8.489745457244517
33,204.20,2019,A,,26,United States,,Mississippi,,,,,,,,,,,,FALSE,,Mississippi,State,2176,2859,5620,7773.0,9588.0,13042.0,12865.0,0.43710139105107215,0.5803367536461346,1.1344917799812666,1.5977126789281986,1.9878382777044075,2.7296568150376004,2.722238562471831
35,204.20,2019,A,,27,United States,,Missouri,,,,,,,,,,,,FALSE,,Missouri,State,10238,18745,21918,29144.0,29690.0,30950.0,33925.0,1.1200675672718838,2.022882475330438,2.3848513303396657,3.2870458093098374,3.3514924244305626,3.5041755733487916,3.8445498618568523
36,204.20,2019,A,,28,United States,,Montana,,,,,,,,,,,,FALSE,,Montana,State,7712.815159233153,6711,3300,3299.0,3202.0,3000.0,3191.0,4.980025930094046,4.47414913830461,2.249412085477659,2.3021150987767176,2.2211277668717613,2.06456585620987,2.16849129817265
37,204.20,2019,A,,29,United States,,Nebraska,,,,,,,,,,,,FALSE,,Nebraska,State,11276,17449,20077,17528.0,20900.0,22507.0,23332.0,3.9399159326203095,6.113832418833785,7.025604596719728,5.8941025347869065,6.958571528455231,7.434751442719017,7.61853761432541
38,204.20,2019,A,,30,United States,,Nevada,,,,,,,,,,,,FALSE,,Nevada,State,38301.18513287034,63856,83352,75282.0,78416.0,75430.0,81635.0,11.241711367827493,17.281825612046614,20.833677012020004,16.583435949061478,16.974152169066155,16.106577154839233,17.118670013441623
39,204.20,2019,A,,31,United States,,New Hampshire,,,,,,,,,,,,FALSE,,New Hampshire,State,2728,2875.9743001075126,3965,3605.0,4116.0,4321.0,4988.0,1.308638066592792,1.384870444167704,1.9168294239359542,1.991371643530666,2.3035336519627045,2.442305409698004,2.8417442430181286
41,204.20,2019,A,,32,United States,,New Jersey,,,,,,,,,,,,FALSE,,New Jersey,State,55462.591020587046,50515,52771,66748.0,68725.0,70941.0,79574.0,4.2269740152004704,3.694104862411688,3.798702116708718,4.960931954784674,5.1075350727317455,5.261623767311048,5.921781639604362
42,204.20,2019,A,,33,United States,,New Mexico,,,,,,,,,,,,FALSE,,New Mexico,State,68679,62682,52557,48906.0,52821.0,44899.0,52892.0,21.441884715410094,19.57197811805261,16.11673648122367,14.714722846543369,16.144077509665784,13.654043237752903,16.29170568232221
43,204.20,2019,A,,34,United States,,New York,,,,,,,,,,,,FALSE,,New York,State,230625,194123,208125,187445.0,216378.0,236792.0,243737.0,8.001733405315683,6.66042447369667,7.337809294170615,6.9842300114165115,8.130855449955583,8.888001393301344,9.16612920512729
44,204.20,2019,A,,35,United States,,North Carolina,,,,,,,,,,,,FALSE,,North Carolina,State,44165,73634,103249,94093.0,102090.0,92388.0,105801.0,3.4140153582377755,5.5117125951098656,7.4507452260646545,6.201160579828582,6.688422000184752,6.0333838357452585,6.893565783738246
45,204.20,2019,A,,36,United States,,North Dakota,,,,,,,,,,,,FALSE,,North Dakota,State,925.1569489086112,2213.462158098181,2788,3111.0,3171.0,3198.0,3669.0,0.8472055648836652,2.1237343805211624,2.7737705570423725,2.976378404753021,2.9793951010513853,2.987640249997664,3.361675615253523
47,204.20,2019,A,,37,United States,,Ohio,,,,,,,,,,,,FALSE,,Ohio,State,25657.971762640405,29804,37116,46766.0,51441.0,56945.0,53392.0,1.4022412364001855,1.6209913043856616,2.0171388323681327,2.7612145187240764,3.055658352673382,3.40174253806015,3.204630725009288
48,204.20,2019,A,,38,United States,,Oklahoma,,,,,,,,,,,,FALSE,,Oklahoma,State,38042,47381,41812,49102.0,46831.0,46396.0,52200.0,6.105182070581439,7.586446518121906,6.642339593027227,7.597482875414093,7.191293852442654,7.108820293754424,7.989408676620266
49,204.20,2019,A,,39,United States,,Oregon,,,,,,,,,,,,FALSE,,Oregon,State,43416,64676,58946,49485.0,52786.0,56598.0,51036.0,7.939288653195575,11.672872249224378,10.678333016312964,8.668545712849278,9.157765259616903,9.77602440292462,8.788945450537641
50,204.20,2019,A,,40,United States,,Pennsylvania,,,,,,,,,,,,FALSE,,Pennsylvania,State,42412.40196947185,42795.14685579298,47014,51623.0,52624.0,56454.0,61724.0,2.3376588671662053,2.3555919924894866,2.5717566267287864,2.9752964461048474,3.078843888971123,3.2829002383059693,3.5921320412893825
51,204.20,2019,A,,41,United States,,Rhode Island,,,,,,,,,,,,FALSE,,Rhode Island,State,10245,7468,7655,10066.0,10550.0,11057.0,12620.0,6.511086960666552,4.69685534591195,4.891436312285141,7.2111182749480625,7.559255968587888,7.917537879872826,8.98399681075232
53,204.20,2019,A,,42,United States,,South Carolina,,,,,,,,,,,,FALSE,,South Carolina,State,5121,14388,36379,42480.0,42574.0,44301.0,45574.0,0.7533940246335277,2.0714557202584567,5.16941011970398,5.8013052936910805,5.761971851954109,5.941362888375979,6.072476918751607
54,204.20,2019,A,,43,United States,,South Dakota,,,,,,,,,,,,FALSE,,South Dakota,State,4270,5110,4383,4679.0,4598.0,4678.0,5452.0,3.320295794032799,3.990659825535537,3.4993173816196017,3.5922397180871077,3.5061498692247275,3.516975911947794,4.055642341739195
55,204.20,2019,A,,44,United States,,Tennessee,,,,,,,,,,,,FALSE,,Tennessee,State,26452.229344173156,28251.183893994898,29681,36398.0,40637.0,43277.0,44790.0,2.961973408778701,3.1214742789138494,3.153892662877448,3.754062397183061,4.185571278928562,4.445163444007909,4.600508634042326
56,204.20,2019,A,,45,United States,,Texas,,,,,,,,,,,,FALSE,,Texas,State,570453,711737,738663,814945.0,892082.0,922012.0,926325.0,14.051885164593031,16.708135525818797,16.76792165649123,16.325219518908384,17.637116469990694,18.033642672128586,18.00395675979506
57,204.20,2019,A,,46,United States,,Utah,,,,,,,,,,,,FALSE,,Utah,State,38998,49973,42804,38543.0,42815.0,41339.0,46220.0,8.160045531204359,10.30407251388193,8.654721032646277,6.192293171174501,6.752813738107856,6.4139104854612965,7.084936462436961
59,204.20,2019,A,,47,United States,,Vermont,,,,,,,,,,,,FALSE,,Vermont,State,942,1775,1510,1439.0,1448.0,1506.0,1770.0,0.9230859685053259,1.7753905859289043,1.53530177322271,1.7694000762354445,1.796815863600829,1.8841486300512948,2.234566342633506
60,204.20,2019,A,,48,United States,,Virginia,,,,,,,,,,,,FALSE,,Virginia,State,36802,72420,88033,97871.0,109104.0,100814.0,114739.0,3.214387094238437,6.155237433906842,7.307225880460415,7.845106617652952,8.727363480962486,8.04102907688565,9.121871136745783
61,204.20,2019,A,,49,United States,,Washington,,,,,,,,,,,,FALSE,,Washington,State,70431,75103,90282,107197.0,112763.0,122408.0,127777.0,7.0091546639624305,7.400783210057568,8.850577755034218,10.103631094040859,10.506225210729184,11.253031408982347,11.673258037315472
62,204.20,2019,A,,50,United States,,West Virginia,,,,,,,,,,,,FALSE,,West Virginia,State,920,1944,1788,2707.0,2812.0,2546.0,2035.0,0.3212660676684115,0.6882512258589865,0.6382773650710922,1.0212897603157058,1.0717484516436397,0.983368481224846,0.796162769316239
63,204.20,2019,A,,51,United States,,Wisconsin,,,,,,,,,,,,FALSE,,Wisconsin,State,22542,30130,43638,42729.0,45669.0,46342.0,49905.0,2.563117128835807,3.419080808550766,5.046885914795779,5.23895875556798,5.625002309417621,5.728334874338068,6.1950154363324215
64,204.20,2019,A,,52,United States,,Wyoming,,,,,,,,,,,,FALSE,,Wyoming,State,2534,3077,2602,2707.0,2964.0,2849.0,2839.0,2.8174338447854126,3.5593651674995375,3.070822465863359,2.8950942750499986,3.1462296195652177,3.046863302889654,3.0335409832562212

In [97]:
tab.table_info

,digest_table_id,digest_table_year,digest_table_sub_id,digest_table_sub_title,has_SE,location_in,year_in,table_title,headnote,stub_head,general_note,source_note,last_prepared
0,204.20,2019,A,,FALSE,Row,Column,English language learner (ELL) students enroll...,,State,Data for 2009 and earlier years may include pr...,"U.S. Department of Education, National Center ...",This table was prepared September 2019.

In [98]:
tab.cell_info

,digest_table_id,digest_table_year,digest_table_sub_id,digest_table_sub_title,row_index,column_index,cell_ref_note,cell_special_note
0,204.20,2019,A,,1,A,U.S. total includes imputation for nonreportin...,
1,204.20,2019,A,,1,B,U.S. total includes imputation for nonreportin...,
2,204.20,2019,A,,1,C,U.S. total includes imputation for nonreportin...,
3,204.20,2019,A,,1,H,U.S. total includes imputation for nonreportin...,
4,204.20,2019,A,,1,I,U.S. total includes imputation for nonreportin...,
5,204.20,2019,A,,1,J,U.S. total includes imputation for nonreportin...,
6,204.20,2019,A,,6,C,"Data are from U.S. Department of Education, Na...",
7,204.20,2019,A,,6,J,"Data are from U.S. Department of Education, Na...",
8,204.20,2019,A,,15,B,Imputation for survey nonresponse. State-level...,
9,204.20,2019,A,,15,I,Imputation for survey nonresponse. State-level...,
10,204.20,2019,A,,21,A,Imputation for survey nonresponse. State-level...,
11,204.20,2019,A,,21,H,Imputation for survey nonresponse. State-level...,
12,204.20,2019,A,,24,A,Imputation for survey nonresponse. State-level...,
13,204.20,2019,A,,24,H,Imputation for survey nonresponse. State-level...,
14,204.20,2019,A,,28,A,Imputation for survey nonresponse. State-level...,
15,204.20,2019,A,,28,H,Imputation for survey nonresponse. State-level...,
16,204.20,2019,A,,30,A,Imputation for survey nonresponse. State-level...,
17,204.20,2019,A,,30,H,Imputation for survey nonresponse. State-level...,
18,204.20,2019,A,,31,B,Imputation for survey nonresponse. State-level...,
19,204.20,2019,A,,31,I,Imputation for survey nonresponse. State-level...,
20,204.20,2019,A,,32,A,Imputation for survey nonresponse. State-level...,
21,204.20,2019,A,,32,H,Imputation for survey nonresponse. State-level...,
22,204.20,2019,A,,36,A,Imputation for survey nonresponse. State-level...,
23,204.20,2019,A,,36,B,Imputation for survey nonresponse. State-level...,
24,204.20,2019,A,,36,H,Imputation for survey nonresponse. State-level...,
25,204.20,2019,A,,36,I,Imputation for survey nonresponse. State-level...,
26,204.20,2019,A,,37,A,Imputation for survey nonresponse. State-level...,
27,204.20,2019,A,,37,H,Imputation for survey nonresponse. State-level...,
28,204.20,2019,A,,40,A,Imputation for survey nonresponse. State-level...,
29,204.20,2019,A,,40,B,Imputation for survey nonresponse. State-level...,
30,204.20,2019,A,,40,H,Imputation for survey nonresponse. State-level...,
31,204.20,2019,A,,40,I,Imputation for survey nonresponse. State-level...,
32,204.20,2019,A,,44,A,Imputation for survey nonresponse. State-level...,
33,204.20,2019,A,,44,B,Imputation for survey nonresponse. State-level...,
34,204.20,2019,A,,44,H,Imputation for survey nonresponse. State-level...,
35,204.20,2019,A,,44,I,Imputation for survey nonresponse. State-level...,
36,204.20,2019,A,,49,A,Imputation for survey nonresponse. State-level...,
37,204.20,2019,A,,49,H,Imputation for survey nonresponse. State-level...,