In [1]:
import numpy as np
import pandas as pd
import re
import os
from table import Table

In [2]:
pd.set_option("display.max_rows", None, "display.max_columns", None)

In [3]:
tables = {}

directory = "tables/"
for filename in os.listdir(directory):
    if filename.endswith(".xls"):
        file_directory = os.path.join(directory, filename)
        table = Table(file_directory, "2019")
        tables[table.id] = table

In [4]:
tables

{'203.10': <table.Table at 0x29eeebea6d0>,
 '203.50': <table.Table at 0x29ef0d16670>,
 '204.10': <table.Table at 0x29ef0d2a9a0>,
 '204.27': <table.Table at 0x29eedc09ca0>,
 '213.10': <table.Table at 0x29ef10af0a0>,
 '215.10': <table.Table at 0x29ef112ec10>,
 '217.10': <table.Table at 0x29ef12da700>,
 '217.15': <table.Table at 0x29ef12541f0>,
 '219.70': <table.Table at 0x29ef117af10>,
 '236.30': <table.Table at 0x29ef1404d60>,
 '318.45': <table.Table at 0x29ef1462910>}

In [16]:
tab = tables['213.10'].row_info

tab[['digest_table_sub_id', 'digest_table_sub_title']]

   digest_table_sub_id   digest_table_sub_title
8                    A                   Number
9                    A                   Number
10                   A                   Number
11                   A                   Number
12                   A                   Number
13                   A                   Number
14                   A                   Number
15                   A                   Number
16                   A                   Number
17                   A                   Number
18                   A                   Number
19                   A                   Number
20                   A                   Number
21                   A                   Number
22                   A                   Number
23                   A                   Number
24                   A                   Number
25                   A                   Number
26                   A                   Number
27                   A                   Number
28                   A                   Number
29                   A                   Number
30                   A                   Number
31                   A                   Number
32                   A                   Number
33                   A                   Number
34                   A                   Number
35                   B  Percentage distribution
36                   B  Percentage distribution
37                   B  Percentage distribution
38                   B  Percentage distribution
39                   B  Percentage distribution
40                   B  Percentage distribution
41                   B  Percentage distribution
42                   B  Percentage distribution
43                   B  Percentage distribution
44                   B  Percentage distribution
45                   B  Percentage distribution
46                   B  Percentage distribution
47                   B  Percentage distribution
48                   B  Percentage distribution
49                   B  Percentage distribution
50                   B  Percentage distribution
51                   B  Percentage distribution
52                   B  Percentage distribution
53                   B  Percentage distribution
54                   B  Percentage distribution
55                   B  Percentage distribution
56                   B  Percentage distribution
57                   B  Percentage distribution
58                   B  Percentage distribution
59                   B  Percentage distribution
60                   B  Percentage distribution
61                   B  Percentage distribution
62                   C  Pupils per staff member
63                   C  Pupils per staff member
64                   C  Pupils per staff member
65                   C  Pupils per staff member
66                   C  Pupils per staff member
67                   C  Pupils per staff member
68                   C  Pupils per staff member
69                   C  Pupils per staff member
70                   C  Pupils per staff member
71                   C  Pupils per staff member
72                   C  Pupils per staff member
73                   C  Pupils per staff member
74                   C  Pupils per staff member
75                   C  Pupils per staff member
76                   C  Pupils per staff member
77                   C  Pupils per staff member
78                   C  Pupils per staff member
79                   C  Pupils per staff member
80                   C  Pupils per staff member
81                   C  Pupils per staff member
82                   C  Pupils per staff member
83                   C  Pupils per staff member
84                   C  Pupils per staff member
85                   C  Pupils per staff member
86                   C  Pupils per staff member
87                   C  Pupils per staff member
88                   C  Pupils per staff member

In [25]:
g = tab.groupby(['digest_table_sub_id', 'digest_table_sub_title']).size().reset_index()

In [29]:
g[['digest_table_sub_id', 'digest_table_sub_title']]

  digest_table_sub_id   digest_table_sub_title
0                   A                   Number
1                   B  Percentage distribution
2                   C  Pupils per staff member