In [1]:
import numpy as np
import pandas as pd
import re
import os
from table import Table

In [2]:
pd.set_option("display.max_rows", None, "display.max_columns", None)

In [3]:
tabn = '105.20'
tab = Table('100tables/tabn' + tabn + '.xls', '2019')

   column_level_1  column_level_2 column_level_3 column_level_4  \
0          Actual          1990.0
1          Actual          1990.0
2          Actual          2000.0
3          Actual          2000.0
4          Actual          2010.0
5          Actual          2010.0
6          Actual          2017.0
7          Actual          2017.0
8       Projected          2018.0
9       Projected          2018.0
10      Projected          2019.0
11      Projected          2020.0
12      Projected          2021.0
13      Projected          2022.0
14      Projected          2023.0
15      Projected          2024.0
16      Projected          2025.0
17      Projected          2026.0
18      Projected          2027.0
19      Projected          2028.0
20      Projected          2029.0

   column_level_5 column_level_6 column_level_7 digest_table_id  \
0                                                        105.20
1                                                        105.20
2                                                        105.20
3                                                        105.20
4                                                        105.20
5                                                        105.20
6                                                        105.20
7                                                        105.20
8                                                        105.20
9                                                        105.20
10                                                       105.20
11                                                       105.20
12                                                       105.20
13                                                       105.20
14                                                       105.20
15                                                       105.20
16                                                       105.20
17                                                       105.20
18                                                       105.20
19                                                       105.20
20                                                       105.20

   digest_table_year
0               2019
1               2019
2               2019
3               2019
4               2019
5               2019
6               2019
7               2019
8               2019
9               2019
10              2019
11              2019
12              2019
13              2019
14              2019
15              2019
16              2019
17              2019
18              2019
19              2019
20              2019

In [4]:
tab.col_info

,digest_table_id,digest_table_year,digest_table_sub_id,digest_table_sub_title,column_index,value_represents,is_total,year,column_level_1,column_ref_note_1,column_level_2,column_ref_note_2,column_level_3,column_ref_note_3,column_level_4,column_ref_note_4,column_level_5,column_ref_note_5,column_level_6,column_ref_note_6,column_level_7,column_ref_note_7
0,105.20,2019,A,,A,Count,FALSE,1990.0,Actual,,1990.0,,,,,,,,,,,
1,105.20,2019,A,,B,Count,FALSE,2000.0,Actual,,2000.0,,,,,,,,,,,
2,105.20,2019,A,,C,Count,FALSE,2010.0,Actual,,2010.0,,,,,,,,,,,
3,105.20,2019,A,,D,Count,FALSE,2017.0,Actual,,2017.0,,,,,,,,,,,
4,105.20,2019,A,,E,Count,FALSE,2018.0,Projected,,2018.0,,,,,,,,,,,
5,105.20,2019,A,,F,Count,FALSE,2019.0,Projected,,2019.0,,,,,,,,,,,
6,105.20,2019,A,,G,Count,FALSE,2020.0,Projected,,2020.0,,,,,,,,,,,
7,105.20,2019,A,,H,Count,FALSE,2021.0,Projected,,2021.0,,,,,,,,,,,
8,105.20,2019,A,,I,Count,FALSE,2022.0,Projected,,2022.0,,,,,,,,,,,
9,105.20,2019,A,,J,Count,FALSE,2023.0,Projected,,2023.0,,,,,,,,,,,
10,105.20,2019,A,,K,Count,FALSE,2024.0,Projected,,2024.0,,,,,,,,,,,
11,105.20,2019,A,,L,Count,FALSE,2025.0,Projected,,2025.0,,,,,,,,,,,
12,105.20,2019,A,,M,Count,FALSE,2026.0,Projected,,2026.0,,,,,,,,,,,
13,105.20,2019,A,,N,Count,FALSE,2027.0,Projected,,2027.0,,,,,,,,,,,
14,105.20,2019,A,,O,Count,FALSE,2028.0,Projected,,2028.0,,,,,,,,,,,
15,105.20,2019,A,,P,Count,FALSE,2029.0,Projected,,2029.0,,,,,,,,,,,

In [ ]:
tables = {}

directory = "tables/"
for filename in os.listdir(directory):
    if filename.endswith(".xls"):
        file_directory = os.path.join(directory, filename)
        table = Table(file_directory, "2019")
        tables[table.id] = table

In [ ]:
tables

In [ ]:
tables['203.10'].table_info

In [ ]:
tables['203.10'].row_info

In [ ]:
tables['203.10'].col_info

In [ ]:
tables['203.50'].cell_info

In [ ]:
tables['203.50'].row_info

In [ ]:
tables['203.50'].row_info.replace(r"(.*)\\[0-9]\\", r"\1", regex=True)

In [ ]:
tables['204.10'].table_info

In [ ]:
tables['204.10'].row_info.info()

In [ ]:
tables['204.10'].col_info

In [ ]:
tables['204.10'].cell_info

In [ ]:
tables['204.27'].table_info

In [ ]:
tables['204.27'].col_info

In [ ]:
tables['213.10'].table_info

In [ ]:
tables['213.10'].row_info

In [ ]:
tables['213.10'].cell_info

In [ ]:
tables['215.10'].table_info

In [ ]:
tables['215.10'].row_info

In [ ]:
tables['215.10'].col_info

In [ ]:
tables['217.10'].table_info

In [ ]:
tables['217.10'].row_info

In [ ]:
tables['217.10'].cell_info

In [ ]:
tables['217.15'].table_info

In [ ]:
tables['217.15'].row_info

In [ ]:
tables['217.15'].col_info

In [ ]:
tables['217.15'].cell_info

In [ ]:
tables['217.15'].row_info

In [ ]:
tables['217.15'].row_info.loc[:, 'A':]

In [ ]:
tables['217.15'].cell_info