In [1]:
import numpy as np
import pandas as pd
import re
import os
from table import Table

In [2]:
pd.set_option("display.max_rows", None, "display.max_columns", None)

In [3]:
tables = {}

directory = "tables/"
for filename in os.listdir(directory):
    if filename.endswith(".xls"):
        file_directory = os.path.join(directory, filename)
        table = Table(file_directory, "2019")
        tables[table.id] = table

In [4]:
tables

{'203.10': <table.Table at 0x1d999fc2b80>,
 '203.50': <table.Table at 0x1d99c066760>,
 '204.10': <table.Table at 0x1d998f5a190>,
 '204.27': <table.Table at 0x1d99c4e9f40>,
 '213.10': <table.Table at 0x1d99c4b2190>,
 '215.10': <table.Table at 0x1d99c5b6160>,
 '217.10': <table.Table at 0x1d99c685670>,
 '217.15': <table.Table at 0x1d99c80eb80>,
 '219.70': <table.Table at 0x1d99c902580>,
 '236.30': <table.Table at 0x1d99c9c5f70>,
 '318.45': <table.Table at 0x1d99c9bf580>}

In [5]:
tables['203.10'].col_info

,digest_table_id,digest_table_year,digest_table_sub_id,digest_table_sub_title,column_index,value_represents,column_level_1,column_ref_note_1,column_level_2,column_ref_note_2,column_level_3,column_ref_note_3,column_level_4,column_ref_note_4,column_level_5,column_ref_note_5,column_level_6,column_ref_note_6,column_level_7,column_ref_note_7
0,203.10,2019,A,,A,Count,All grades,,,,,,,,,,,,,
1,203.10,2019,A,,B,Count,Elementary,,Total,,,,,,,,,,,
2,203.10,2019,A,,C,Count,Elementary,,Prekin-dergar-ten,,,,,,,,,,,
3,203.10,2019,A,,D,Count,Elementary,,Kinder-garten,,,,,,,,,,,
4,203.10,2019,A,,E,Count,Elementary,,1st grade,,,,,,,,,,,
5,203.10,2019,A,,F,Count,Elementary,,2nd grade,,,,,,,,,,,
6,203.10,2019,A,,G,Count,Elementary,,3rd grade,,,,,,,,,,,
7,203.10,2019,A,,H,Count,Elementary,,4th grade,,,,,,,,,,,
8,203.10,2019,A,,I,Count,Elementary,,5th grade,,,,,,,,,,,
9,203.10,2019,A,,J,Count,Elementary,,6th grade,,,,,,,,,,,
10,203.10,2019,A,,K,Count,Elementary,,7th grade,,,,,,,,,,,
11,203.10,2019,A,,L,Count,Elementary,,8th grade,,,,,,,,,,,
12,203.10,2019,A,,M,Count,Elementary,,Ungraded,,,,,,,,,,,
13,203.10,2019,A,,N,Count,Secondary,,Total,,,,,,,,,,,
14,203.10,2019,A,,O,Count,Secondary,,9th grade,,,,,,,,,,,
15,203.10,2019,A,,P,Count,Secondary,,10th grade,,,,,,,,,,,
16,203.10,2019,A,,Q,Count,Secondary,,11th grade,,,,,,,,,,,
17,203.10,2019,A,,R,Count,Secondary,,12th grade,,,,,,,,,,,
18,203.10,2019,A,,S,Count,Secondary,,Ungraded,Includes students reported as being enrolled i...,,,,,,,,,,
0,203.10,2019,B,Projected,A,Count,All grades,,,,,,,,,,,,,
1,203.10,2019,B,Projected,B,Count,Elementary,,Total,,,,,,,,,,,
2,203.10,2019,B,Projected,C,Count,Elementary,,Prekin-dergar-ten,,,,,,,,,,,
3,203.10,2019,B,Projected,D,Count,Elementary,,Kinder-garten,,,,,,,,,,,
4,203.10,2019,B,Projected,E,Count,Elementary,,1st grade,,,,,,,,,,,
5,203.10,2019,B,Projected,F,Count,Elementary,,2nd grade,,,,,,,,,,,
6,203.10,2019,B,Projected,G,Count,Elementary,,3rd grade,,,,,,,,,,,
7,203.10,2019,B,Projected,H,Count,Elementary,,4th grade,,,,,,,,,,,
8,203.10,2019,B,Projected,I,Count,Elementary,,5th grade,,,,,,,,,,,
9,203.10,2019,B,Projected,J,Count,Elementary,,6th grade,,,,,,,,,,,
10,203.10,2019,B,Projected,K,Count,Elementary,,7th grade,,,,,,,,,,,
11,203.10,2019,B,Projected,L,Count,Elementary,,8th grade,,,,,,,,,,,
12,203.10,2019,B,Projected,M,Count,Elementary,,Ungraded,,,,,,,,,,,
13,203.10,2019,B,Projected,N,Count,Secondary,,Total,,,,,,,,,,,
14,203.10,2019,B,Projected,O,Count,Secondary,,9th grade,,,,,,,,,,,
15,203.10,2019,B,Projected,P,Count,Secondary,,10th grade,,,,,,,,,,,
16,203.10,2019,B,Projected,Q,Count,Secondary,,11th grade,,,,,,,,,,,
17,203.10,2019,B,Projected,R,Count,Secondary,,12th grade,,,,,,,,,,,
18,203.10,2019,B,Projected,S,Count,Secondary,,Ungraded,Includes students reported as being enrolled i...,,,,,,,,,,

In [6]:
tables['203.50'].col_info

,digest_table_id,digest_table_year,digest_table_sub_id,digest_table_sub_title,column_index,value_represents,column_level_1,column_ref_note_1,column_level_2,column_ref_note_2,column_level_3,column_ref_note_3,column_level_4,column_ref_note_4,column_level_5,column_ref_note_5,column_level_6,column_ref_note_6,column_level_7,column_ref_note_7
0,203.50,2019,A,,A,Count,Enrollment (in thousands),,Total,,,,,,,,,,,
1,203.50,2019,A,,B,Count,Enrollment (in thousands),,White,,,,,,,,,,,
2,203.50,2019,A,,C,Count,Enrollment (in thousands),,Black,,,,,,,,,,,
3,203.50,2019,A,,D,Count,Enrollment (in thousands),,Hispanic,,,,,,,,,,,
4,203.50,2019,A,,E,Count,Enrollment (in thousands),,Asian,,,,,,,,,,,
5,203.50,2019,A,,F,Count,Enrollment (in thousands),,Pacific Islander,,,,,,,,,,,
6,203.50,2019,A,,G,Count,Enrollment (in thousands),,American Indian/ Alaska Native,,,,,,,,,,,
7,203.50,2019,A,,H,Count,Enrollment (in thousands),,Two or more races,,,,,,,,,,,
8,203.50,2019,A,,I,Percentage,Percentage distribution,,Total,,,,,,,,,,,
9,203.50,2019,A,,J,Percentage,Percentage distribution,,White,,,,,,,,,,,
10,203.50,2019,A,,K,Percentage,Percentage distribution,,Black,,,,,,,,,,,
11,203.50,2019,A,,L,Percentage,Percentage distribution,,Hispanic,,,,,,,,,,,
12,203.50,2019,A,,M,Percentage,Percentage distribution,,Asian,,,,,,,,,,,
13,203.50,2019,A,,N,Percentage,Percentage distribution,,Pacific Islander,,,,,,,,,,,
14,203.50,2019,A,,O,Percentage,Percentage distribution,,American Indian/ Alaska Native,,,,,,,,,,,
15,203.50,2019,A,,P,Percentage,Percentage distribution,,Two or more races,,,,,,,,,,,

In [7]:
tables['204.10'].col_info

,digest_table_id,digest_table_year,digest_table_sub_id,digest_table_sub_title,column_index,value_represents,column_level_1,column_ref_note_1,column_level_2,column_ref_note_2,column_level_3,column_ref_note_3,column_level_4,column_ref_note_4,column_level_5,column_ref_note_5,column_level_6,column_ref_note_6,column_level_7,column_ref_note_7
0,204.10,2019,A,,A,Count,Number of students enrolled,,2000-01,,,,,,,,,,,
1,204.10,2019,A,,B,Count,Number of students enrolled,,2010-11,,,,,,,,,,,
2,204.10,2019,A,,C,Count,Number of students enrolled,,2016-17,,,,,,,,,,,
3,204.10,2019,A,,D,Count,Number of students enrolled,,2017-18,,,,,,,,,,,
4,204.10,2019,A,,E,Count,Number of students eligible for free/reduced-p...,,2000-01,,,,,,,,,,,
5,204.10,2019,A,,F,Count,Number of students eligible for free/reduced-p...,,2010-11,,,,,,,,,,,
6,204.10,2019,A,,G,Count,Number of students eligible for free/reduced-p...,,2016-17,,,,,,,,,,,
7,204.10,2019,A,,H,Count,Number of students eligible for free/reduced-p...,,2017-18,,,,,,,,,,,
8,204.10,2019,A,,I,Percentage,Percent of students eligible for free/reduced-...,,2000-01,,,,,,,,,,,
9,204.10,2019,A,,J,Percentage,Percent of students eligible for free/reduced-...,,2010-11,,,,,,,,,,,
10,204.10,2019,A,,K,Percentage,Percent of students eligible for free/reduced-...,,2016-17,,,,,,,,,,,
11,204.10,2019,A,,L,Percentage,Percent of students eligible for free/reduced-...,,2017-18,,,,,,,,,,,

In [8]:
tables['204.27'].col_info

,digest_table_id,digest_table_year,digest_table_sub_id,digest_table_sub_title,column_index,value_represents,column_level_1,column_ref_note_1,column_level_2,column_ref_note_2,column_level_3,column_ref_note_3,column_level_4,column_ref_note_4,column_level_5,column_ref_note_5,column_level_6,column_ref_note_6,column_level_7,column_ref_note_7
0,204.27,2019,A,,A,Count,Number of ELL students,,2008-09,Includes data for California that reflect ELL ...,,,,,,,,,,
1,204.27,2019,A,,B,Count,Number of ELL students,,2009-10,Includes data for California that reflect ELL ...,,,,,,,,,,
2,204.27,2019,A,,C,Count,Number of ELL students,,2011-12,Includes data for California that reflect ELL ...,,,,,,,,,,
3,204.27,2019,A,,D,Count,Number of ELL students,,2012-13,,,,,,,,,,,
4,204.27,2019,A,,E,Count,Number of ELL students,,2013-14,,,,,,,,,,,
5,204.27,2019,A,,F,Count,Number of ELL students,,Fall 2014,,,,,,,,,,,
6,204.27,2019,A,,G,Count,Number of ELL students,,Fall 2015,,,,,,,,,,,
7,204.27,2019,A,,H,Count,Number of ELL students,,Fall 2016,,,,,,,,,,,
8,204.27,2019,A,,I,Count,Number of ELL students,,Fall 2017,,,,,,,,,,,
9,204.27,2019,A,,J,Percentage,Percentage distribution of ELL students,,Fall 2014,,,,,,,,,,,
10,204.27,2019,A,,K,Percentage,Percentage distribution of ELL students,,Fall 2015,Ranking of the 30 most commonly reported home ...,,,,,,,,,,
11,204.27,2019,A,,L,Percentage,Percentage distribution of ELL students,,Fall 2016,,,,,,,,,,,
12,204.27,2019,A,,M,Percentage,Percentage distribution of ELL students,,Fall 2017,,,,,,,,,,,
13,204.27,2019,A,,N,Percentage,Number of ELL students as a percent of enrollment,,2008-09,Includes data for California that reflect ELL ...,,,,,,,,,,
14,204.27,2019,A,,O,Percentage,Number of ELL students as a percent of enrollment,,2009-10,Includes data for California that reflect ELL ...,,,,,,,,,,
15,204.27,2019,A,,P,Percentage,Number of ELL students as a percent of enrollment,,2011-12,Includes data for California that reflect ELL ...,,,,,,,,,,
16,204.27,2019,A,,Q,Percentage,Number of ELL students as a percent of enrollment,,2012-13,,,,,,,,,,,
17,204.27,2019,A,,R,Percentage,Number of ELL students as a percent of enrollment,,2013-14,,,,,,,,,,,
18,204.27,2019,A,,S,Percentage,Number of ELL students as a percent of enrollment,,Fall 2014,,,,,,,,,,,
19,204.27,2019,A,,T,Percentage,Number of ELL students as a percent of enrollment,,Fall 2015,,,,,,,,,,,
20,204.27,2019,A,,U,Percentage,Number of ELL students as a percent of enrollment,,Fall 2016,,,,,,,,,,,
21,204.27,2019,A,,V,Percentage,Number of ELL students as a percent of enrollment,,Fall 2017,,,,,,,,,,,

In [9]:
tables['213.10'].col_info

,digest_table_id,digest_table_year,digest_table_sub_id,digest_table_sub_title,column_index,value_represents,column_level_1,column_ref_note_1,column_level_2,column_ref_note_2,column_level_3,column_ref_note_3,column_level_4,column_ref_note_4,column_level_5,column_ref_note_5,column_level_6,column_ref_note_6,column_level_7,column_ref_note_7
0,213.10,2019,A,Number,A,Count,Total,,,,,,,,,,,,,
1,213.10,2019,A,Number,B,Count,School district administrative staff,,,,Total,,,,,,,,,
2,213.10,2019,A,Number,C,Count,School district administrative staff,,,,Officials and administrators,,,,,,,,,
3,213.10,2019,A,Number,D,Count,School district administrative staff,,,,Instruction coordinators,,,,,,,,,
4,213.10,2019,A,Number,E,Count,Instructional staff,,,,Total,,,,,,,,,
5,213.10,2019,A,Number,F,Count,Instructional staff,,,,Principals and assistant principals,,,,,,,,,
6,213.10,2019,A,Number,G,Count,Instructional staff,,,,Teachers,,,,,,,,,
7,213.10,2019,A,Number,H,Count,Instructional staff,,,,Instructional aides,,,,,,,,,
8,213.10,2019,A,Number,I,Count,Instructional staff,,,,Librarians,,,,,,,,,
9,213.10,2019,A,Number,J,Count,Instructional staff,,,,Guidance counselors,,,,,,,,,
10,213.10,2019,A,Number,K,Count,Support staff,Includes school district administrative suppor...,,,,,,,,,,,,
0,213.10,2019,B,Percentage distribution,A,Percentage,Total,,,,,,,,,,,,,
1,213.10,2019,B,Percentage distribution,B,Percentage,School district administrative staff,,,,Total,,,,,,,,,
2,213.10,2019,B,Percentage distribution,C,Percentage,School district administrative staff,,,,Officials and administrators,,,,,,,,,
3,213.10,2019,B,Percentage distribution,D,Percentage,School district administrative staff,,,,Instruction coordinators,,,,,,,,,
4,213.10,2019,B,Percentage distribution,E,Percentage,Instructional staff,,,,Total,,,,,,,,,
5,213.10,2019,B,Percentage distribution,F,Percentage,Instructional staff,,,,Principals and assistant principals,,,,,,,,,
6,213.10,2019,B,Percentage distribution,G,Percentage,Instructional staff,,,,Teachers,,,,,,,,,
7,213.10,2019,B,Percentage distribution,H,Percentage,Instructional staff,,,,Instructional aides,,,,,,,,,
8,213.10,2019,B,Percentage distribution,I,Percentage,Instructional staff,,,,Librarians,,,,,,,,,
9,213.10,2019,B,Percentage distribution,J,Percentage,Instructional staff,,,,Guidance counselors,,,,,,,,,
10,213.10,2019,B,Percentage distribution,K,Percentage,Support staff,Includes school district administrative suppor...,,,,,,,,,,,,
0,213.10,2019,C,Pupils per staff member,A,Rates,Total,,,,,,,,,,,,,
1,213.10,2019,C,Pupils per staff member,B,Rates,School district administrative staff,,,,Total,,,,,,,,,
2,213.10,2019,C,Pupils per staff member,C,Rates,School district administrative staff,,,,Officials and administrators,,,,,,,,,
3,213.10,2019,C,Pupils per staff member,D,Rates,School district administrative staff,,,,Instruction coordinators,,,,,,,,,
4,213.10,2019,C,Pupils per staff member,E,Rates,Instructional staff,,,,Total,,,,,,,,,
5,213.10,2019,C,Pupils per staff member,F,Rates,Instructional staff,,,,Principals and assistant principals,,,,,,,,,
6,213.10,2019,C,Pupils per staff member,G,Rates,Instructional staff,,,,Teachers,,,,,,,,,
7,213.10,2019,C,Pupils per staff member,H,Rates,Instructional staff,,,,Instructional aides,,,,,,,,,
8,213.10,2019,C,Pupils per staff member,I,Rates,Instructional staff,,,,Librarians,,,,,,,,,
9,213.10,2019,C,Pupils per staff member,J,Rates,Instructional staff,,,,Guidance counselors,,,,,,,,,
10,213.10,2019,C,Pupils per staff member,K,Rates,Support staff,Includes school district administrative suppor...,,,,,,,,,,,,

In [10]:
tables['215.10'].col_info

,digest_table_id,digest_table_year,digest_table_sub_id,digest_table_sub_title,column_index,value_represents,column_level_1,column_ref_note_1,column_level_2,column_ref_note_2,column_level_3,column_ref_note_3,column_level_4,column_ref_note_4,column_level_5,column_ref_note_5,column_level_6,column_ref_note_6,column_level_7,column_ref_note_7
0,215.10,2019,A,,A,Text,State,,,,,,,,,,,,,
1,215.10,2019,A,,B,Count,"Enroll-ment, fall 1990",,,,,,,,,,,,,
2,215.10,2019,A,,C,Count,"Enroll-ment, fall 2000",,,,,,,,,,,,,
3,215.10,2019,A,,D,Count,"Enroll-ment, fall 2010",,,,,,,,,,,,,
4,215.10,2019,A,,E,Count,"Enroll-ment, fall 2016",,,,,,,,,,,,,
5,215.10,2019,A,,F,Count,"Number of English language learners, 2016",,,,,,,,,,,,,
6,215.10,2019,A,,G,Percentage,Percent eligible for free or reduced-price lun...,Percentages are for those schools that reporte...,,,,,,,,,,,,
7,215.10,2019,A,,H,Percentage,"Percentage distribution of enrollment, by race...",,White,,,,,,,,,,,
8,215.10,2019,A,,I,Percentage,"Percentage distribution of enrollment, by race...",,Black,,,,,,,,,,,
9,215.10,2019,A,,J,Percentage,"Percentage distribution of enrollment, by race...",,His-panic,,,,,,,,,,,
10,215.10,2019,A,,K,Percentage,"Percentage distribution of enrollment, by race...",,Asian,,,,,,,,,,,
11,215.10,2019,A,,L,Percentage,"Percentage distribution of enrollment, by race...",,Pacific Islander,,,,,,,,,,,
12,215.10,2019,A,,M,Percentage,"Percentage distribution of enrollment, by race...",,American Indian/ Alaska Native,,,,,,,,,,,
13,215.10,2019,A,,N,Percentage,"Percentage distribution of enrollment, by race...",,Two or more races,,,,,,,,,,,
14,215.10,2019,A,,O,Count,"Full-time-equivalent (FTE) teachers and staff,...",,Number of FTE classroom teachers,,,,,,,,,,,
15,215.10,2019,A,,P,Rates,"Full-time-equivalent (FTE) teachers and staff,...",,Pupil/ FTE teacher ratio,,,,,,,,,,,
16,215.10,2019,A,,Q,Count,"Full-time-equivalent (FTE) teachers and staff,...",,Total number of FTE staff,,,,,,,,,,,
17,215.10,2019,A,,R,Rates,"Full-time-equivalent (FTE) teachers and staff,...",,Stu-dent/ FTE staff ratio,,,,,,,,,,,
18,215.10,2019,A,,S,Percentage,"Full-time-equivalent (FTE) teachers and staff,...",,FTE teachers as a percent-age of total FTE staff,,,,,,,,,,,
19,215.10,2019,A,,T,Rates,Public high school 4-year adjusted cohort grad...,The ACGR is the percentage of public high scho...,2010-11,,,,,,,,,,,
20,215.10,2019,A,,U,Rates,Public high school 4-year adjusted cohort grad...,The ACGR is the percentage of public high scho...,2014-15,,,,,,,,,,,
21,215.10,2019,A,,V,Rates,Public high school 4-year adjusted cohort grad...,The ACGR is the percentage of public high scho...,2015-16,,,,,,,,,,,
22,215.10,2019,A,,W,Rates,Public high school 4-year adjusted cohort grad...,The ACGR is the percentage of public high scho...,2016-17,,,,,,,,,,,
23,215.10,2019,A,,X,Count,"Number of schools, fall 2016",,,,,,,,,,,,,

In [11]:
tables['217.10'].col_info

,digest_table_id,digest_table_year,digest_table_sub_id,digest_table_sub_title,column_index,value_represents,column_level_1,column_ref_note_1,column_level_2,column_ref_note_2,column_level_3,column_ref_note_3,column_level_4,column_ref_note_4,column_level_5,column_ref_note_5,column_level_6,column_ref_note_6,column_level_7,column_ref_note_7
0,217.10,2019,A,,A,Percentage,All public schools,"Excludes special education, vocational, and al...",,,,,,,,,,,,
1,217.10,2019,A,,B,Percentage,Instructional level,,Elementary,,,,,,,,,,,
2,217.10,2019,A,,C,Percentage,Instructional level,,Secondary,,,,,,,,,,,
3,217.10,2019,A,,D,Percentage,Instructional level,,Combined,,,,,,,,,,,
4,217.10,2019,A,,E,Percentage,Community type,,City,,,,,,,,,,,
5,217.10,2019,A,,F,Percentage,Community type,,Suburban,,,,,,,,,,,
6,217.10,2019,A,,G,Percentage,Community type,,Town,,,,,,,,,,,
7,217.10,2019,A,,H,Percentage,Community type,,Rural,,,,,,,,,,,
8,217.10,2019,A,,I,Percentage,Percent of students eligible for free or reduc...,,Less than 35 percent,,,,,,,,,,,
9,217.10,2019,A,,J,Percentage,Percent of students eligible for free or reduc...,,35 to 49 percent,,,,,,,,,,,
10,217.10,2019,A,,K,Percentage,Percent of students eligible for free or reduc...,,50 to 74 percent,,,,,,,,,,,
11,217.10,2019,A,,L,Percentage,Percent of students eligible for free or reduc...,,75 percent or more,,,,,,,,,,,

In [12]:
tables['217.15'].col_info

,digest_table_id,digest_table_year,digest_table_sub_id,digest_table_sub_title,column_index,value_represents,column_level_1,column_ref_note_1,column_level_2,column_ref_note_2,column_level_3,column_ref_note_3,column_level_4,column_ref_note_4,column_level_5,column_ref_note_5,column_level_6,column_ref_note_6,column_level_7,column_ref_note_7
0,217.15,2019,A,,A,Percentage,All public schools,,,,,,,,,,,,,
1,217.15,2019,A,,B,Percentage,Instructional level,,Elementary,,,,,,,,,,,
2,217.15,2019,A,,C,Percentage,Instructional level,,Secondary,,,,,,,,,,,
3,217.15,2019,A,,D,Percentage,Instructional level,,Combined,,,,,,,,,,,
4,217.15,2019,A,,E,Percentage,Community type,,City,,,,,,,,,,,
5,217.15,2019,A,,F,Percentage,Community type,,Suburban,,,,,,,,,,,
6,217.15,2019,A,,G,Percentage,Community type,,Town,,,,,,,,,,,
7,217.15,2019,A,,H,Percentage,Community type,,Rural,,,,,,,,,,,
8,217.15,2019,A,,I,Percentage,Percent of students eligible for free or reduc...,,Less than 35 percent,,,,,,,,,,,
9,217.15,2019,A,,J,Percentage,Percent of students eligible for free or reduc...,,35 to 49 percent,,,,,,,,,,,
10,217.15,2019,A,,K,Percentage,Percent of students eligible for free or reduc...,,50 to 74 percent,,,,,,,,,,,
11,217.15,2019,A,,L,Percentage,Percent of students eligible for free or reduc...,,75 percent or more,,,,,,,,,,,

In [13]:
tables['219.70'].col_info

,digest_table_id,digest_table_year,digest_table_sub_id,digest_table_sub_title,column_index,value_represents,column_level_1,column_ref_note_1,column_level_2,column_ref_note_2,column_level_3,column_ref_note_3,column_level_4,column_ref_note_4,column_level_5,column_ref_note_5,column_level_6,column_ref_note_6,column_level_7,column_ref_note_7
0,219.70,2019,A,,A,Percentage,Total,,All races/ ethnic-ities,Includes other racial/ethnic groups not separa...,,,,,,,,,,
1,219.70,2019,A,,B,Percentage,Total,,White,,,,,,,,,,,
2,219.70,2019,A,,C,Percentage,Total,,Black,,,,,,,,,,,
3,219.70,2019,A,,D,Percentage,Total,,Hispanic,,,,,,,,,,,
4,219.70,2019,A,,E,Percentage,Male,,All races/ ethnic-ities,Includes other racial/ethnic groups not separa...,,,,,,,,,,
5,219.70,2019,A,,F,Percentage,Male,,White,,,,,,,,,,,
6,219.70,2019,A,,G,Percentage,Male,,Black,,,,,,,,,,,
7,219.70,2019,A,,H,Percentage,Male,,Hispanic,,,,,,,,,,,
8,219.70,2019,A,,I,Percentage,Female,,All races/ ethnic-ities,Includes other racial/ethnic groups not separa...,,,,,,,,,,
9,219.70,2019,A,,J,Percentage,Female,,White,,,,,,,,,,,
10,219.70,2019,A,,K,Percentage,Female,,Black,,,,,,,,,,,
11,219.70,2019,A,,L,Percentage,Female,,Hispanic,,,,,,,,,,,

In [14]:
tables['236.30'].col_info

,digest_table_id,digest_table_year,digest_table_sub_id,digest_table_sub_title,column_index,value_represents,column_level_1,column_ref_note_1,column_level_2,column_ref_note_2,column_level_3,column_ref_note_3,column_level_4,column_ref_note_4,column_level_5,column_ref_note_5,column_level_6,column_ref_note_6,column_level_7,column_ref_note_7
0,236.30,2019,A,,A,Dollar,Total expenditures,,Total,,,,,,,,,,,
1,236.30,2019,A,,B,Dollar,Total expenditures,,Current expenditures for elementary and second...,,"Elementary/ secondary current expenditures, total",,,,,,,,,
2,236.30,2019,A,,C,Dollar,Total expenditures,,Current expenditures for elementary and second...,,Instruction,,,,,,,,,
3,236.30,2019,A,,D,Dollar,Total expenditures,,Current expenditures for elementary and second...,,Support services,,"Support services, total",,,,,,,
4,236.30,2019,A,,E,Dollar,Total expenditures,,Current expenditures for elementary and second...,,Support services,,Student support,"Includes expenditures for guidance, health, at...",,,,,,
5,236.30,2019,A,,F,Dollar,Total expenditures,,Current expenditures for elementary and second...,,Support services,,Instructional staff,Includes expenditures for curriculum developme...,,,,,,
6,236.30,2019,A,,G,Dollar,Total expenditures,,Current expenditures for elementary and second...,,Support services,,General administration,,,,,,,
7,236.30,2019,A,,H,Dollar,Total expenditures,,Current expenditures for elementary and second...,,Support services,,School administration,,,,,,,
8,236.30,2019,A,,I,Dollar,Total expenditures,,Current expenditures for elementary and second...,,Support services,,Operation and maintenance,,,,,,,
9,236.30,2019,A,,J,Dollar,Total expenditures,,Current expenditures for elementary and second...,,Support services,,Student transportation,,,,,,,
10,236.30,2019,A,,K,Dollar,Total expenditures,,Current expenditures for elementary and second...,,Support services,,Other support services,,,,,,,
11,236.30,2019,A,,L,Dollar,Total expenditures,,Current expenditures for elementary and second...,,Food services,,,,,,,,,
12,236.30,2019,A,,M,Dollar,Total expenditures,,Current expenditures for elementary and second...,,Enterprise operations,Includes expenditures for operations funded by...,,,,,,,,
13,236.30,2019,A,,N,Dollar,Total expenditures,,Current expenditures for other programs,"Includes expenditures for adult education, com...",,,,,,,,,,
14,236.30,2019,A,,O,Dollar,Total expenditures,,Capital outlay,Includes expenditures for property and for bui...,,,,,,,,,,
15,236.30,2019,A,,P,Dollar,Total expenditures,,Interest on school debt,,,,,,,,,,,