In [1]:
import numpy as np
import pandas as pd
import re
import os
from table import Table

In [2]:
pd.set_option("display.max_rows", None, "display.max_columns", None)

In [3]:
tabn = '330.40'
tab = Table('100tables/tabn' + tabn + '.xls', '2019')

In [4]:
tab.table_info

,digest_table_id,digest_table_year,digest_table_sub_id,digest_table_sub_title,digest_table_sub_title_note,has_SE,location_in,year_in,year,location,location_info,table_title,headnote,stub_head,general_note,source_note,last_prepared
0,330.40,2019,A,Current dollars,,FALSE,Title,Column,,United States,,Average total cost of attendance for first-tim...,,"Level of institution, living arrangement, and ...",Excludes students who previously attended anot...,"U.S. Department of Education, National Center ...",This table was prepared December 2019.
1,330.40,2019,B,Constant 2018-19 dollars,Constant dollars based on the Consumer Price I...,FALSE,Title,Column,,United States,,Average total cost of attendance for first-tim...,,"Level of institution, living arrangement, and ...",Excludes students who previously attended anot...,"U.S. Department of Education, National Center ...",This table was prepared December 2019.

In [5]:
# col = tab.table_info["digest_table_sub_title"]
# refs = col.str.extract(r"\\([0-9]),?([0-9])?\\")
# refs = refs.replace(tab.footnotes)
# refs = refs.fillna("")
# s = refs[0] + ":::" + refs[1]
# s = s.replace(r":::$", "", regex=True)
# tab.table_info.insert(4,'digest_table_sub_title_note',s)
# tab.table_info.replace(r"\\([0-9]),?([0-9])?\\", "", regex=True)

In [6]:
tab.col_info

,digest_table_id,digest_table_year,digest_table_sub_id,digest_table_sub_title,column_index,is_standard_error,is_dollar,format_string,year,location,location_type,column_level_1,column_level_2,column_level_3,column_level_4,column_level_5,column_level_6,column_level_7,column_ref_note_1,column_ref_note_2,column_ref_note_3,column_ref_note_4,column_ref_note_5,column_ref_note_6,column_ref_note_7
0,330.40,2019,A,Current dollars,A,FALSE,,,2010-11,,,2010-11,All institutions,,,,,,,,,,,,
1,330.40,2019,A,Current dollars,B,FALSE,,,2010-11,,,2010-11,"Public, in-state",,,,,,,,,,,,
2,330.40,2019,A,Current dollars,C,FALSE,,,2010-11,,,2010-11,Private,Nonprofit,,,,,,,,,,,
3,330.40,2019,A,Current dollars,D,FALSE,,,2010-11,,,2010-11,Private,For-profit,,,,,,,,,,,
4,330.40,2019,A,Current dollars,E,FALSE,,,2015-16,,,2015-16,All institutions,,,,,,,,,,,,
5,330.40,2019,A,Current dollars,F,FALSE,,,2015-16,,,2015-16,"Public, in-state",,,,,,,,,,,,
6,330.40,2019,A,Current dollars,G,FALSE,,,2015-16,,,2015-16,Private,Nonprofit,,,,,,,,,,,
7,330.40,2019,A,Current dollars,H,FALSE,,,2015-16,,,2015-16,Private,For-profit,,,,,,,,,,,
8,330.40,2019,A,Current dollars,I,FALSE,,,2016-17,,,2016-17,All institutions,,,,,,,,,,,,
9,330.40,2019,A,Current dollars,J,FALSE,,,2016-17,,,2016-17,"Public, in-state",,,,,,,,,,,,
10,330.40,2019,A,Current dollars,K,FALSE,,,2016-17,,,2016-17,Private,Nonprofit,,,,,,,,,,,
11,330.40,2019,A,Current dollars,L,FALSE,,,2016-17,,,2016-17,Private,For-profit,,,,,,,,,,,
12,330.40,2019,A,Current dollars,M,FALSE,,,2017-18,,,2017-18,All institutions,,,,,,,,,,,,
13,330.40,2019,A,Current dollars,N,FALSE,,,2017-18,,,2017-18,"Public, in-state",,,,,,,,,,,,
14,330.40,2019,A,Current dollars,O,FALSE,,,2017-18,,,2017-18,Private,Nonprofit,,,,,,,,,,,
15,330.40,2019,A,Current dollars,P,FALSE,,,2017-18,,,2017-18,Private,For-profit,,,,,,,,,,,
16,330.40,2019,A,Current dollars,Q,FALSE,,,2018-19,,,2018-19,All institutions,,,,,,,,,,,,
17,330.40,2019,A,Current dollars,R,FALSE,,,2018-19,,,2018-19,"Public, in-state",,,,,,,,,,,,
18,330.40,2019,A,Current dollars,S,FALSE,,,2018-19,,,2018-19,Private,Nonprofit,,,,,,,,,,,
19,330.40,2019,A,Current dollars,T,FALSE,,,2018-19,,,2018-19,Private,For-profit,,,,,,,,,,,
0,330.40,2019,B,Constant 2018-19 dollars\1\,A,FALSE,,,2010-11,,,2010-11,All institutions,,,,,,,,,,,,
1,330.40,2019,B,Constant 2018-19 dollars\1\,B,FALSE,,,2010-11,,,2010-11,"Public, in-state",,,,,,,,,,,,
2,330.40,2019,B,Constant 2018-19 dollars\1\,C,FALSE,,,2010-11,,,2010-11,Private,Nonprofit,,,,,,,,,,,
3,330.40,2019,B,Constant 2018-19 dollars\1\,D,FALSE,,,2010-11,,,2010-11,Private,For-profit,,,,,,,,,,,
4,330.40,2019,B,Constant 2018-19 dollars\1\,E,FALSE,,,2015-16,,,2015-16,All institutions,,,,,,,,,,,,
5,330.40,2019,B,Constant 2018-19 dollars\1\,F,FALSE,,,2015-16,,,2015-16,"Public, in-state",,,,,,,,,,,,
6,330.40,2019,B,Constant 2018-19 dollars\1\,G,FALSE,,,2015-16,,,2015-16,Private,Nonprofit,,,,,,,,,,,
7,330.40,2019,B,Constant 2018-19 dollars\1\,H,FALSE,,,2015-16,,,2015-16,Private,For-profit,,,,,,,,,,,
8,330.40,2019,B,Constant 2018-19 dollars\1\,I,FALSE,,,2016-17,,,2016-17,All institutions,,,,,,,,,,,,
9,330.40,2019,B,Constant 2018-19 dollars\1\,J,FALSE,,,2016-17,,,2016-17,"Public, in-state",,,,,,,,,,,,
10,330.40,2019,B,Constant 2018-19 dollars\1\,K,FALSE,,,2016-17,,,2016-17,Private,Nonprofit,,,,,,,,,,,
11,330.40,2019,B,Constant 2018-19 dollars\1\,L,FALSE,,,2016-17,,,2016-17,Private,For-profit,,,,,,,,,,,
12,330.40,2019,B,Constant 2018-19 dollars\1\,M,FALSE,,,2017-18,,,2017-18,All institutions,,,,,,,,,,,,
13,330.40,2019,B,Constant 2018-19 dollars\1\,N,FALSE,,,2017-18,,,2017-18,"Public, in-state",,,,,,,,,,,,
14,330.40,2019,B,Constant 2018-19 dollars\1\,O,FALSE,,,2017-18,,,2017-18,Private,Nonprofit,,,,,,,,,,,
15,330.40,2019,B,Constant 2018-19 dollars\1\,P,FALSE,,,2017-18,,,2017-18,Private,For-profit,,,,,,,,,,,
16,330.40,2019,B,Constant 2018-19 dollars\1\,Q,FALSE,,,2018-19,,,2018-19,All institutions,,,,,,,,,,,,
17,330.40,2019,B,Constant 2018-19 dollars\1\,R,FALSE,,,2018-19,,,2018-19,"Public, in-state",,,,,,,,,,,,
18,330.40,2019,B,Constant 2018-19 dollars\1\,S,FALSE,,,2018-19,,,2018-19,Private,Nonprofit,,,,,,,,,,,
19,330.40,2019,B,Constant 2018-19 dollars\1\,T,FALSE,,,2018-19,,,2018-19,Private,For-profit,,,,,,,,,,,

In [7]:
tab.row_info

,digest_table_id,digest_table_year,digest_table_sub_id,digest_table_sub_title,row_index,row_level_1,row_ref_note_1,row_level_2,row_ref_note_2,row_level_3,row_ref_note_3,row_level_4,row_ref_note_4,row_level_5,row_ref_note_5,row_level_6,row_ref_note_6,row_level_7,row_ref_note_7,is_total,year,location,location_type,A,B,C,D,E,F,G,H,I,J,K,L,M,N,O,P,Q,R,S,T
8,330.40,2019,A,Current dollars,1,4-year institutions,,"Average total cost, by living arrangement",,On campus,,,,,,,,,,FALSE,,,,27588.851301967607,20035.190911319623,39675.99851524312,31896.509904504044,31652.263247905947,23112.976785439434,47299.74171573676,31546.25124695539,32575.15730923401,23764.85087261002,48826.8191875373,32416.041152367827,33494.783787145665,24350.570278008985,50387.49992670244,32875.56126806977,34345.804239146375,24869.195918868056,51873.649846225635,33218.86820009804
9,330.40,2019,A,Current dollars,2,4-year institutions,,"Average total cost, by living arrangement",,"Off campus, living with family",,,,,,,,,,FALSE,,,,20084.008968002465,12554.147562120534,31689.032488487133,22267.920545696088,22242.934036159702,13907.413924093034,37479.2649328538,21830.92700298811,22747.802926353612,14101.837259345602,38733.35292649021,22096.34890516866,23363.361130856614,14386.51504078535,39995.50291998371,22589.04313668191,23874.269346614783,14588.658875390369,41099.70551853125,22733.29392107654
10,330.40,2019,A,Current dollars,3,4-year institutions,,"Average total cost, by living arrangement",,"Off campus, not living with family",,,,,,,,,,FALSE,,,,29142.299851061376,21323.54536765188,40032.60824530535,30999.7791461831,31542.571691801175,23415.620572327927,47104.80233458009,29608.977966126607,32165.445543375106,23812.575336683698,48434.72669594309,29680.236330186875,33136.52494371828,24355.63929540337,50370.15581271406,30405.04880187256,33903.20197488116,24924.582369019925,51728.33879446817,30217.22657012889
12,330.40,2019,A,Current dollars,4,4-year institutions,,"Average total cost, by living arrangement",,Component of student costs,,Tuition and required fees,,,,,,,,FALSE,,,,14596.070585079136,7163.285149879994,26636.801056465694,15191.482187080952,16895.552970102726,8520.268509457244,32311.690992209788,16154.037699857801,17442.014175124896,8776.15554981222,33486.90252324354,16810.38765860194,17999.632261885265,9014.433407652452,34658.463751984964,17206.757829159174,18509.59589703233,9216.455963557353,35769.15810084352,17261.94301124723
13,330.40,2019,A,Current dollars,5,4-year institutions,,"Average total cost, by living arrangement",,Component of student costs,,Books and supplies,,,,,,,,FALSE,,,,1222.714401321305,1196.1579331710554,1220.5951593760597,1521.9929898416765,1254.9285664726356,1266.6822448111045,1241.4817233090941,1148.9935924490658,1262.70705956914,1276.6489088077344,1247.2701725958561,1100.7689388744113,1268.8560843099185,1280.774233074656,1256.5403457569575,1102.1911069984903,1271.5671031162663,1282.8293737965662,1257.810402769468,1147.691997640582
16,330.40,2019,A,Current dollars,6,4-year institutions,,"Average total cost, by living arrangement",,Component of student costs,,"Room, board, and other expenses",,On campus,,Room and board,,,,FALSE,,,,8912.26907257451,8496.858905405546,9455.395224801034,9304.365642846118,10525.917481432347,10078.011328214678,11185.533773528467,9668.721655328798,10825.580797043513,10369.007511916494,11496.810449300234,10005.176785152564,11174.340637487707,10719.946050030256,11851.174725184195,10032.133814365367,11486.152919416769,11011.083181240247,12194.308241429579,10243.903574942604
17,330.40,2019,A,Current dollars,7,4-year institutions,,"Average total cost, by living arrangement",,Component of student costs,,"Room, board, and other expenses",,On campus,,Other,,,,FALSE,,,,2857.7972429926554,3178.888922863027,2363.2070746003305,5878.669084735298,2975.8642298982363,3248.0147029564064,2561.035226689415,4574.498299319728,3044.8552774964614,3343.0389020735706,2595.836042397677,4499.707769738911,3051.9548034627746,3335.4165872516187,2621.321103776322,4534.478517546737,3078.488319581014,3358.82740027389,2652.3731011830782,4565.329616267629
19,330.40,2019,A,Current dollars,8,4-year institutions,,"Average total cost, by living arrangement",,Component of student costs,,"Room, board, and other expenses",,"Off campus, living with family",,Other,,,,FALSE,,,,4265.223981602024,4194.704479069484,3831.636272645381,5554.44536877346,4092.4524995843412,4120.463169824686,3926.0922173349268,4527.895710681245,4043.081691659575,4049.032800725649,3999.180230650819,4185.192307692308,4094.8727846614297,4091.3074000582415,4080.4988222417855,4280.094200524247,4093.106346466184,4089.3735380364483,4072.7370149182707,4323.658912188729
21,330.40,2019,A,Current dollars,9,4-year institutions,,"Average total cost, by living arrangement",,Component of student costs,,"Room, board, and other expenses",,"Off campus, not living with family",,Room and board,,,,FALSE,,,,8802.109368783525,8942.26374572873,8201.656875593113,8865.734890499896,9143.847016134841,9657.979186800565,8778.3787511295,7586.830203862661,9268.765595196708,9799.341061818588,8837.95945455488,7338.890294537434,9592.59890341628,10073.105463660568,9231.205183254102,7694.260937168705,9823.420468923738,10366.209383674162,9387.202525175075,7717.71128701675
22,330.40,2019,A,Current dollars,10,4-year institutions,,"Average total cost, by living arrangement",,Component of student costs,,"Room, board, and other expenses",,"Off campus, not living with family",,Other,,,,FALSE,,,,4521.405495877406,4021.8385388721017,3973.5551538704867,5420.569078760576,4248.243139090974,3970.6906312590163,4773.250867931707,4719.116469957082,4191.9587134843605,3960.429816245155,4862.594545548815,4430.189438173089,4275.437694106821,3987.326191015691,5223.946531718039,4401.838928546187,4298.618505808827,4059.087647991843,5314.16776568011,4089.880274224327
25,330.40,2019,A,Current dollars,11,2-year institutions,,"Average total cost, by living arrangement",,On campus,,,,,,,,,,FALSE,,,,13776.522946728672,12335.550690214546,25762.61893523402,29178.683294067636,15095.53159835181,14344.50941245905,31749.164299829827,27775.754944142383,15448.350019913423,14676.976258795668,31827.899751636185,28711.120477783174,15686.803837117453,14972.25356961526,32339.39817678289,29499.150338939507,16152.847996637785,15420.032983793044,33227.06221465531,29957.50830325679
26,330.40,2019,A,Current dollars,12,2-year institutions,,"Average total cost, by living arrangement",,"Off campus, living with family",,,,,,,,,,FALSE,,,,8963.691316795193,7842.786357074386,18930.57795776583,19349.973300578964,9302.573293496396,8838.077645607413,22655.49764660164,20143.635577360183,9481.876112881455,8997.262989849958,22944.631452889684,20077.93295334967,9595.631141710764,9168.847441552292,23452.969862718903,20207.995488630626,9805.208589046637,9368.609215696779,23950.6828658537,20651.669977579615
27,330.40,2019,A,Current dollars,13,2-year institutions,,"Average total cost, by living arrangement",,"Off campus, not living with family",,,,,,,,,,FALSE,,,,16388.919201043598,15152.894322943735,27458.072555625295,27365.897724192044,17404.547936102354,16910.964329276383,30900.951462629346,28663.019667123524,17803.99942970438,17309.98572408163,32068.49998077185,28282.273897719573,18162.09024442914,17710.34988425103,31995.583092553992,29206.157070360106,18721.66024272127,18255.522048004186,32935.41491152725,30072.40558366023
29,330.40,2019,A,Current dollars,14,2-year institutions,,"Average total cost, by living arrangement",,Component of student costs,,Tuition and required fees,,,,,,,,FALSE,,,,3849.872663627749,2748.094774351098,13831.560487804878,13953.991726105563,3892.990619937862,3425.4062067991836,17137.333502024292,14779.018274629912,4030.6425954997385,3542.1191629064415,17428.67143915083,14667.315289741582,4066.15248100801,3637.4795933844675,17876.218890200707,14648.177662466023,4176.780424479585,3736.7631922531295,18386.871074380164,15020.766123054114
30,330.40,2019,A,Current dollars,15,2-year institutions,,"Average total cost, by living arrangement",,Component of student costs,,Books and supplies,,,,,,,,FALSE,,,,1302.1794916183987,1295.2978456100016,1152.5005911563017,1406.6823331335788,1443.810891797101,1450.8505125376867,1144.1688350088705,1291.4193263390391,1456.0020145288513,1464.8371746476255,1126.5341377280754,1264.9125705919264,1482.5149193083573,1489.3575790021564,1105.766394596116,1349.298947659928,1515.7983837474908,1524.4287753736337,1020.1551356293813,1339.1786208806425
33,330.40,2019,A,Current dollars,16,2-year institutions,,"Average total cost, by living arrangement",,Component of student costs,,"Room, board, and other expenses",,On campus,,Room and board,,,,FALSE,,,,5653.521293692246,5351.207292129836,7805.531059683313,9961.492084432717,6696.520550271739,6406.352775987478,10359.433611289289,8883.025830258302,6880.328587820322,6550.933379661802,10687.944174757282,9682.493288590604,7045.904608607252,6713.040739030023,10836.986643437864,9919.885593220339,7239.782997289055,6889.31441108545,11271.963414634147,9969.572033898305
34,330.40,2019,A,Current dollars,17,2-year institutions,,"Average total cost, by living arrangement",,Component of student costs,,"Room, board, and other expenses",,On campus,,Other,,,,FALSE,,,,2970.9494977902773,2940.9507781236107,2973.026796589525,3856.5171503957786,3062.2095363451085,3061.8999171347023,3108.2283515073764,2822.2915129151293,3081.3768220645106,3119.0865415798007,2584.75,3096.3993288590605,3092.231828193833,3132.3756581986145,2520.4262485482,3581.7881355932204,3220.4861911216535,3269.5266050808314,2548.0725900116145,3627.991525423729
36,330.40,2019,A,Current dollars,18,2-year institutions,,"Average total cost, by living arrangement",,Component of student costs,,"Room, board, and other expenses",,"Off campus, living with family",,Other,,,,FALSE,,,,3811.639161549045,3799.393737113286,3946.5168788046485,3989.2992413398224,3965.7717817614325,3961.8209262705423,4373.9953095684805,4073.197976391231,3995.2315028528647,3990.30665229589,4389.425876010781,4145.705093016163,4046.9637413943983,4042.010269165669,4470.984577922078,4210.518878504673,4112.629780819562,4107.417248070016,4543.6566558441555,4291.72523364486
38,330.40,2019,A,Current dollars,19,2-year institutions,,"Average total cost, by living arrangement",,Component of student costs,,"Room, board, and other expenses",,"Off campus, not living with family",,Room and board,,,,FALSE,,,,7477.998895104571,7411.895623818119,7999.030604437644,7888.654895485421,8200.128730467699,8200.261958476378,8211.81001589825,8195.269948267754,8404.523303006865,8423.582590670054,8863.785888077859,7970.461455275761,8646.876053067994,8652.296356805871,8595.282462057336,8533.993944287444,8955.191169154228,8957.843036868775,9065.75042158516,8867.452765442067
39,330.40,2019,A,Current dollars,20,2-year institutions,,"Average total cost, by living arrangement",,Component of student costs,,"Room, board, and other expenses",,"Off campus, not living with family",,Other,,,,FALSE,,,,3758.868150692881,3697.6060791645177,4474.9808722264725,4116.5687694674825,3867.61769389969,3834.4456514631356,4407.639109697933,4397.312117886816,3912.831516668926,3879.4467958575106,4649.508515815085,4379.584582110304,3966.546791044776,3931.2163550585356,4418.315345699832,4674.68651594671,4073.890265339967,4036.487043508649,4462.6382799325465,4845.008074283407
43,330.40,2019,B,Constant 2018-19 dollars,21,4-year institutions,,"Average total cost, by living arrangement",,On campus,,,,,,,,,,FALSE,,,,31604.631622604367,22951.47490231492,45451.160818856806,36539.304755566496,33644.20395206609,24567.522986216125,50276.40976888367,33531.52040228603,33999.75661592987,24804.151765479503,50962.14741028121,33833.68188125534,34188.90765257493,24855.1954779861,51431.697328921895,33556.85277335504,34345.804239146375,24869.195918868056,51873.649846225635,33218.86820009804
44,330.40,2019,B,Constant 2018-19 dollars,22,4-year institutions,,"Average total cost, by living arrangement",,"Off campus, living with family",,,,,,,,,,FALSE,,,,23007.398821767216,14381.505220854882,36301.627324510984,25509.196383176564,23642.726693624943,14782.635505186046,39837.910594209236,23204.791227679147,23742.625575101076,14718.54855845288,40427.26670260089,23062.681716150666,23847.52805788105,14684.651714651525,40824.34341237288,23057.163606962407,23874.269346614783,14588.658875390369,41099.70551853125,22733.29392107654
45,330.40,2019,B,Constant 2018-19 dollars,23,4-year institutions,,"Average total cost, by living arrangement",,"Off campus, not living with family",,,,,,,,,,FALSE,,,,33384.197165272555,24427.359764140165,45859.67797777344,35512.04758667629,33527.60928531181,24889.212756427918,50069.20245967621,31472.330610371104,33572.12705179153,24853.963348819758,50552.90765869426,30978.232950653473,33823.22448854872,24860.36954236243,51413.99378692464,31035.143031978347,33903.20197488116,24924.582369019925,51728.33879446817,30217.22657012889
46,330.40,2019,B,Constant 2018-19 dollars,24,4-year institutions,,Tuition and required fees,,,,,,,,,,,,FALSE,,,,16720.64664562739,8205.959207641365,30514.00276800062,17402.72521929204,17958.824162334706,9056.466174737454,34345.13081303794,17170.643842011414,18204.80040100196,9159.960453439608,34951.374902153024,17545.551156859077,18372.64480023519,9201.24259565431,35376.70295550538,17563.339359339552,18509.59589703233,9216.455963557353,35769.15810084352,17261.94301124723
49,330.40,2019,B,Constant 2018-19 dollars,25,2-year institutions,,"Average total cost, by living arrangement",,On campus,,,,,,,,,,FALSE,,,,15781.807223726755,14131.089807221853,29512.576372599247,33425.87651251282,16045.523818692704,15247.238293363826,33747.20318243906,29523.739169746692,16123.947946242553,15318.839934362477,33219.81947405955,29966.73505360341,16011.886840633642,15282.528703438244,33009.578590866935,30110.471325224004,16152.847996637785,15420.032983793044,33227.06221465531,29957.50830325679
50,330.40,2019,B,Constant 2018-19 dollars,26,2-year institutions,,"Average total cost, by living arrangement",,"Off campus, living with family",,,,,,,,,,FALSE,,,,10268.429045679235,8984.367308270117,21686.076604266356,22166.518329395367,9888.002975147187,9394.275680197497,24081.253763370187,21411.315152815714,9896.54407621184,9390.737516951236,23948.06194287578,20955.995002097472,9794.484689225643,9358.856604414957,23938.9937821554,20626.77269377051,9805.208589046637,9368.609215696779,23950.6828658537,20651.669977579615
51,330.40,2019,B,Constant 2018-19 dollars,27,2-year institutions,,"Average total cost, by living arrangement",,"Off campus, not living with family",,,,,,,,,,FALSE,,,,18774.45887008241,17358.52057960583,31454.816972585937,31349.225349345146,18499.85120714798,17975.205389394396,32845.61060228062,30466.84124954586,18582.61624506449,18066.99799043381,33470.94179880211,29519.133858332953,18538.469455140046,18077.367524904646,32658.638509003347,29811.406256885468,18721.66024272127,18255.522048004186,32935.41491152725,30072.40558366023
52,330.40,2019,B,Constant 2018-19 dollars,28,2-year institutions,,Tuition and required fees,,,,,,,,,,,,FALSE,,,,4410.252750146651,3148.1021828979265,15844.855923800884,15985.108018505402,4137.984363861715,3640.9739214414376,18215.820430307624,15709.09167374805,4206.913444864449,3697.0255676801257,18190.87415127115,15308.756465128705,4150.416750199241,3712.8603276452177,18246.673891020502,14951.736860375151,4176.780424479585,3736.7631922531295,18386.871074380164,15020.766123054114

In [8]:
tab.cell_info

Empty DataFrame
Columns: [digest_table_id, digest_table_year, digest_table_sub_id, digest_table_sub_title, is_standard_error, is_dollar, format_string, row_index, column_index, cell_note]
Index: []