In [1]:
import numpy as np
import pandas as pd
import re
import os
from table import Table

In [2]:
pd.set_option("display.max_rows", None, "display.max_columns", None)

In [3]:
tables = {}

directory = "tables/"
for filename in os.listdir(directory):
    if filename.endswith(".xls"):
        file_directory = os.path.join(directory, filename)
        table = Table(file_directory, "2019")
        tables[table.id] = table

In [4]:
tables

{'203.10': <table.Table at 0x2680bce9430>,
 '203.50': <table.Table at 0x2680bd39a90>,
 '204.10': <table.Table at 0x26808c1dca0>,
 '204.27': <table.Table at 0x2680c14f370>,
 '213.10': <table.Table at 0x2680c2630d0>,
 '215.10': <table.Table at 0x2680c2a3e80>,
 '217.10': <table.Table at 0x2680c3ecc40>,
 '217.15': <table.Table at 0x2680c4c9e80>,
 '219.70': <table.Table at 0x2680c6b9040>,
 '236.30': <table.Table at 0x2680c7032b0>,
 '318.45': <table.Table at 0x2680c73d460>}

In [5]:
tab = tables['203.50']

In [6]:
tab.row_info

,digest_table_id,digest_table_year,digest_table_sub_id,digest_table_sub_title,row_index,row_level_1,row_ref_note_1,row_level_2,row_ref_note_2,row_level_3,row_ref_note_3,row_level_4,row_ref_note_4,row_level_5,row_ref_note_5,row_level_6,row_ref_note_6,row_level_7,row_ref_note_7,is_total,A,B,C,D,E,F,G,H,I,J,K,L,M,N,O,P
5,203.50,2019,A,,1,United States,,1995.0,,,,,,,,,,,,FALSE,44840.5,29044.1,7550.57,6072.15,1668.4389999999999\1\,---,505.2,---,100,64.7721,16.8387,13.5417,3.72083207582006\1\,---,1.12666,---
6,203.50,2019,A,,2,United States,,2000.0,,,,,,,,,,,,FALSE,47203.5,28877.5,8099.79,7725.84,1950.33\1\,---,550.03,---,100,61.1767,17.1593,16.3671,4.131745291385885\1\,---,1.16523,---
7,203.50,2019,A,,3,United States,,2001.0,,,,,,,,,,,,FALSE,47671.8,28734.5,8176.92,8169.18,2027.612\1\,---,563.586,---,100,60.2757,17.1525,17.1363,4.253269587248808\1\,---,1.18222,---
8,203.50,2019,A,,4,United States,,2002.0,,,,,,,,,,,,FALSE,48183.1,28618.4,8298.86,8594.17,2088.478\1\,---,583.18,---,100,59.3951,17.2236,17.8365,4.334462927509458\1\,---,1.21034,---
9,203.50,2019,A,,5,United States,,2003.0,,,,,,,,,,,,FALSE,48540.2,28442.5,8348.81,9010.91,2145.2200000000003\1\,---,592.789,---,100,58.5957,17.1998,18.5638,4.419469505852003\1\,---,1.22123,---
10,203.50,2019,A,,6,United States,,2004.0,,,,,,,,,,,,FALSE,48795.5,28318.1,8386.22,9316.7,2183.1810000000005\1\,---,591.232,---,100,58.0344,17.1865,19.0934,4.474147341356416\1\,---,1.21165,---
11,203.50,2019,A,,7,United States,,2005.0,,,,,,,,,,,,FALSE,49113.3,28005.2,8444.77,9786.8,2278.5150000000003\1\,---,598.029,---,100,57.0216,17.1945,19.927,4.6393035955353685\1\,---,1.21765,---
12,203.50,2019,A,,8,United States,,2006.0,,,,,,,,,,,,FALSE,49315.8,27801.2,8422.15,10165.6,2331.6809999999996\1\,---,595.262,---,100,56.3737,17.078,20.6132,4.728056757096431\1\,---,1.20704,---
13,203.50,2019,A,,9,United States,,2007.0,,,,,,,,,,,,FALSE,49290.6,27454.4,8391.78,10453.8,2396.455\1\,---,594.148,---,100,55.6991,17.0251,21.2085,4.861894546580411\1\,---,1.2054,---
14,203.50,2019,A,,10,United States,,2008.0,,,,,,,,,,,,FALSE,49265.6,27057.1,8358.07,10563.1,2405.106,46.358,589.327,246.534\2\,100,54.9209,16.9653,21.4411,4.881920380423067,0.0940982,1.19622,0.5004184260765308\2\
15,203.50,2019,A,,11,United States,,2009.0,,,,,,,,,,,,FALSE,49361,26701.8,8245.38,10991.3,2435.232,49.073,600.526,337.729\2\,100,54.0949,16.7042,22.2671,4.933516111976866,0.0994166,1.2166,0.684202352376215\2\
16,203.50,2019,A,,12,United States,,2010.0,,,,,,,,,,,,FALSE,49484.2,25932.7,7917.02,11438.8,2295.692,170.507,565.629,1163.846,100,52.406,15.9991,23.1161,4.639244206143374,0.344569,1.14305,2.3519556684185603
17,203.50,2019,A,,13,United States,,2011.0,,,,,,,,,,,,FALSE,49521.7,25602.2,7827.3,11759.5,2334.143,178.635,547.431,1272.479,100,51.699,15.8058,23.7461,4.713377087512944,0.360721,1.10544,2.5695398109461944
18,203.50,2019,A,,14,United States,,2012.0,,,,,,,,,,,,FALSE,49771.1,25385.8,7803.27,12103.5,2371.7470000000003,180.341,533.583,1392.8289999999997,100,51.0052,15.6783,24.3183,4.765307863890058,0.362341,1.07207,2.7984683807986785
19,203.50,2019,A,,15,United States,,2013.0,,,,,,,,,,,,FALSE,50044.5,25160.2,7804.8,12452.3,2416.9120000000003,176.197,523.483,1510.558,100,50.2757,15.5957,24.8825,4.829523599006501,0.35208,1.04603,3.018428270730611
20,203.50,2019,A,,16,United States,,2014.0,,,,,,,,,,,,FALSE,50312.6,24923,7807.15,12804.5,2470.431,175.669,519.367,1612.4329999999998,100,49.5363,15.5173,25.4499,4.910165511087574,0.349155,1.03228,3.204830616819279
21,203.50,2019,A,,17,United States,,2015,Includes imputations for prekindergarten enrol...,,,,,,,,,,,FALSE,50438,24644,7783.94,13079.8,2520.5869999999995,176.556,509.621,1723.4769999999999,100,48.86,15.4327,25.9325,4.99739254356082,0.350045,1.01039,3.4170179838262165
22,203.50,2019,A,,18,United States,,2016,Includes imputations for prekindergarten enrol...,,,,,,,,,,,FALSE,50615.2,24413.3,7764.57,13329.3,2571.069,184.488,510.943,1841.511,100,48.2331,15.3404,26.3346,5.079639236356501,0.364491,1.00947,3.6382576779472258
23,203.50,2019,A,,19,United States,,2017,Includes imputations for prekindergarten enrol...,,,,,,,,,,,FALSE,50685.6,24124.5,7709.4,13570.9,2639.5969999999998,185.121,497.508,1958.5339999999997,100,47.5963,15.2102,26.7747,5.2077882447285235,0.365234,0.981558,3.8640862003181295
24,203.50,2019,A,,20,United States,,2018,Projected,,,,,,,,,,,FALSE,50649.8,23846.5,7670.96,13704.3,2690.997,186.595,490.871,2059.625,100,47.081,15.1451,27.057,5.312944004469275,0.368402,0.969146,4.066400778300768
25,203.50,2019,A,,21,United States,,2019,Projected,,,,,,,,,,,FALSE,50634,23596.7,7638.63,13830.6,2736.719,187.94,483.746,2159.7250000000004,100,46.6024,15.086,27.3148,5.404903392589691,0.371173,0.955378,4.265364832692277
26,203.50,2019,A,,22,United States,,2020,Projected,,,,,,,,,,,FALSE,50654.2,23375.7,7615.95,13952.3,2787.084,189.18,476.811,2257.208,100,46.1476,15.0352,27.5441,5.502176857732207,0.373473,0.941306,4.456111699786588
27,203.50,2019,A,,23,United States,,2021,Projected,,,,,,,,,,,FALSE,50643.1,23169.8,7597.88,14044.2,2822.818,190.142,470.986,2347.3269999999998,100,45.7511,15.0028,27.7317,5.573941621804865,0.375455,0.93001,4.635036217455871
28,203.50,2019,A,,24,United States,,2022,Projected,,,,,,,,,,,FALSE,50721.2,23041.5,7635.82,14070.4,2881.8109999999997,188.711,464.111,2438.85,100,45.4277,15.0545,27.7407,5.681672174129555,0.372056,0.915024,4.808346620189828
29,203.50,2019,A,,25,United States,,2023,Projected,,,,,,,,,,,FALSE,50768.2,22910.2,7656.98,14082.3,2938.7650000000003,187.106,457.833,2534.9839999999995,100,45.1271,15.0822,27.7384,5.788596891655059,0.36855,0.901811,4.993254140019805
30,203.50,2019,A,,26,United States,,2024,Projected,,,,,,,,,,,FALSE,50757.7,22779,7665.48,14057.3,2998.9249999999997,186.325,451.635,2619.022,100,44.8778,15.1021,27.695,5.908317367441693,0.367087,0.889786,5.1598533368830095
31,203.50,2019,A,,27,United States,,2025,Projected,,,,,,,,,,,FALSE,50704.1,22639.1,7664.25,14015.7,3060.3280000000004,185.592,445.648,2693.5489999999995,100,44.6494,15.1156,27.6421,6.035662048460069,0.36603,0.878919,5.31229053714751
32,203.50,2019,A,,28,United States,,2026,Projected,,,,,,,,,,,FALSE,50671.5,22522.2,7663.92,13974.9,3122.1989999999996,185.275,440.737,2762.242,100,44.4475,15.1247,27.5795,6.161645863721053,0.365639,0.869793,5.451272322454965
33,203.50,2019,A,,29,United States,,2027,Projected,,,,,,,,,,,FALSE,50734.3,22446,7674.73,13966.6,3191.71,186.034,436.749,2832.494,100,44.2422,15.1273,27.5289,6.2910316703777,0.366683,0.860856,5.582997659610308
34,203.50,2019,A,,30,United States,,2028,Projected,,,,,,,,,,,FALSE,50885,22401,7706.79,13995.4,3259.8979999999997,186.16,434.22,2901.46,100,44.0229,15.1455,27.504,6.406407708682485,0.365845,0.853337,5.701999176180938
35,203.50,2019,A,,31,United States,,2029,Projected,,,,,,,,,,,FALSE,51068.1,22359.1,7746.05,14049,3327.4929999999995,186.403,433.127,2966.844,100,43.783,15.1681,27.5104,6.515800168183388,0.365009,0.848137,5.809587768982197
37,203.50,2019,A,,32,Northeast,,1995.0,,,,,,,,,,,,FALSE,7894.19,5496.87,1202.3,878.402,295.259\1\,---,21.358,---,100,69.6318,15.2302,11.1272,3.7402064049636508\1\,---,0.270553,---
38,203.50,2019,A,,33,Northeast,,2000.0,,,,,,,,,,,,FALSE,8222.13,5544.61,1269.97,1022.52,361.142\1\,---,23.886,---,100,67.4352,15.4457,12.4362,4.3923184353635\1\,---,0.290509,---
39,203.50,2019,A,,34,Northeast,,2005.0,,,,,,,,,,,,FALSE,8240.16,5317.15,1282.14,1188.65,424.919\1\,---,27.297,---,100,64.5273,15.5597,14.4251,5.156683850799013\1\,---,0.331268,---
40,203.50,2019,A,,35,Northeast,,2010.0,,,,,,,,,,,,FALSE,8071.33,4876.28,1207.86,1363.85,493.772,6.137,27.035,96.401,100,60.4149,14.9648,16.8974,6.117600124390823,0.0760345,0.334951,1.194362518715925
41,203.50,2019,A,,36,Northeast,,2014.0,,,,,,,,,,,,FALSE,7979.86,4506.94,1155.44,1565.98,538.136,6.51,28.268,178.584,100,56.4789,14.4795,19.6242,6.7436805877198776,0.0815804,0.354242,2.2379351206337557
42,203.50,2019,A,,37,Northeast,,2015.0,,,,,,,,,,,,FALSE,7933.76,4408.88,1135.97,1609.63,547.371,6.519,28.853,196.536,100,55.5711,14.3182,20.2883,6.899261661743823,0.0821678,0.363674,2.4772106851705407
43,203.50,2019,A,,38,Northeast,,2016.0,,,,,,,,,,,,FALSE,7959.3,4345.01,1131.74,1667.76,557.688,13.404,29.753,213.957,100,54.5903,14.2191,20.9536,7.006743303183292,0.168407,0.373814,2.6881370531895747
44,203.50,2019,A,,39,Northeast,,2017.0,,,,,,,,,,,,FALSE,7946.54,4269.4,1116.6,1714.41,570.142,13.492,30.235,232.26,100,53.7265,14.0514,21.5743,7.174723678342364,0.169785,0.38048,2.922782958511734
46,203.50,2019,A,,40,Midwest,,1995.0,,,,,,,,,,,,FALSE,10512.5,8335.05,1450.38,437.925,197.113\1\,---,91.997,---,100,79.2873,13.7967,4.16577,1.875041795644578\1\,---,0.875124,---
47,203.50,2019,A,,41,Midwest,,2000.0,,,,,,,,,,,,FALSE,10730,8208.45,1580.54,610.017,238.746\1\,---,92.24,---,100,76.5001,14.7301,5.68516,2.2250353145814623\1\,---,0.859647,---
48,203.50,2019,A,,42,Midwest,,2005.0,,,,,,,,,,,,FALSE,10818.8,7950.27,1654,836.034,282.889\1\,---,95.621,---,100,73.4856,15.2882,7.72759,2.6147872941722365\1\,---,0.88384,---
49,203.50,2019,A,,43,Midwest,,2010.0,,,,,,,,,,,,FALSE,10609.6,7326.72,1505,1077.35,302.545,9.269,94.437,294.287,100,69.0574,14.1852,10.1545,2.8516144429141748,0.0873642,0.890109,2.773779304109748
50,203.50,2019,A,,44,Midwest,,2014.0,,,,,,,,,,,,FALSE,10560.5,7037.39,1459.32,1248.88,337.671,11.299,86.174,379.81,100,66.6385,13.8186,11.8259,3.197478840805378,0.106993,0.816,3.596502034602589
51,203.50,2019,A,,45,Midwest,,2015.0,,,,,,,,,,,,FALSE,10555.6,6968.34,1458.16,1284.39,348.316,11.628,84.265,400.478,100,66.0157,13.8141,12.1679,3.2998284603809984,0.11016,0.798298,3.793993678603514
52,203.50,2019,A,,46,Midwest,,2016.0,,,,,,,,,,,,FALSE,10538.9,6893.28,1449.46,1311.79,360.131,12.381,86.312,425.589,100,65.4077,13.7534,12.4471,3.4171440467439496,0.117479,0.818981,4.038249741648763
53,203.50,2019,A,,47,Midwest,,2017.0,,,,,,,,,,,,FALSE,10523.8,6824.83,1445.88,1339.8,371.673,12.681,82.257,446.64,100,64.8517,13.7392,12.7312,3.531753358331386,0.120499,0.781632,4.24411329304289
55,203.50,2019,A,,48,South,,1995.0,,,,,,,,,,,,FALSE,16118,9564.68,4235.58,1889.96,280.147\1\,---,147.629,---,100,59.3416,26.2786,11.7258,1.7381011232664711\1\,---,0.915927,---
56,203.50,2019,A,,49,South,,2000.0,,,,,,,,,,,,FALSE,17007.3,9500.63,4516.34,2468.24,352.423\1\,---,169.625,---,100,55.8622,26.5554,14.5129,2.072191401072754\1\,---,0.997368,---
57,203.50,2019,A,,50,South,,2005.0,,,,,,,,,,,,FALSE,18103.2,9381.47,4737.72,3333.77,456.125\1\,---,194.087,---,100,51.8222,26.1706,18.4154,2.5195869054064906\1\,---,1.07212,---
58,203.50,2019,A,,51,South,,2010.0,,,,,,,,,,,,FALSE,18805,8868.54,4544.75,4205.86,532.955,21.989,207.118,423.79,100,47.1605,24.1678,22.3656,2.834113267747939,0.116932,1.1014,2.253602765222015
59,203.50,2019,A,,52,South,,2014.0,,,,,,,,,,,,FALSE,19506.2,8680.57,4576.59,4845.64,612.708,27.725,183.672,579.286,100,44.5016,23.4623,24.8415,3.141094728222981,0.142134,0.941609,2.9697542723995403
60,203.50,2019,A,,53,South,,2015.0,,,,,,,,,,,,FALSE,19641.5,8601.44,4583.38,4994.21,637.253,29.04,180.685,615.466,100,43.7923,23.3352,25.4269,3.2444258760239557,0.14785,0.919916,3.133502417741399
61,203.50,2019,A,,54,South,,2016.0,,,,,,,,,,,,FALSE,19749.8,8512.9,4570.88,5141.59,664.693,30.254,177.449,652.049,100,43.1037,23.1439,26.0336,3.3655655323573646,0.153186,0.898484,3.301544682745399
62,203.50,2019,A,,55,South,,2017.0,,,,,,,,,,,,FALSE,19824.5,8438.68,4554.95,5248.64,688.775,31.671,173.757,687.994,100,42.567,22.9764,26.4755,3.474367964155811,0.159757,0.876477,3.4704283882710802
64,203.50,2019,A,,56,West,,1995.0,,,,,,,,,,,,FALSE,10315.8,5647.53,662.31,2865.86,895.92\1\,---,244.216,---,100,54.7462,6.42032,27.7812,8.684896237242917\1\,---,2.36739,---
65,203.50,2019,A,,57,West,,2000.0,,,,,,,,,,,,FALSE,11244.2,5623.86,732.945,3625.06,998.019\1\,---,264.279,---,100,50.0158,6.51845,32.2395,8.875884414350413\1\,---,2.35037,---
66,203.50,2019,A,,58,West,,2005.0,,,,,,,,,,,,FALSE,11951.2,5356.29,770.914,4428.35,1114.582\1\,---,281.024,---,100,44.8182,6.45054,37.0537,9.326143067152412\1\,---,2.35144,---
67,203.50,2019,A,,59,West,,2010.0,,,,,,,,,,,,FALSE,11998.2,4861.15,659.419,4791.74,966.42,133.112,237.039,349.368,100,40.5155,5.49596,39.937,8.054680010621555,1.10943,1.97561,2.9118265825943497
68,203.50,2019,A,,60,West,,2014.0,,,,,,,,,,,,FALSE,12266,4698.12,615.799,5144.02,981.916,130.135,221.253,474.753,100,38.302,5.02038,41.9372,8.005189632832826,1.06094,1.80379,3.8704815826977885
69,203.50,2019,A,,61,West,,2015,Includes imputations for prekindergarten enrol...,,,,,,,,,,,FALSE,12307.2,4665.37,606.426,5191.61,987.647,129.369,215.818,510.997,100,37.9075,4.9274,42.1834,8.024933311557515,1.05116,1.75359,4.1520065847473395
70,203.50,2019,A,,62,West,,2016,Includes imputations for prekindergarten enrol...,,,,,,,,,,,FALSE,12367.1,4662.09,612.488,5208.19,988.557,128.449,217.429,549.916,100,37.6974,4.95255,42.1132,7.993428058686572,1.03863,1.75812,4.446596386774546
71,203.50,2019,A,,63,West,,2017,Includes imputations for prekindergarten enrol...,,,,,,,,,,,FALSE,12390.8,4591.57,591.97,5268.09,1009.007,127.277,211.259,591.64,100,37.0563,4.77749,42.5161,8.14318903632523,1.02719,1.70497,4.774829472393611

In [8]:
tab.col_info

,digest_table_id,digest_table_year,column_index,column_level_1,column_ref_note_1,column_level_2,column_ref_note_2,column_level_3,column_ref_note_3,column_level_4,column_ref_note_4,column_level_5,column_ref_note_5,column_level_6,column_ref_note_6,column_level_7,column_ref_note_7
0,203.50,2019,A,Enrollment (in thousands),,Total,,,,,,,,,,,
1,203.50,2019,B,Enrollment (in thousands),,White,,,,,,,,,,,
2,203.50,2019,C,Enrollment (in thousands),,Black,,,,,,,,,,,
3,203.50,2019,D,Enrollment (in thousands),,Hispanic,,,,,,,,,,,
4,203.50,2019,E,Enrollment (in thousands),,Asian,,,,,,,,,,,
5,203.50,2019,F,Enrollment (in thousands),,Pacific Islander,,,,,,,,,,,
6,203.50,2019,G,Enrollment (in thousands),,American Indian/ Alaska Native,,,,,,,,,,,
7,203.50,2019,H,Enrollment (in thousands),,Two or more races,,,,,,,,,,,
8,203.50,2019,I,Percentage distribution,,Total,,,,,,,,,,,
9,203.50,2019,J,Percentage distribution,,White,,,,,,,,,,,
10,203.50,2019,K,Percentage distribution,,Black,,,,,,,,,,,
11,203.50,2019,L,Percentage distribution,,Hispanic,,,,,,,,,,,
12,203.50,2019,M,Percentage distribution,,Asian,,,,,,,,,,,
13,203.50,2019,N,Percentage distribution,,Pacific Islander,,,,,,,,,,,
14,203.50,2019,O,Percentage distribution,,American Indian/ Alaska Native,,,,,,,,,,,
15,203.50,2019,P,Percentage distribution,,Two or more races,,,,,,,,,,,

In [9]:
tab.cell_info

,digest_table_id,digest_table_year,digest_table_sub_id,digest_table_sub_title,row_index,column_index,cell_ref_note,cell_special_note
0,203.50,2019,A,,1,E,Includes Pacific Islanders.,
1,203.50,2019,A,,1,F,,Not available.
2,203.50,2019,A,,1,H,,Not available.
3,203.50,2019,A,,1,M,Includes Pacific Islanders.,
4,203.50,2019,A,,1,N,,Not available.
5,203.50,2019,A,,1,P,,Not available.
6,203.50,2019,A,,2,E,Includes Pacific Islanders.,
7,203.50,2019,A,,2,F,,Not available.
8,203.50,2019,A,,2,H,,Not available.
9,203.50,2019,A,,2,M,Includes Pacific Islanders.,
10,203.50,2019,A,,2,N,,Not available.
11,203.50,2019,A,,2,P,,Not available.
12,203.50,2019,A,,3,E,Includes Pacific Islanders.,
13,203.50,2019,A,,3,F,,Not available.
14,203.50,2019,A,,3,H,,Not available.
15,203.50,2019,A,,3,M,Includes Pacific Islanders.,
16,203.50,2019,A,,3,N,,Not available.
17,203.50,2019,A,,3,P,,Not available.
18,203.50,2019,A,,4,E,Includes Pacific Islanders.,
19,203.50,2019,A,,4,F,,Not available.
20,203.50,2019,A,,4,H,,Not available.
21,203.50,2019,A,,4,M,Includes Pacific Islanders.,
22,203.50,2019,A,,4,N,,Not available.
23,203.50,2019,A,,4,P,,Not available.
24,203.50,2019,A,,5,E,Includes Pacific Islanders.,
25,203.50,2019,A,,5,F,,Not available.
26,203.50,2019,A,,5,H,,Not available.
27,203.50,2019,A,,5,M,Includes Pacific Islanders.,
28,203.50,2019,A,,5,N,,Not available.
29,203.50,2019,A,,5,P,,Not available.
30,203.50,2019,A,,6,E,Includes Pacific Islanders.,
31,203.50,2019,A,,6,F,,Not available.
32,203.50,2019,A,,6,H,,Not available.
33,203.50,2019,A,,6,M,Includes Pacific Islanders.,
34,203.50,2019,A,,6,N,,Not available.
35,203.50,2019,A,,6,P,,Not available.
36,203.50,2019,A,,7,E,Includes Pacific Islanders.,
37,203.50,2019,A,,7,F,,Not available.
38,203.50,2019,A,,7,H,,Not available.
39,203.50,2019,A,,7,M,Includes Pacific Islanders.,
40,203.50,2019,A,,7,N,,Not available.
41,203.50,2019,A,,7,P,,Not available.
42,203.50,2019,A,,8,E,Includes Pacific Islanders.,
43,203.50,2019,A,,8,F,,Not available.
44,203.50,2019,A,,8,H,,Not available.
45,203.50,2019,A,,8,M,Includes Pacific Islanders.,
46,203.50,2019,A,,8,N,,Not available.
47,203.50,2019,A,,8,P,,Not available.
48,203.50,2019,A,,9,E,Includes Pacific Islanders.,
49,203.50,2019,A,,9,F,,Not available.
50,203.50,2019,A,,9,H,,Not available.
51,203.50,2019,A,,9,M,Includes Pacific Islanders.,
52,203.50,2019,A,,9,N,,Not available.
53,203.50,2019,A,,9,P,,Not available.
54,203.50,2019,A,,10,H,"For this year, data on Pacific Islanders and s...",
55,203.50,2019,A,,10,P,"For this year, data on Pacific Islanders and s...",
56,203.50,2019,A,,11,H,"For this year, data on Pacific Islanders and s...",
57,203.50,2019,A,,11,P,"For this year, data on Pacific Islanders and s...",
58,203.50,2019,A,,32,E,Includes Pacific Islanders.,
59,203.50,2019,A,,32,F,,Not available.
60,203.50,2019,A,,32,H,,Not available.
61,203.50,2019,A,,32,M,Includes Pacific Islanders.,
62,203.50,2019,A,,32,N,,Not available.
63,203.50,2019,A,,32,P,,Not available.
64,203.50,2019,A,,33,E,Includes Pacific Islanders.,
65,203.50,2019,A,,33,F,,Not available.
66,203.50,2019,A,,33,H,,Not available.
67,203.50,2019,A,,33,M,Includes Pacific Islanders.,
68,203.50,2019,A,,33,N,,Not available.
69,203.50,2019,A,,33,P,,Not available.
70,203.50,2019,A,,34,E,Includes Pacific Islanders.,
71,203.50,2019,A,,34,F,,Not available.
72,203.50,2019,A,,34,H,,Not available.
73,203.50,2019,A,,34,M,Includes Pacific Islanders.,
74,203.50,2019,A,,34,N,,Not available.
75,203.50,2019,A,,34,P,,Not available.
76,203.50,2019,A,,40,E,Includes Pacific Islanders.,
77,203.50,2019,A,,40,F,,Not available.
78,203.50,2019,A,,40,H,,Not available.
79,203.50,2019,A,,40,M,Includes Pacific Islanders.,
80,203.50,2019,A,,40,N,,Not available.
81,203.50,2019,A,,40,P,,Not available.
82,203.50,2019,A,,41,E,Includes Pacific Islanders.,
83,203.50,2019,A,,41,F,,Not available.
84,203.50,2019,A,,41,H,,Not available.
85,203.50,2019,A,,41,M,Includes Pacific Islanders.,
86,203.50,2019,A,,41,N,,Not available.
87,203.50,2019,A,,41,P,,Not available.
88,203.50,2019,A,,42,E,Includes Pacific Islanders.,
89,203.50,2019,A,,42,F,,Not available.
90,203.50,2019,A,,42,H,,Not available.
91,203.50,2019,A,,42,M,Includes Pacific Islanders.,
92,203.50,2019,A,,42,N,,Not available.
93,203.50,2019,A,,42,P,,Not available.
94,203.50,2019,A,,48,E,Includes Pacific Islanders.,
95,203.50,2019,A,,48,F,,Not available.
96,203.50,2019,A,,48,H,,Not available.
97,203.50,2019,A,,48,M,Includes Pacific Islanders.,
98,203.50,2019,A,,48,N,,Not available.
99,203.50,2019,A,,48,P,,Not available.
100,203.50,2019,A,,49,E,Includes Pacific Islanders.,
101,203.50,2019,A,,49,F,,Not available.
102,203.50,2019,A,,49,H,,Not available.
103,203.50,2019,A,,49,M,Includes Pacific Islanders.,
104,203.50,2019,A,,49,N,,Not available.
105,203.50,2019,A,,49,P,,Not available.
106,203.50,2019,A,,50,E,Includes Pacific Islanders.,
107,203.50,2019,A,,50,F,,Not available.
108,203.50,2019,A,,50,H,,Not available.
109,203.50,2019,A,,50,M,Includes Pacific Islanders.,
110,203.50,2019,A,,50,N,,Not available.
111,203.50,2019,A,,50,P,,Not available.
112,203.50,2019,A,,56,E,Includes Pacific Islanders.,
113,203.50,2019,A,,56,F,,Not available.
114,203.50,2019,A,,56,H,,Not available.
115,203.50,2019,A,,56,M,Includes Pacific Islanders.,
116,203.50,2019,A,,56,N,,Not available.
117,203.50,2019,A,,56,P,,Not available.
118,203.50,2019,A,,57,E,Includes Pacific Islanders.,
119,203.50,2019,A,,57,F,,Not available.
120,203.50,2019,A,,57,H,,Not available.
121,203.50,2019,A,,57,M,Includes Pacific Islanders.,
122,203.50,2019,A,,57,N,,Not available.
123,203.50,2019,A,,57,P,,Not available.
124,203.50,2019,A,,58,E,Includes Pacific Islanders.,
125,203.50,2019,A,,58,F,,Not available.
126,203.50,2019,A,,58,H,,Not available.
127,203.50,2019,A,,58,M,Includes Pacific Islanders.,
128,203.50,2019,A,,58,N,,Not available.
129,203.50,2019,A,,58,P,,Not available.

In [10]:
tables['203.10'].cell_info

Empty DataFrame
Columns: [digest_table_id, digest_table_year, digest_table_sub_id, digest_table_sub_title, row_index, column_index, cell_ref_note, cell_special_note]
Index: []

In [12]:
tables['204.10'].row_info

,digest_table_id,digest_table_year,digest_table_sub_id,digest_table_sub_title,row_index,row_level_1,row_ref_note_1,row_level_2,row_ref_note_2,row_level_3,row_ref_note_3,row_level_4,row_ref_note_4,row_level_5,row_ref_note_5,row_level_6,row_ref_note_6,row_level_7,row_ref_note_7,is_total,A,B,C,D,E,F,G,H,I,J,K,L
4,204.10,2019,A,,1,United States,,,,,,,,,,,,,,TRUE,46579068\1\,48941267,49944748,50044716,17839867\1\,23544479,26113604.167838287\1\,26341970.27905635\1\,38.300180244052974\1\,48.1076,52.28498533587212\1\,52.63686635579339\1\
5,204.10,2019,A,,2,United States,,Alabama,,,,,,,,,,,,FALSE,728351,730427,744809,742437,335143,402386,384199,415423,46.01394108060537,55.0891,51.58356034902908,55.953973199072784
6,204.10,2019,A,,3,United States,,Alaska,,,,,,,,,,,,FALSE,105333,132104,132709,132820,32468,50701,60182,72080,30.82414817768411,38.3796,45.348845971260424,54.26893540129498
7,204.10,2019,A,,4,United States,,Arizona,,,,,,,,,,,,FALSE,877696\2\,1067210,993129,977571,274277\2\,482044,566549,538290,31.24965819600408\2\,45.1686,57.04686903715429,55.06403115477034
8,204.10,2019,A,,5,United States,,Arkansas,,,,,,,,,,,,FALSE,449959,482114,492802,495773,205058,291608,313314.3240465121\3\,315203.2304566772\3\,45.5725966143582,60.4853,63.57813565012157\3\,63.57813565012157\3\
9,204.10,2019,A,,6,United States,,California,,,,,,,,,,,,FALSE,6050753,6169427,6214620,6195446,2820611,3335885,3611597,3726495,46.61586747963435,54.0712,58.11452671281591,60.14893842993708
10,204.10,2019,A,,7,United States,,Colorado,,,,,,,,,,,,FALSE,724349,842864,904798,910050,195148,336426,381537,380318,26.941156818053173,39.9146,42.16819665825963,41.790890610406024
11,204.10,2019,A,,8,United States,,Connecticut,,,,,,,,,,,,FALSE,562179\2\,552919,529616,519710,143030\2\,190554,188877,188482,25.442074499403216\2\,34.4633,35.663008670432916,36.266764156933675
12,204.10,2019,A,,9,United States,,Delaware,,,,,,,,,,,,FALSE,114676,128342,136217,136041,37766,61564,65563\4\,47580\4\,32.93278454079319,47.9687,48.131290514399815\4\,34.974750259113065\4\
13,204.10,2019,A,,10,United States,,District of Columbia,,,,,,,,,,,,FALSE,68380,71263,84970,86360,47839,52027,"64899.80532231445\3,4\","65961.48273078824\3,4\",69.9605147704007,73.007,"76.37966967437266\3,4\","76.37966967437268\3,4\"
14,204.10,2019,A,,11,United States,,Florida,,,,,,,,,,,,FALSE,2434755,2641555,2811090,2832766,1079009,1479519,1633226,1622871,44.31694359391397,56.0094,58.0993849360924,57.28927133409537
15,204.10,2019,A,,12,United States,,Georgia,,,,,,,,,,,,FALSE,1444937,1676419,1763540,1768562,624511,961954,1092777,1076613,43.22063868528524,57.3815,61.964968188983526,60.87504989929672
16,204.10,2019,A,,13,United States,,Hawaii,,,,,,,,,,,,FALSE,184357,179601,181550,180837,80657,84106,86376,85219,43.75044072099242,46.8294,47.5769760396585,47.12475876065186
17,204.10,2019,A,,14,United States,,Idaho,,,,,,,,,,,,FALSE,244755,275815,297118,301118,85824,124104,136058,132442,35.065269350983634,44.9954,45.792580725503,43.9834217814943
18,204.10,2019,A,,15,United States,,Illinois,,,,,,,,,,,,FALSE,2048792\2\,1973401,2009331,1992111,759973\2\,921471,1008830,983855,37.09371180676223\2\,46.6946,50.20725803762546,49.38755922737237
19,204.10,2019,A,,16,United States,,Indiana,,,,,,,,,,,,FALSE,977219,1038817,1048952,1053841,285267,485728,502844,525526,29.191716493436985,46.7578,47.93775120310558,49.867674535342616
20,204.10,2019,A,,17,United States,,Iowa,,,,,,,,,,,,FALSE,492021,484856,500960,502877,131553,188486,204841,201627,26.737273409061807,38.8746,40.889691791759816,40.09469512425504
21,204.10,2019,A,,18,United States,,Kansas,,,,,,,,,,,,FALSE,462594,479953,489706,490629,154693,228852,235849,233302,33.440338612260426,47.6822,48.16134578706407,47.55161231806518
22,204.10,2019,A,,19,United States,,Kentucky,,,,,,,,,,,,FALSE,626723,673128,683844,680860,298334,380773,401614,406314,47.60221022684663,56.5677,58.72889138458479,59.676585494815384
23,204.10,2019,A,,20,United States,,Louisiana,,,,,,,,,,,,FALSE,741162,695772,716248,715096,433068,460546,451173,387083,58.43095031855384,66.1921,62.9911706559739,54.13021468446194
24,204.10,2019,A,,21,United States,,Maine,,,,,,,,,,,,FALSE,198532,183477,175383,175304,60162,78915,79819,78522,30.30342715532005,43.0108,45.511252515922294,44.79190434901656
25,204.10,2019,A,,22,United States,,Maryland,,,,,,,,,,,,FALSE,852911,852202,886187,893679,255872,341557,413580,415367,29.99984758081441,40.0793,46.669608107543894,46.478321634501874
26,204.10,2019,A,,23,United States,,Massachusetts,,,,,,,,,,,,FALSE,979590,955301,953693,953645,237871,326849,"380743.850950996\4,5\","380724.68786093907\4,5\",24.282710113414797,34.2142,"39.92310428523602\4,5\","39.92310428523602\4,5\"
27,204.10,2019,A,,24,United States,,Michigan,,,,,,,,,,,,FALSE,1703260,1551861,1477193,1471209,504044,719800,675696,740066,29.5928983243897,46.383,45.74189019308919,50.30325399042557
28,204.10,2019,A,,25,United States,,Minnesota,,,,,,,,,,,,FALSE,854154,837930,874432,884397,218867,306136,329341,328701,25.62383364124034,36.5348,37.66342036887946,37.166679669876764
29,204.10,2019,A,,26,United States,,Mississippi,,,,,,,,,,,,FALSE,497421,489462,483148,478124,319670,345734,362296,356365,64.26548135281783,70.6355,74.98654656544164,74.5340120972802
30,204.10,2019,A,,27,United States,,Missouri,,,,,,,,,,,,FALSE,912247,902375,913838,910283,315608,406358,481683,478503,34.596770392229296,45.0321,52.709889499014054,52.56639968009949
31,204.10,2019,A,,28,United States,,Montana,,,,,,,,,,,,FALSE,154438,140497,146213,146550,47415,57836,66649,64961,30.70164078788899,41.1653,45.58349804736925,44.326850904128285
32,204.10,2019,A,,29,United States,,Nebraska,,,,,,,,,,,,FALSE,286138,298276,319147,323728,87045,127114,142555,148540,30.42063619652056,42.6162,44.667504316192854,45.884199080709735
33,204.10,2019,A,,30,United States,,Nevada,,,,,,,,,,,,FALSE,282621,436840,472790,481005,92978,219904,287510,282776,32.898475343304284,50.3397,60.81135387804311,58.78857808130893
34,204.10,2019,A,,31,United States,,New Hampshire,,,,,,,,,,,,FALSE,206919,194001,179762,178306,31212,48904,49058,47169,15.084163368274542,25.2081,27.29052858779942,26.453961167879935
35,204.10,2019,A,,32,United States,,New Jersey,,,,,,,,,,,,FALSE,1312983,1356882,1370824,1370584,357728,444735,519298,519524,27.245440344619848,32.7762,37.88217889386238,37.90530168161893
36,204.10,2019,A,,33,United States,,New Mexico,,,,,,,,,,,,FALSE,320303,335810,332184,333879,174939,227077,237331,245797,54.616722291080634,67.6207,71.44564458252053,73.61858637410559
37,204.10,2019,A,,34,United States,,New York,,,,,,,,,,,,FALSE,2859927,2722761,2701730,2697327,1236945,1315564,1422290,1477753,43.25092913210722,48.3173,52.64367645915765,54.7858305648518
38,204.10,2019,A,,35,United States,,North Carolina,,,,,,,,,,,,FALSE,1194371,1487699,1549452,1553494,470316,747978,889189,868117,39.37771429480455,50.2775,57.38732145300403,55.88158048888505
39,204.10,2019,A,,36,United States,,North Dakota,,,,,,,,,,,,FALSE,109201,94273,107460,109688,31840,29929,33248,33001,29.157242149797163,31.7472,30.939884608226315,30.086244621107138
40,204.10,2019,A,,37,United States,,Ohio,,,,,,,,,,,,FALSE,1745237,1747851,1707469,1701472,494829,745121,757120,782651,28.353111926918807,42.6307,44.34165422622607,45.99846485866356
41,204.10,2019,A,,38,United States,,Oklahoma,,,,,,,,,,,,FALSE,623110,659376,693747,694932,300179,398917,433509,432732,48.174319141082634,60.4992,62.488054002395685,62.26968969625805
42,204.10,2019,A,,39,United States,,Oregon,,,,,,,,,,,,FALSE,535617,553468,552350,553257,186203,280174,279145,272748,34.76420651323613,50.6215,50.53770254367702,49.29860806099155
43,204.10,2019,A,,40,United States,,Pennsylvania,,,,,,,,,,,,FALSE,1798977,1742608,1572026,1601823,510121,686641,747388,794648,28.3561713129184,39.4031,47.542979569040206,49.6089767720903
44,204.10,2019,A,,41,United States,,Rhode Island,,,,,,,,,,,,FALSE,157347,142575,140469,141448,52209,61127,66895,66156,33.18080420980381,42.8736,47.62260712327987,46.77054465245178
45,204.10,2019,A,,42,United States,,South Carolina,,,,,,,,,,,,FALSE,677411,722203,770800,777254,320254,395033,516520,514156,47.276173548997576,54.6983,67.01089776855216,66.15031894335701
46,204.10,2019,A,,43,United States,,South Dakota,,,,,,,,,,,,FALSE,128598,125883,135762,137251,37857,46718,51430,51412,29.438249428451453,37.1122,37.88247079447857,37.45837917392223
47,204.10,2019,A,,44,United States,,Tennessee,,,,,,,,,,,,FALSE,909161\2\,987078,997148,994568,436298\2\,542953,"586427.1875184663\3,4\","584909.8780079447\3,4\",47.989080041928766\2\,55.0061,"58.81044614425003\3,4\","58.81044614425003\3,4\"
48,204.10,2019,A,,45,United States,,Texas,,,,,,,,,,,,FALSE,4059353,4916401,5360055,5400720,1823029,2471212,3159896,3169088,44.90934885436177,50.2647,58.95267865721527,58.678990949354905
49,204.10,2019,A,,46,United States,,Utah,,,,,,,,,,,,FALSE,470265,585552,645030,666841,135428,223943,235042,227388,28.79823078477029,38.2448,36.43892532130288,34.0992830374857
50,204.10,2019,A,,47,United States,,Vermont,,,,,,,,,,,,FALSE,102049,85144,84325,84334,23986,31339,32507,32171,23.50439494752521,36.8071,38.549659057219095,38.14712927170536
51,204.10,2019,A,,48,United States,,Virginia,,,,,,,,,,,,FALSE,1067710,1250206,1273127,1278044,320233,458879,525022,560281,29.992507328769047,36.7043,41.23877664993359,43.83894451208253
52,204.10,2019,A,,49,United States,,Washington,,,,,,,,,,,,FALSE,1004770\2\,1043466,1101514,1110163,326295\2\,418065,480171,477543,32.47459617623934\2\,40.065,43.59191077008553,43.01557519030989
53,204.10,2019,A,,50,United States,,West Virginia,,,,,,,,,,,,FALSE,286285,282879,273845,272253,143446,145605,122257,151490\4\,50.10601323855598,51.4725,44.64459822162172,55.64309667845717\4\
54,204.10,2019,A,,51,United States,,Wisconsin,,,,,,,,,,,,FALSE,859276,872164,863557,860067,219276,342660,323368,319045,25.5186924806465,39.2885,37.44605162137531,37.095365826150754
55,204.10,2019,A,,52,United States,,Wyoming,,,,,,,,,,,,FALSE,89895,88779,94079,94182,43483,32968,36314,34980,48.37087713443462,37.1349,38.59947490938467,37.14085494043447

In [13]:
tables['204.10'].col_info

,digest_table_id,digest_table_year,column_index,column_level_1,column_ref_note_1,column_level_2,column_ref_note_2,column_level_3,column_ref_note_3,column_level_4,column_ref_note_4,column_level_5,column_ref_note_5,column_level_6,column_ref_note_6,column_level_7,column_ref_note_7
0,204.10,2019,A,Number of students enrolled,,2000-01,,,,,,,,,,,
1,204.10,2019,B,Number of students enrolled,,2010-11,,,,,,,,,,,
2,204.10,2019,C,Number of students enrolled,,2016-17,,,,,,,,,,,
3,204.10,2019,D,Number of students enrolled,,2017-18,,,,,,,,,,,
4,204.10,2019,E,Number of students eligible for free/reduced-p...,,2000-01,,,,,,,,,,,
5,204.10,2019,F,Number of students eligible for free/reduced-p...,,2010-11,,,,,,,,,,,
6,204.10,2019,G,Number of students eligible for free/reduced-p...,,2016-17,,,,,,,,,,,
7,204.10,2019,H,Number of students eligible for free/reduced-p...,,2017-18,,,,,,,,,,,
8,204.10,2019,I,Percent of students eligible for free/reduced-...,,2000-01,,,,,,,,,,,
9,204.10,2019,J,Percent of students eligible for free/reduced-...,,2010-11,,,,,,,,,,,
10,204.10,2019,K,Percent of students eligible for free/reduced-...,,2016-17,,,,,,,,,,,
11,204.10,2019,L,Percent of students eligible for free/reduced-...,,2017-18,,,,,,,,,,,

In [11]:
tables['204.10'].cell_info

,digest_table_id,digest_table_year,digest_table_sub_id,digest_table_sub_title,row_index,column_index,cell_ref_note,cell_special_note
0,204.10,2019,A,,1,A,U.S. total includes imputation for nonreportin...,
1,204.10,2019,A,,1,E,U.S. total includes imputation for nonreportin...,
2,204.10,2019,A,,1,G,U.S. total includes imputation for nonreportin...,
3,204.10,2019,A,,1,H,U.S. total includes imputation for nonreportin...,
4,204.10,2019,A,,1,I,U.S. total includes imputation for nonreportin...,
5,204.10,2019,A,,1,K,U.S. total includes imputation for nonreportin...,
6,204.10,2019,A,,1,L,U.S. total includes imputation for nonreportin...,
7,204.10,2019,A,,4,A,Imputation for survey nonresponse. State-level...,
8,204.10,2019,A,,4,E,Imputation for survey nonresponse. State-level...,
9,204.10,2019,A,,4,I,Imputation for survey nonresponse. State-level...,
10,204.10,2019,A,,5,G,Imputation for survey nonresponse. State-level...,
11,204.10,2019,A,,5,H,Imputation for survey nonresponse. State-level...,
12,204.10,2019,A,,5,K,Imputation for survey nonresponse. State-level...,
13,204.10,2019,A,,5,L,Imputation for survey nonresponse. State-level...,
14,204.10,2019,A,,8,A,Imputation for survey nonresponse. State-level...,
15,204.10,2019,A,,8,E,Imputation for survey nonresponse. State-level...,
16,204.10,2019,A,,8,I,Imputation for survey nonresponse. State-level...,
17,204.10,2019,A,,9,G,This state reported only the count of students...,
18,204.10,2019,A,,9,H,This state reported only the count of students...,
19,204.10,2019,A,,9,K,This state reported only the count of students...,
20,204.10,2019,A,,9,L,This state reported only the count of students...,
21,204.10,2019,A,,15,A,Imputation for survey nonresponse. State-level...,
22,204.10,2019,A,,15,E,Imputation for survey nonresponse. State-level...,
23,204.10,2019,A,,15,I,Imputation for survey nonresponse. State-level...,
24,204.10,2019,A,,44,A,Imputation for survey nonresponse. State-level...,
25,204.10,2019,A,,44,E,Imputation for survey nonresponse. State-level...,
26,204.10,2019,A,,44,I,Imputation for survey nonresponse. State-level...,
27,204.10,2019,A,,49,A,Imputation for survey nonresponse. State-level...,
28,204.10,2019,A,,49,E,Imputation for survey nonresponse. State-level...,
29,204.10,2019,A,,49,I,Imputation for survey nonresponse. State-level...,
30,204.10,2019,A,,50,H,This state reported only the count of students...,
31,204.10,2019,A,,50,L,This state reported only the count of students...,

In [14]:
tables['236.30'].row_info

,digest_table_id,digest_table_year,digest_table_sub_id,digest_table_sub_title,row_index,row_level_1,row_ref_note_1,row_level_2,row_ref_note_2,row_level_3,row_ref_note_3,row_level_4,row_ref_note_4,row_level_5,row_ref_note_5,row_level_6,row_ref_note_6,row_level_7,row_ref_note_7,is_total,A,B,C,D,E,F,G,H,I,J,K,L,M,N,O,P
7,236.30,2019,A,,1,United States,,,,,,,,,,,,,,TRUE,7.07601e+08,6.19165e+08,3.76069e+08,2.17755e+08,3.5946e+07,2.91693e+07,1.23052e+07,3.45689e+07,5.74335e+07,2.53503e+07,2.29814e+07,2.40952e+07,1.24519e+06,8.66087e+06,6.1442e+07,1.83339e+07
8,236.30,2019,A,,2,United States,,Alabama,,,,,,,,,,,,FALSE,8.03022e+06,7.09747e+06,4.04919e+06,2.56316e+06,446175,298519,182443,442733,660054,366671,166563,485121,0,122765,637471,172517
9,236.30,2019,A,,3,United States,,Alaska,,,,,,,,,,,,FALSE,2.58258e+06,2.36771e+06,1.26604e+06,1.01389e+06,183607,196525,33856,144766,283842,80673.1,90623.7,76819.6,10952.4,7958.54,169582,37334.2
10,236.30,2019,A,,4,United States,,Arizona,,,,,,,,,,,,FALSE,1.05308e+07,8.96668e+06,4.82897e+06,3.66929e+06,687666,434553,173941,502905,1.09809e+06,371832,400295,467132,1301.38,92293.1,1.2204e+06,251447
11,236.30,2019,A,,5,United States,,Arkansas,,,,,,,,,,,,FALSE,5.62267e+06,4.93646e+06,2.76922e+06,1.89853e+06,266940,415124,124843,258857,500434,181436,150896,263084,5627.21,30111.1,529540,126558
12,236.30,2019,A,,6,United States,,California,,,,,,,,,,,,FALSE,8.79682e+07,7.66637e+07,4.54421e+07,2.81554e+07,4.59843e+06,4.88088e+06,753775,5.08234e+06,7.5732e+06,1.67913e+06,3.5876e+06,2.87838e+06,187935,924523,7.4708e+06,2.90916e+06
14,236.30,2019,A,,7,United States,,Colorado,,,,,,,,,,,,FALSE,1.06327e+07,8.91393e+06,4.98981e+06,3.5707e+06,502458,513143,144538,679279,814583,265301,651397,305496,47923.4,77652.8,1.18312e+06,458032
15,236.30,2019,A,,8,United States,,Connecticut,,,,,,,,,,,,FALSE,1.15737e+07,1.06646e+07,6.72293e+06,3.61492e+06,684769,335452,239206,624118,915695,537460,278224,234506,92210.6,146121,641349,121628
16,236.30,2019,A,,9,United States,,Delaware,,,,,,,,,,,,FALSE,2.24704e+06,2.02923e+06,1.26955e+06,691907,90650,37247.8,31894.8,128691,216676,100560,86187.5,67768.7,0,53792.8,141956,22061.9
17,236.30,2019,A,,10,United States,,District of Columbia,,,,,,,,,,,,FALSE,2.62583e+06,1.93685e+06,1.03993e+06,826686,86016.2,97240.7,141543,134950,190735,117259,58941.9,69428.7,804.301,39349.8,510487,139140
18,236.30,2019,A,,11,United States,,Florida,,,,,,,,,,,,FALSE,2.9876e+07,2.64041e+07,1.63053e+07,8.78201e+06,1.16108e+06,1.66073e+06,242525,1.47063e+06,2.54883e+06,1.01778e+06,680431,1.31684e+06,0,566061,2.29263e+06,613143
20,236.30,2019,A,,12,United States,,Georgia,,,,,,,,,,,,FALSE,2.03445e+07,1.81263e+07,1.10611e+07,6.03506e+06,943009,941356,231190,1.14416e+06,1.36154e+06,847547,566256,977222,52921.9,33899.4,1.95995e+06,224356
21,236.30,2019,A,,13,United States,,Hawaii,,,,,,,,,,,,FALSE,2.77869e+06,2.60007e+06,1.52005e+06,949131,244802,87772.1,13048,186738,289131,63215.9,64423.9,130889,0,16959.6,161655,0
22,236.30,2019,A,,14,United States,,Idaho,,,,,,,,,,,,FALSE,2.56041e+06,2.24517e+06,1.32312e+06,811616,125438,130399,56389.6,129058,212304,97988.6,60038.4,109263,1170.14,4851.78,251888,58499.1
23,236.30,2019,A,,15,United States,,Illinois,,,,,,,,,,,,FALSE,3.45881e+07,3.1449e+07,1.96039e+07,1.10684e+07,2.21498e+06,1.13451e+06,1.18216e+06,1.63818e+06,2.44041e+06,1.335e+06,1.12321e+06,776639,0,162530,2.01853e+06,958047
24,236.30,2019,A,,16,United States,,Indiana,,,,,,,,,,,,FALSE,1.18666e+07,1.03098e+07,5.93993e+06,3.87243e+06,537800,414873,212946,671823,1.16159e+06,623109,250283,497474,0,167568,1.09524e+06,293922
26,236.30,2019,A,,17,United States,,Iowa,,,,,,,,,,,,FALSE,6.80999e+06,5.84081e+06,3.52421e+06,2.05089e+06,341231,364865,148834,330146,484172,205084,176556,258951,6763.84,38179.7,813457,117542
27,236.30,2019,A,,18,United States,,Kansas,,,,,,,,,,,,FALSE,6.27947e+06,5.15489e+06,3.07453e+06,1.83638e+06,328022,212934,138347,299424,503876,209520,144257,243986,0,4284.88,877514,242774
28,236.30,2019,A,,19,United States,,Kentucky,,,,,,,,,,,,FALSE,7.87838e+06,6.89715e+06,3.95461e+06,2.4723e+06,336798,384692,155583,401723,614507,393211,185782,451699,18547.8,77289.1,721214,182724
29,236.30,2019,A,,20,United States,,Louisiana,,,,,,,,,,,,FALSE,8.98353e+06,8.15046e+06,4.55113e+06,3.16957e+06,495861,406228,211453,523649,822880,465492,244002,429670,98.91,28511.4,690293,114263
30,236.30,2019,A,,21,United States,,Maine,,,,,,,,,,,,FALSE,2.83834e+06,2.64142e+06,1.54547e+06,989537,180995,149247,89804.9,139360,265690,129800,34640.7,106085,323.861,27954.4,123321,45641.6
32,236.30,2019,A,,22,United States,,Maryland,,,,,,,,,,,,FALSE,1.46696e+07,1.32336e+07,8.43219e+06,4.42439e+06,595713,610473,128514,893341,1.11647e+06,691807,388078,377011,0,39956.1,1.23738e+06,158705
33,236.30,2019,A,,23,United States,,Massachusetts,,,,,,,,,,,,FALSE,1.79096e+07,1.70891e+07,1.09125e+07,5.69822e+06,1.27009e+06,788946,275981,731675,1.43746e+06,776589,417483,478372,0,76127.4,507504,236798
34,236.30,2019,A,,24,United States,,Michigan,,,,,,,,,,,,FALSE,1.96125e+07,1.72061e+07,9.87581e+06,6.69557e+06,1.3608e+06,871777,386016,960612,1.51063e+06,720147,885583,634739,0,290037,1.3935e+06,722803
35,236.30,2019,A,,25,United States,,Minnesota,,,,,,,,,,,,FALSE,1.41275e+07,1.10561e+07,7.15311e+06,3.3882e+06,323867,565322,415002,444288,746716,625079,267924,467516,47304.4,513373,2.1608e+06,397158
36,236.30,2019,A,,26,United States,,Mississippi,,,,,,,,,,,,FALSE,4.67353e+06,4.22977e+06,2.40022e+06,1.57027e+06,224419,196756,142223,257398,433815,202096,113565,259057,222.756,29715,360550,53500.6
38,236.30,2019,A,,27,United States,,Missouri,,,,,,,,,,,,FALSE,1.11896e+07,9.77648e+06,5.76792e+06,3.55205e+06,441238,447079,362602,573398,977605,505638,244489,456507,0,259729,841235,312118
39,236.30,2019,A,,28,United States,,Montana,,,,,,,,,,,,FALSE,1.90834e+06,1.68894e+06,991332,619787,115746,59837.8,53622.2,94081.2,169682,79292,47525.5,75187.3,2638.03,10712.2,185247,23436.2
40,236.30,2019,A,,29,United States,,Nebraska,,,,,,,,,,,,FALSE,4.84404e+06,4.04148e+06,2.61681e+06,1.15095e+06,154575,129927,118339,191203,345168,119441,92298,168307,105416,2062.1,704266,96232.6
41,236.30,2019,A,,30,United States,,Nevada,,,,,,,,,,,,FALSE,4.98738e+06,4.3205e+06,2.55483e+06,1.59725e+06,237070,238700,69977.4,317085,400038,169077,165299,168244,185.085,25124.9,477784,163967
42,236.30,2019,A,,31,United States,,New Hampshire,,,,,,,,,,,,FALSE,3.08289e+06,2.88665e+06,1.83934e+06,977914,222126,94963.9,103951,160992,231303,127292,37284.6,69392.2,0,6426.65,144183,45629.5
44,236.30,2019,A,,32,United States,,New Jersey,,,,,,,,,,,,FALSE,2.98391e+07,2.76229e+07,1.65894e+07,1.01403e+07,2.85802e+06,864829,563247,1.3694e+06,2.6864e+06,1.13928e+06,659124,617300,275881,248666,1.30172e+06,665866
45,236.30,2019,A,,33,United States,,New Mexico,,,,,,,,,,,,FALSE,3.90122e+06,3.34534e+06,1.91457e+06,1.26893e+06,337928,91408.5,79624.9,198495,349245,103752,108472,159640,2204.78,1959.47,553767,152.296
46,236.30,2019,A,,34,United States,,New York,,,,,,,,,,,,FALSE,6.71948e+07,6.09051e+07,4.23897e+07,1.73036e+07,1.95061e+06,1.56791e+06,984799,2.33268e+06,5.60096e+06,3.07341e+06,1.79324e+06,1.21176e+06,0,2.23618e+06,2.5882e+06,1.46532e+06
47,236.30,2019,A,,35,United States,,North Carolina,,,,,,,,,,,,FALSE,1.53895e+07,1.39431e+07,8.71863e+06,4.48816e+06,758525,479501,241840,826515,1.14644e+06,568542,466805,736274,0,65365.8,1.35966e+06,21443.6
48,236.30,2019,A,,36,United States,,North Dakota,,,,,,,,,,,,FALSE,1.82468e+06,1.51029e+06,906313,491975,60780.6,51918.8,65204.5,78090.2,129557,60165.2,46259.2,70245.1,41758.9,11519.7,270221,32651
50,236.30,2019,A,,37,United States,,Ohio,,,,,,,,,,,,FALSE,2.45037e+07,2.14943e+07,1.27036e+07,8.08392e+06,1.45499e+06,856705,674296,1.18819e+06,1.84094e+06,1.02088e+06,1047926,705533,1192.35,468613,1.92144e+06,619370
51,236.30,2019,A,,38,United States,,Oklahoma,,,,,,,,,,,,FALSE,6.22882e+06,5.4964e+06,3.0728e+06,2.00414e+06,374211,221748,164623,306275,576296,173226,187759,363634,55833.1,28946.1,637138,66337.1
52,236.30,2019,A,,39,United States,,Oregon,,,,,,,,,,,,FALSE,7.732e+06,6.51433e+06,3.80751e+06,2.47896e+06,494587,262616,91126.9,415589,516505,286763,411770,224745,3123.15,32995.1,827259,357408
53,236.30,2019,A,,40,United States,,Pennsylvania,,,,,,,,,,,,FALSE,3.0766e+07,2.72631e+07,1.68718e+07,9.38581e+06,1.53873e+06,976882,823115,1.21421e+06,2.49588e+06,1.29722e+06,1.03977e+06,889644,115861,568044,1.99272e+06,942120
54,236.30,2019,A,,41,United States,,Rhode Island,,,,,,,,,,,,FALSE,2.59193e+06,2.36246e+06,1.42811e+06,869618,248744,90505.5,35430.8,112808,183344,102335,96450.2,64215.8,521.639,57258.1,132829,39377.8
56,236.30,2019,A,,42,United States,,South Carolina,,,,,,,,,,,,FALSE,9.72172e+06,8.03543e+06,4.45564e+06,3.14702e+06,619625,497997,78239.3,520441,788674,303877,338165,412078,20694,61891.1,1.28666e+06,337743
57,236.30,2019,A,,43,United States,,South Dakota,,,,,,,,,,,,FALSE,1.57167e+06,1.37903e+06,816490,484102,76803.4,48890.2,46268.3,66995,143576,49058.6,52510.5,71486,6947.91,7170.74,152374,33099.3
58,236.30,2019,A,,44,United States,,Tennessee,,,,,,,,,,,,FALSE,1.04182e+07,9.26061e+06,5.65211e+06,3.0919e+06,416268,546464,192701,560592,767734,347912,260232,516601,0,82702.7,849531,225379
59,236.30,2019,A,,45,United States,,Texas,,,,,,,,,,,,FALSE,6.46013e+07,5.10335e+07,2.94317e+07,1.87554e+07,2.51507e+06,2.62268e+06,750018,2.92601e+06,5.37937e+06,1.48556e+06,3.07666e+06,2.84651e+06,0,349734,9830252,3.38779e+06
60,236.30,2019,A,,46,United States,,Utah,,,,,,,,,,,,FALSE,5.81316e+06,4.75471e+06,3.01947e+06,1.48593e+06,185373,190712,53508.1,312558,432719,140222,170835,238818,10496.4,10557.2,929100,118786
62,236.30,2019,A,,47,United States,,Vermont,,,,,,,,,,,,FALSE,1.79747e+06,1.72262e+06,1.10739e+06,570073,133216,71369.9,36223.7,108604,128666,56760.4,35233.5,43216.8,1939.88,10447.6,55204.1,9192.68
63,236.30,2019,A,,48,United States,,Virginia,,,,,,,,,,,,FALSE,1.67988e+07,1.52966e+07,9.31375e+06,5.39058e+06,774800,1.01349e+06,247977,897282,1.36528e+06,787814,303939,588958,3353.95,77175.6,1.32879e+06,96196.8
64,236.30,2019,A,,49,United States,,Washington,,,,,,,,,,,,FALSE,1.60076e+07,1.31881e+07,7.64634e+06,5.01809e+06,967929,854897,225675,800156,1.11897e+06,493731,556730,401398,122273,50813.9,2.32912e+06,439599
65,236.30,2019,A,,50,United States,,West Virginia,,,,,,,,,,,,FALSE,3.48774e+06,3.21632e+06,1.84214e+06,1.16703e+06,166921,127203,55146.5,172428,346891,238828,59608.5,207152,0,46027.8,210863,14526.6
66,236.30,2019,A,,51,United States,,Wisconsin,,,,,,,,,,,,FALSE,1.18761e+07,1.03407e+07,6.13669e+06,3.82435e+06,516870,545466,298849,521086,958276,438470,545329,379585,77.508,363949,1.01128e+06,160128
67,236.30,2019,A,,52,United States,,Wyoming,,,,,,,,,,,,FALSE,1.91326e+06,1.55502e+06,920260,588428,93675.8,86083.7,32730.5,82919.6,150621,77949.6,64448.1,45637.1,690.61,4934.61,350996,2311.9
70,236.30,2019,A,,53,United States,,Other jurisdictions,,American Samoa,,,,,,,,,,FALSE,76796.7,65490.2,31446,14110.2,34.696,7234.72,890.56,4188.38,0,531.136,1230.71,19934,0,1800,9506.53,0
71,236.30,2019,A,,54,United States,,Other jurisdictions,,Guam,,,,,,,,,,FALSE,361502,298340,142210,136084,28007.8,16535.2,4802.47,18225.4,38522.6,7948.05,22042.6,20046.3,0,0,50805.7,12356
72,236.30,2019,A,,55,United States,,Other jurisdictions,,Northern Marianas,,,,,,,,,,FALSE,92633.2,87919.7,41483,33459.2,6742.07,8246.35,1727.28,4275.68,7082.72,1443.09,3942.02,12977.5,0,2993.48,1720.07,0
73,236.30,2019,A,,56,United States,,Other jurisdictions,,Puerto Rico,,,,,,,,,,FALSE,2.89175e+06,2.78946e+06,1.12867e+06,1.26215e+06,317681,166391,79111.7,121196,407424,93059.3,77286.9,398641,0,67689.7,34600.4,0
74,236.30,2019,A,,57,United States,,Other jurisdictions,,U.S. Virgin Islands,,,,,,,,,,FALSE,172940,171521,100419,59707.5,14841.1,4219.44,8199.26,9465.38,6854.03,7536.33,8592,11236.4,157.749,1302.7,116,0

In [15]:
tables['236.30'].col_info

,digest_table_id,digest_table_year,column_index,column_level_1,column_ref_note_1,column_level_2,column_ref_note_2,column_level_3,column_ref_note_3,column_level_4,column_ref_note_4,column_level_5,column_ref_note_5,column_level_6,column_ref_note_6,column_level_7,column_ref_note_7
0,236.30,2019,A,Total expenditures,,Total,,,,,,,,,,,
1,236.30,2019,B,Total expenditures,,Current expenditures for elementary and second...,,"Elementary/ secondary current expenditures, total",,,,,,,,,
2,236.30,2019,C,Total expenditures,,Current expenditures for elementary and second...,,Instruction,,,,,,,,,
3,236.30,2019,D,Total expenditures,,Current expenditures for elementary and second...,,Support services,,"Support services, total",,,,,,,
4,236.30,2019,E,Total expenditures,,Current expenditures for elementary and second...,,Support services,,Student support,"Includes expenditures for guidance, health, at...",,,,,,
5,236.30,2019,F,Total expenditures,,Current expenditures for elementary and second...,,Support services,,Instructional staff,Includes expenditures for curriculum developme...,,,,,,
6,236.30,2019,G,Total expenditures,,Current expenditures for elementary and second...,,Support services,,General administration,,,,,,,
7,236.30,2019,H,Total expenditures,,Current expenditures for elementary and second...,,Support services,,School administration,,,,,,,
8,236.30,2019,I,Total expenditures,,Current expenditures for elementary and second...,,Support services,,Operation and maintenance,,,,,,,
9,236.30,2019,J,Total expenditures,,Current expenditures for elementary and second...,,Support services,,Student transportation,,,,,,,
10,236.30,2019,K,Total expenditures,,Current expenditures for elementary and second...,,Support services,,Other support services,,,,,,,
11,236.30,2019,L,Total expenditures,,Current expenditures for elementary and second...,,Food services,,,,,,,,,
12,236.30,2019,M,Total expenditures,,Current expenditures for elementary and second...,,Enterprise operations,Includes expenditures for operations funded by...,,,,,,,,
13,236.30,2019,N,Total expenditures,,Current expenditures for other programs,"Includes expenditures for adult education, com...",,,,,,,,,,
14,236.30,2019,O,Total expenditures,,Capital outlay,Includes expenditures for property and for bui...,,,,,,,,,,
15,236.30,2019,P,Total expenditures,,Interest on school debt,,,,,,,,,,,

In [16]:
tables['236.30'].cell_info

Empty DataFrame
Columns: [digest_table_id, digest_table_year, digest_table_sub_id, digest_table_sub_title, row_index, column_index, cell_ref_note, cell_special_note]
Index: []

In [17]:
tables['217.10'].row_info

,digest_table_id,digest_table_year,digest_table_sub_id,digest_table_sub_title,row_index,row_level_1,row_ref_note_1,row_level_2,row_ref_note_2,row_level_3,row_ref_note_3,row_level_4,row_ref_note_4,row_level_5,row_ref_note_5,row_level_6,row_ref_note_6,row_level_7,row_ref_note_7,is_total,A,B,C,D,E,F,G,H,I,J,K,L,M,N,O,P,Q,R,S,T,U,V,W,X,Y,Z,AA,AB,AC,AD,AE,AF,AG,AH,AI,AJ
5,217.10,2019,A,,1,Estimated number of schools,,,,,,,,,,,,,,FALSE,84000,NaN,(†),62600,NaN,(†),18900,NaN,(†),2400,NaN,(†),21200,NaN,(†),23500,NaN,(†),10900,NaN,(†),28400,NaN,(†),31,NaN,(†),18,NaN,(†),27,NaN,(†),23,NaN,(†)
9,217.10,2019,A,,2,Main instructional building,,"Percent of schools, by functional age",The functional age of the main instructional b...,Less than 5 years old,,,,,,,,,,FALSE,21,NaN,1.1,19,NaN,1.2,25,NaN,2.2,27,NaN,6.8,24,NaN,2.6,23,NaN,2.2,19,NaN,2.9,17,NaN,1.9,20,NaN,2.1,23,NaN,2.9,18,NaN,2,24,NaN,2.5
10,217.10,2019,A,,3,Main instructional building,,"Percent of schools, by functional age",The functional age of the main instructional b...,5 to 14 years old,,,,,,,,,,FALSE,38,NaN,1.2,37,NaN,1.4,39,NaN,2.3,34,NaN,7.2,33,NaN,2.5,39,NaN,2.7,37,NaN,4.1,40,NaN,2.3,40,NaN,2.2,34,NaN,3.3,39,NaN,2.6,35,NaN,3
11,217.10,2019,A,,4,Main instructional building,,"Percent of schools, by functional age",The functional age of the main instructional b...,15 to 34 years old,,,,,,,,,,FALSE,23,NaN,1.2,25,NaN,1.6,17,NaN,1.8,28,NaN,7.5,20,NaN,2.3,20,NaN,1.8,27,NaN,3.6,28,NaN,2.3,25,NaN,2.1,22,NaN,2.9,25,NaN,2.3,20,NaN,2.7
12,217.10,2019,A,,5,Main instructional building,,"Percent of schools, by functional age",The functional age of the main instructional b...,35 or more years old,,,,,,,,,,FALSE,18,NaN,1.2,19,NaN,1.4,18,NaN,1.7,11,!,4.3,22,NaN,2.4,19,NaN,2.2,17,NaN,3,15,NaN,1.9,15,NaN,2,21,NaN,2.9,17,NaN,2.1,21,NaN,2.8
14,217.10,2019,A,,6,Main instructional building,,Average years,,Since construction,,,,,,,,,,FALSE,44,NaN,0.7,45,NaN,0.9,43,NaN,1.2,50,NaN,4.2,50,NaN,1.7,43,NaN,1.2,48,NaN,1.8,40,NaN,1.2,42,NaN,1.3,46,NaN,1.8,43,NaN,1.4,48,NaN,1.9
15,217.10,2019,A,,7,Main instructional building,,Average years,,Since major renovation,Based on schools whose main instructional buil...,,,,,,,,,FALSE,12,NaN,0.4,12,NaN,0.5,11,NaN,0.7,12,NaN,2,11,NaN,0.7,11,NaN,0.7,14,NaN,1.2,12,NaN,0.8,11,NaN,0.6,12,NaN,1.1,12,NaN,0.8,11,NaN,0.8
18,217.10,2019,A,,8,Permanent buildings (percent of schools),,School has permanent buildings,,,,,,,,,,,,FALSE,99,NaN,0.2,99,NaN,0.3,100,NaN,0.3,100,NaN,(#),99,NaN,0.7,100,NaN,0.4,99,NaN,0.6,100,NaN,0.3,100,NaN,0.4,99,NaN,0.6,100,NaN,(#),98,NaN,0.8
20,217.10,2019,A,,9,Permanent buildings (percent of schools),,School has permanent buildings,,Overall condition of buildings,Based on the 99 percent of public schools with...,Excellent,,,,,,,,FALSE,20,NaN,1.1,20,NaN,1.4,20,NaN,1.5,15,!,5.5,17,NaN,2,23,NaN,2.2,18,NaN,3.3,20,NaN,1.8,24,NaN,2,18,NaN,2.3,20,NaN,2.1,16,NaN,2
21,217.10,2019,A,,10,Permanent buildings (percent of schools),,School has permanent buildings,,Overall condition of buildings,Based on the 99 percent of public schools with...,Good,,,,,,,,FALSE,56,NaN,1.4,57,NaN,1.7,57,NaN,2.2,44,NaN,7,55,NaN,2.6,56,NaN,2.6,57,NaN,3.8,57,NaN,2.5,56,NaN,2.3,63,NaN,3.5,56,NaN,2.7,52,NaN,3.2
22,217.10,2019,A,,11,Permanent buildings (percent of schools),,School has permanent buildings,,Overall condition of buildings,Based on the 99 percent of public schools with...,Fair,,,,,,,,FALSE,21,NaN,1,21,NaN,1.3,20,NaN,2,38,NaN,7.4,23,NaN,2.3,20,NaN,2.1,23,NaN,3.2,20,NaN,2,18,NaN,1.9,17,NaN,2.5,22,NaN,2,28,NaN,2.7
23,217.10,2019,A,,12,Permanent buildings (percent of schools),,School has permanent buildings,,Overall condition of buildings,Based on the 99 percent of public schools with...,Poor,,,,,,,,FALSE,3,NaN,0.5,3,NaN,0.6,2,!,0.7,‡,NaN,(†),5,NaN,1.3,‡,NaN,(†),‡,NaN,(†),2,!,0.8,2,!,0.8,2,!,0.9,2,!,1,4,NaN,1.3
26,217.10,2019,A,,13,Permanent buildings (percent of schools),,,,Environmental factors are unsatisfactory,Based on schools with the specified environmen...,"Lighting, artificial",,,,,,,,FALSE,8,NaN,0.9,8,NaN,1.1,7,NaN,1.4,‡,NaN,(†),9,NaN,1.6,7,NaN,1.4,8,NaN,2.1,9,NaN,1.4,6,NaN,1.4,7,NaN,1.8,8,NaN,1.8,11,NaN,1.9
27,217.10,2019,A,,14,Permanent buildings (percent of schools),,,,Environmental factors are unsatisfactory,Based on schools with the specified environmen...,"Lighting, natural",,,,,,,,FALSE,16,NaN,1.1,17,NaN,1.4,16,NaN,1.7,15,!,5.3,16,NaN,2.2,15,NaN,2,20,NaN,3.2,16,NaN,1.9,14,NaN,1.7,17,NaN,2.7,17,NaN,2,19,NaN,2.6
28,217.10,2019,A,,15,Permanent buildings (percent of schools),,,,Environmental factors are unsatisfactory,Based on schools with the specified environmen...,Heating,,,,,,,,FALSE,14,NaN,0.9,13,NaN,1.2,16,NaN,2.1,20,!,6.2,16,NaN,2.1,10,NaN,1.6,14,NaN,2.4,14,NaN,1.7,12,NaN,1.6,14,NaN,2.4,14,NaN,2.2,15,NaN,2.3
29,217.10,2019,A,,16,Permanent buildings (percent of schools),,,,Environmental factors are unsatisfactory,Based on schools with the specified environmen...,Air conditioning,,,,,,,,FALSE,17,NaN,1.1,16,NaN,1.4,20,NaN,2.3,21,!,6.7,21,NaN,2.5,13,NaN,1.9,18,NaN,3.2,17,NaN,2,17,NaN,1.9,16,NaN,2.7,15,NaN,2.5,19,NaN,2.7
30,217.10,2019,A,,17,Permanent buildings (percent of schools),,,,Environmental factors are unsatisfactory,Based on schools with the specified environmen...,Ventilation,,,,,,,,FALSE,17,NaN,1.2,16,NaN,1.4,16,NaN,1.8,28,NaN,7.3,18,NaN,2,12,NaN,1.9,16,NaN,3.2,20,NaN,2.1,15,NaN,1.9,16,NaN,2.6,16,NaN,2,20,NaN,2.7
31,217.10,2019,A,,18,Permanent buildings (percent of schools),,,,Environmental factors are unsatisfactory,Based on schools with the specified environmen...,Indoor air quality,,,,,,,,FALSE,9,NaN,0.8,9,NaN,1,9,NaN,1.4,13,!,5,11,NaN,1.8,4,NaN,1,7,NaN,2.2,12,NaN,1.7,7,NaN,1.2,9,NaN,2.1,11,NaN,1.8,10,NaN,1.9
32,217.10,2019,A,,19,Permanent buildings (percent of schools),,,,Environmental factors are unsatisfactory,Based on schools with the specified environmen...,Water quality,,,,,,,,FALSE,5,NaN,0.6,5,NaN,0.8,6,NaN,1.1,16,!,6.4,6,NaN,1.5,3,NaN,0.9,5,NaN,1.6,7,NaN,1.3,4,NaN,1,5,NaN,1.5,6,NaN,1.4,7,NaN,1.4
33,217.10,2019,A,,20,Permanent buildings (percent of schools),,,,Environmental factors are unsatisfactory,Based on schools with the specified environmen...,Acoustics or noise control,,,,,,,,FALSE,14,NaN,1,14,NaN,1.3,12,NaN,1.5,25,NaN,6.2,14,NaN,2.1,10,NaN,1.5,15,NaN,3,16,NaN,2,12,NaN,1.7,13,NaN,2.4,13,NaN,1.8,17,NaN,2.3
36,217.10,2019,A,,21,Portable (temporary) buildings (percent of ...,,School has portable buildings,,,,,,,,,,,,FALSE,31,NaN,1.4,33,NaN,1.8,24,NaN,2,29,NaN,6.8,40,NaN,2.8,32,NaN,2.2,27,NaN,3.6,25,NaN,2.1,25,NaN,2,30,NaN,2.9,31,NaN,2.2,39,NaN,3.4
38,217.10,2019,A,,22,Portable (temporary) buildings (percent of ...,,School has portable buildings,,Overall condition of buildings,Based on the 31 percent of public schools with...,Excellent,,,,,,,,FALSE,6,NaN,1.1,6,NaN,1.4,5,!,1.5,‡,NaN,(†),4,!,1.8,5,!,1.8,10,!,4.7,7,!,2.3,8,!,2.7,7,!,3,4,!,1.9,5,!,2
39,217.10,2019,A,,23,Portable (temporary) buildings (percent of ...,,School has portable buildings,,Overall condition of buildings,Based on the 31 percent of public schools with...,Good,,,,,,,,FALSE,49,NaN,2.8,49,NaN,3.2,46,NaN,4.4,56,NaN,14.2,53,NaN,4.2,51,NaN,4.9,43,NaN,7.7,44,NaN,5,51,NaN,4.8,53,NaN,6.1,45,NaN,4.4,48,NaN,5
40,217.10,2019,A,,24,Portable (temporary) buildings (percent of ...,,School has portable buildings,,Overall condition of buildings,Based on the 31 percent of public schools with...,Fair,,,,,,,,FALSE,36,NaN,2.4,36,NaN,2.9,43,NaN,4.8,‡,NaN,(†),34,NaN,4.1,38,NaN,4.8,38,NaN,7.5,36,NaN,4.8,29,NaN,4.1,36,NaN,5.9,41,NaN,4.2,38,NaN,4.6
41,217.10,2019,A,,25,Portable (temporary) buildings (percent of ...,,School has portable buildings,,Overall condition of buildings,Based on the 31 percent of public schools with...,Poor,,,,,,,,FALSE,9,NaN,1.4,9,NaN,1.7,7,!,2.3,‡,NaN,(†),8,!,2.6,6,!,2,9,!,4.1,13,NaN,3.5,12,NaN,3.2,‡,NaN,(†),10,!,3.2,8,!,3
44,217.10,2019,A,,26,Portable (temporary) buildings (percent of ...,,,,Environmental factors are unsatisfactory,Based on schools with the specified environmen...,"Lighting, artificial",,,,,,,,FALSE,11,NaN,1.8,11,NaN,2.1,12,NaN,3.3,#,NaN,(†),10,NaN,2.9,6,!,2.6,14,!,5.7,15,NaN,4,10,!,3,8,!,3.5,12,NaN,3.3,12,NaN,3.3
45,217.10,2019,A,,27,Portable (temporary) buildings (percent of ...,,,,Environmental factors are unsatisfactory,Based on schools with the specified environmen...,"Lighting, natural",,,,,,,,FALSE,28,NaN,2.5,29,NaN,3,28,NaN,4.3,‡,NaN,(†),26,NaN,4.2,26,NaN,4.4,41,NaN,8,28,NaN,4.4,26,NaN,4.1,28,NaN,4.9,29,NaN,4.8,30,NaN,4.5
46,217.10,2019,A,,28,Portable (temporary) buildings (percent of ...,,,,Environmental factors are unsatisfactory,Based on schools with the specified environmen...,Heating,,,,,,,,FALSE,12,NaN,1.8,11,NaN,2,16,NaN,3.5,#,NaN,(†),11,NaN,2.9,7,!,2.4,17,!,5.7,16,NaN,4,13,NaN,3.5,8,!,3.5,15,NaN,3.5,10,NaN,3.1
47,217.10,2019,A,,29,Portable (temporary) buildings (percent of ...,,,,Environmental factors are unsatisfactory,Based on schools with the specified environmen...,Air conditioning,,,,,,,,FALSE,15,NaN,2.2,16,NaN,2.6,14,NaN,3.3,‡,NaN,(†),15,NaN,3.6,12,NaN,3.1,14,!,5.3,18,NaN,4.3,17,NaN,3.9,13,!,4.1,16,NaN,3.9,14,NaN,3.7
48,217.10,2019,A,,30,Portable (temporary) buildings (percent of ...,,,,Environmental factors are unsatisfactory,Based on schools with the specified environmen...,Ventilation,,,,,,,,FALSE,19,NaN,2.2,19,NaN,2.6,22,NaN,3.9,‡,NaN,(†),18,NaN,3.7,14,NaN,3.1,26,NaN,6.7,24,NaN,4.4,18,NaN,3.9,18,!,5.7,23,NaN,4.6,18,NaN,4
49,217.10,2019,A,,31,Portable (temporary) buildings (percent of ...,,,,Environmental factors are unsatisfactory,Based on schools with the specified environmen...,Indoor air quality,,,,,,,,FALSE,16,NaN,2,17,NaN,2.3,14,NaN,3,#,NaN,(†),17,NaN,3.6,11,NaN,2.8,18,!,5.5,19,NaN,4.2,14,NaN,3.4,15,!,4.4,19,NaN,4.1,16,NaN,3.6
50,217.10,2019,A,,32,Portable (temporary) buildings (percent of ...,,,,Environmental factors are unsatisfactory,Based on schools with the specified environmen...,Water quality,,,,,,,,FALSE,10,NaN,1.7,10,NaN,2,8,!,3.1,‡,NaN,(†),7,!,2.7,7,!,2.9,16,!,6.7,14,!,4.6,9,!,3.8,‡,NaN,(†),11,!,3.8,14,NaN,3.8
51,217.10,2019,A,,33,Portable (temporary) buildings (percent of ...,,,,Environmental factors are unsatisfactory,Based on schools with the specified environmen...,Acoustics or noise control,,,,,,,,FALSE,21,NaN,2.5,21,NaN,2.9,21,NaN,4.1,‡,NaN,(†),19,NaN,3.6,17,NaN,3.9,24,!,7.1,26,NaN,4.6,19,NaN,4.2,11,!,4.2,26,NaN,4.6,23,NaN,4.7

In [19]:
tables['217.10'].cell_info

,digest_table_id,digest_table_year,digest_table_sub_id,digest_table_sub_title,row_index,column_index,cell_ref_note,cell_special_note
0,217.10,2019,A,,5,K,,Interpret data with caution. The coefficient o...
1,217.10,2019,A,,9,K,,Interpret data with caution. The coefficient o...
2,217.10,2019,A,,12,H,,Interpret data with caution. The coefficient o...
3,217.10,2019,A,,12,J,,Reporting standards not met. Either there are ...
4,217.10,2019,A,,12,P,,Reporting standards not met. Either there are ...
5,217.10,2019,A,,12,S,,Reporting standards not met. Either there are ...
6,217.10,2019,A,,12,W,,Interpret data with caution. The coefficient o...
7,217.10,2019,A,,12,Z,,Interpret data with caution. The coefficient o...
8,217.10,2019,A,,12,AC,,Interpret data with caution. The coefficient o...
9,217.10,2019,A,,12,AF,,Interpret data with caution. The coefficient o...
10,217.10,2019,A,,13,J,,Reporting standards not met. Either there are ...
11,217.10,2019,A,,14,K,,Interpret data with caution. The coefficient o...
12,217.10,2019,A,,15,K,,Interpret data with caution. The coefficient o...
13,217.10,2019,A,,16,K,,Interpret data with caution. The coefficient o...
14,217.10,2019,A,,18,K,,Interpret data with caution. The coefficient o...
15,217.10,2019,A,,19,K,,Interpret data with caution. The coefficient o...
16,217.10,2019,A,,22,H,,Interpret data with caution. The coefficient o...
17,217.10,2019,A,,22,J,,Reporting standards not met. Either there are ...
18,217.10,2019,A,,22,N,,Interpret data with caution. The coefficient o...
19,217.10,2019,A,,22,Q,,Interpret data with caution. The coefficient o...
20,217.10,2019,A,,22,T,,Interpret data with caution. The coefficient o...
21,217.10,2019,A,,22,W,,Interpret data with caution. The coefficient o...
22,217.10,2019,A,,22,Z,,Interpret data with caution. The coefficient o...
23,217.10,2019,A,,22,AC,,Interpret data with caution. The coefficient o...
24,217.10,2019,A,,22,AF,,Interpret data with caution. The coefficient o...
25,217.10,2019,A,,22,AI,,Interpret data with caution. The coefficient o...
26,217.10,2019,A,,24,J,,Reporting standards not met. Either there are ...
27,217.10,2019,A,,25,H,,Interpret data with caution. The coefficient o...
28,217.10,2019,A,,25,J,,Reporting standards not met. Either there are ...
29,217.10,2019,A,,25,N,,Interpret data with caution. The coefficient o...
30,217.10,2019,A,,25,Q,,Interpret data with caution. The coefficient o...
31,217.10,2019,A,,25,T,,Interpret data with caution. The coefficient o...
32,217.10,2019,A,,25,AB,,Reporting standards not met. Either there are ...
33,217.10,2019,A,,25,AF,,Interpret data with caution. The coefficient o...
34,217.10,2019,A,,25,AI,,Interpret data with caution. The coefficient o...
35,217.10,2019,A,,26,J,,Rounds to zero.
36,217.10,2019,A,,26,Q,,Interpret data with caution. The coefficient o...
37,217.10,2019,A,,26,T,,Interpret data with caution. The coefficient o...
38,217.10,2019,A,,26,Z,,Interpret data with caution. The coefficient o...
39,217.10,2019,A,,26,AC,,Interpret data with caution. The coefficient o...
40,217.10,2019,A,,27,J,,Reporting standards not met. Either there are ...
41,217.10,2019,A,,28,J,,Rounds to zero.
42,217.10,2019,A,,28,Q,,Interpret data with caution. The coefficient o...
43,217.10,2019,A,,28,T,,Interpret data with caution. The coefficient o...
44,217.10,2019,A,,28,AC,,Interpret data with caution. The coefficient o...
45,217.10,2019,A,,29,J,,Reporting standards not met. Either there are ...
46,217.10,2019,A,,29,T,,Interpret data with caution. The coefficient o...
47,217.10,2019,A,,29,AC,,Interpret data with caution. The coefficient o...
48,217.10,2019,A,,30,J,,Reporting standards not met. Either there are ...
49,217.10,2019,A,,30,AC,,Interpret data with caution. The coefficient o...
50,217.10,2019,A,,31,J,,Rounds to zero.
51,217.10,2019,A,,31,T,,Interpret data with caution. The coefficient o...
52,217.10,2019,A,,31,AC,,Interpret data with caution. The coefficient o...
53,217.10,2019,A,,32,H,,Interpret data with caution. The coefficient o...
54,217.10,2019,A,,32,J,,Reporting standards not met. Either there are ...
55,217.10,2019,A,,32,N,,Interpret data with caution. The coefficient o...
56,217.10,2019,A,,32,Q,,Interpret data with caution. The coefficient o...
57,217.10,2019,A,,32,T,,Interpret data with caution. The coefficient o...
58,217.10,2019,A,,32,W,,Interpret data with caution. The coefficient o...
59,217.10,2019,A,,32,Z,,Interpret data with caution. The coefficient o...
60,217.10,2019,A,,32,AB,,Reporting standards not met. Either there are ...
61,217.10,2019,A,,32,AF,,Interpret data with caution. The coefficient o...
62,217.10,2019,A,,33,J,,Reporting standards not met. Either there are ...
63,217.10,2019,A,,33,T,,Interpret data with caution. The coefficient o...
64,217.10,2019,A,,33,AC,,Interpret data with caution. The coefficient o...

In [20]:
tables['219.70'].row_info

,digest_table_id,digest_table_year,digest_table_sub_id,digest_table_sub_title,row_index,row_level_1,row_ref_note_1,row_level_2,row_ref_note_2,row_level_3,row_ref_note_3,row_level_4,row_ref_note_4,row_level_5,row_ref_note_5,row_level_6,row_ref_note_6,row_level_7,row_ref_note_7,is_total,A,B,C,D,E,F,G,H,I,J,K,L,M,N,O,P,Q,R,S,T,U,V,W,X
5,219.70,2019,A,,1,1960,Based on the April 1960 decennial census,,,,,,,,,,,,,FALSE,27.2,(---),---,(†),---,(†),---,(†),27.8,(---),---,(†),---,(†),---,(†),26.7,(---),---,(†),---,(†),---,(†)
6,219.70,2019,A,,2,1967,"For 1967 through 1971, White and Black include...",,,,,,,,,,,,,FALSE,16.95,(---),15.43,(---),28.59,(---),---,(†),16.48,(---),14.68,(---),30.64,(---),---,(†),17.34,(---),16.09,(---),26.87,(---),---,(†)
7,219.70,2019,A,,3,1968,"For 1967 through 1971, White and Black include...",,,,,,,,,,,,,FALSE,16.16,(---),14.69,(---),27.37,(---),---,(†),15.84,(---),14.37,(---),27.07,(---),---,(†),16.45,(---),14.97,(---),27.62,(---),---,(†)
8,219.70,2019,A,,4,1969,"For 1967 through 1971, White and Black include...",,,,,,,,,,,,,FALSE,15.19,(---),13.64,(---),26.74,(---),---,(†),14.26,(---),12.58,(---),26.9,(---),---,(†),15.99,(---),14.56,(---),26.69,(---),---,(†)
9,219.70,2019,A,,5,1970,"For 1967 through 1971, White and Black include...",,,,,,,,,,,,,FALSE,14.9549,0.297821,13.174,0.303252,27.86,1.25339,---,(†),14.18,0.424309,12.15,0.426094,29.36,1.86887,---,(†),15.65,0.417322,14.09,0.429586,26.55,1.68662,---,(†)
10,219.70,2019,A,,6,1971,"For 1967 through 1971, White and Black include...",,,,,,,,,,,,,FALSE,14.716,0.289753,13.4149,0.299612,24,1.16944,---,(†),14.1908,0.413031,12.6119,0.421701,25.539,1.73632,---,(†),15.196,0.406191,14.1531,0.424524,22.619,1.57794,---,(†)
11,219.70,2019,A,,7,1972.0,,,,,,,,,,,,,,FALSE,14.613,0.283975,12.2618,0.292644,21.326,1.09355,34.3063,2.92807,14.0972,0.402281,11.6493,0.410061,22.3092,1.62675,33.69,4.2612,15.0961,0.400523,12.8438,0.41688,20.4653,1.47508,34.8486,4.02945
12,219.70,2019,A,,8,1973.0,,,,,,,,,,,,,,FALSE,14.1062,0.27652,11.6226,0.282779,22.1882,1.08707,33.5343,2.95966,13.6612,0.391342,11.4577,0.401773,21.531,1.56599,30.412,4.17015,14.527,0.390459,11.7806,0.398004,22.7746,1.50931,36.3964,4.17585
13,219.70,2019,A,,9,1974.0,,,,,,,,,,,,,,FALSE,14.2749,0.275686,11.8666,0.284283,21.1511,1.07311,32.982,2.74439,14.196,0.394547,11.9863,0.408145,20.07,1.54743,33.7578,3.9415,14.3496,0.385364,11.7518,0.396163,22.0817,1.48683,32.2353,3.82203
14,219.70,2019,A,,10,1975.0,,,,,,,,,,,,,,FALSE,13.9032,0.269771,11.4297,0.276837,22.9023,1.08388,29.2186,2.66779,13.2798,0.378879,11.0044,0.388195,22.9557,1.5959,26.6585,3.74756,14.4968,0.383559,11.8416,0.394427,22.8564,1.4767,31.573,3.77792
15,219.70,2019,A,,11,1976.0,,,,,,,,,,,,,,FALSE,14.1421,0.26968,11.9601,0.280936,20.4926,1.02713,31.3649,2.65609,14.1319,0.385688,12.124,0.401763,21.1602,1.5261,30.2896,3.88482,14.1517,0.377223,11.7996,0.392926,19.9151,1.38782,32.2754,3.63714
16,219.70,2019,A,,12,1977.0,,,,,,,,,,,,,,FALSE,14.1098,0.26777,11.8834,0.278935,19.7826,1.00387,32.9963,2.6511,14.4514,0.386821,12.5955,0.406918,19.4865,1.46861,31.5993,3.78662,13.783,0.370869,11.1881,0.381989,20.0368,1.37515,34.2817,3.7084
17,219.70,2019,A,,13,1978.0,,,,,,,,,,,,,,FALSE,14.232,0.267714,11.8787,0.278413,20.2407,1.00502,33.3314,2.62152,14.6301,0.387125,12.1743,0.400204,22.4717,1.53781,33.6204,3.77117,13.8505,0.370393,11.5898,0.387371,18.3331,1.31822,33.059,3.64655
18,219.70,2019,A,,14,1979.0,,,,,,,,,,,,,,FALSE,14.5709,0.269597,12.0017,0.279106,21.1237,1.01722,33.7964,2.59558,14.9664,0.389384,12.5557,0.404274,22.3938,1.53028,33.0177,3.7101,14.1908,0.373421,11.4575,0.385125,20.0379,1.35857,34.5262,3.63122
19,219.70,2019,A,,15,1980.0,,,,,,,,,,,,,,FALSE,14.0697,0.265652,11.3654,0.274266,19.1256,0.976639,35.1592,2.47233,15.0839,0.390563,12.2674,0.403026,20.7668,1.48235,37.2221,3.56631,13.0946,0.360944,10.482,0.372401,17.7175,1.29238,33.1566,3.42216
20,219.70,2019,A,,16,1981.0,,,,,,,,,,,,,,FALSE,13.9196,0.261576,11.3468,0.272959,18.4057,0.938052,33.1803,2.36126,15.1141,0.38599,12.4857,0.404181,19.8651,1.41309,36.0018,3.41625,12.764,0.353693,10.2286,0.367133,17.1265,1.24923,30.3982,3.25068
21,219.70,2019,A,,17,1982.0,,,,,,,,,,,,,,FALSE,13.8688,0.278415,11.4425,0.29269,18.3701,0.989165,31.673,2.51152,14.4997,0.404324,12.0485,0.425561,21.1911,1.52445,30.5283,3.56603,13.2575,0.383309,10.8493,0.402266,15.8795,1.28106,32.7558,3.53452
22,219.70,2019,A,,18,1983.0,,,,,,,,,,,,,,FALSE,13.6688,0.278902,11.1494,0.292518,17.9677,0.981257,31.5599,2.51464,14.8539,0.410981,12.2009,0.431392,19.897,1.48101,34.2687,3.70646,12.5136,0.377497,10.1097,0.395115,16.2244,1.3001,29.0592,3.40681
23,219.70,2019,A,,19,1984.0,,,,,,,,,,,,,,FALSE,13.1407,0.276933,11.0315,0.294553,15.5124,0.926907,29.7871,2.48852,14.0247,0.405018,11.9467,0.432128,16.7971,1.3869,30.6073,3.62208,12.278,0.378142,10.1235,0.400279,14.344,1.24015,29.0319,3.4231
24,219.70,2019,A,,20,1985.0,,,,,,,,,,,,,,FALSE,12.5764,0.27503,10.43,0.292821,15.1504,0.93151,27.5915,1.9342,13.4039,0.403159,11.0562,0.427724,16.069,1.38948,29.8714,2.77399,11.7772,0.374861,9.82015,0.400534,14.3309,1.25224,25.2206,2.68405
25,219.70,2019,A,,21,1986.0,,,,,,,,,,,,,,FALSE,12.203,0.273236,9.68894,0.287969,14.1907,0.91145,30.1212,1.88399,13.0667,0.401008,10.2677,0.42135,14.9779,1.35534,32.8059,2.67347,11.3658,0.371822,9.12877,0.393324,13.4844,1.22885,27.2119,2.63813
26,219.70,2019,A,,22,1987.0,,,,,,,,,,,,,,FALSE,12.6452,0.279479,10.3672,0.299657,14.1088,0.915833,28.634,1.8481,13.1762,0.405486,10.7708,0.434197,14.9952,1.37037,29.1409,2.57767,12.1308,0.385189,9.97533,0.413555,13.3234,1.22783,28.0862,2.65038
27,219.70,2019,A,,23,1988.0,,,,,,,,,,,,,,FALSE,12.867,0.30964,9.62358,0.319889,14.492,1.01454,35.7526,2.17407,13.5342,0.451696,10.3499,0.471811,14.9906,1.50033,36.0447,3.02316,12.2246,0.424385,8.92463,0.433198,14.0494,1.37598,35.4374,3.12858
28,219.70,2019,A,,24,1989.0,,,,,,,,,,,,,,FALSE,12.6161,0.295544,9.37786,0.306456,13.9097,0.944602,33.0052,1.91931,13.5918,0.434397,10.2575,0.454237,14.8918,1.40619,34.369,2.69993,11.6671,0.401355,8.52243,0.412237,13.0119,1.2706,31.554,2.72517
29,219.70,2019,A,,25,1990.0,,,,,,,,,,,,,,FALSE,12.0746,0.292615,8.97714,0.304417,13.2368,0.935883,32.3656,1.91409,12.3163,0.420311,9.29051,0.439602,11.8907,1.30125,34.2977,2.70591,11.8396,0.407486,8.67051,0.421521,14.4396,1.3357,30.3131,2.70024
30,219.70,2019,A,,26,1991.0,,,,,,,,,,,,,,FALSE,12.4504,0.297789,8.92331,0.306885,13.6002,0.947905,35.2759,1.93356,12.9841,0.431218,8.94129,0.43684,13.5336,1.37262,39.1763,2.73982,11.9287,0.411111,8.90573,0.431214,13.6605,1.31058,31.0541,2.70198
31,219.70,2019,A,,27,1992,Because of changes in data collection procedur...,,,,,,,,,,,,,FALSE,11.0196,0.28347,7.72625,0.288663,13.7192,0.945934,29.399,1.85504,11.3309,0.407077,8.00388,0.415308,12.5163,1.31449,32.1175,2.67164,10.7122,0.394702,7.44976,0.401044,14.8252,1.3536,26.6098,2.56117
32,219.70,2019,A,,28,1993,Because of changes in data collection procedur...,,,,,,,,,,,,,FALSE,11.01,0.283816,7.93821,0.293598,13.5573,0.940292,27.5157,1.78797,11.1708,0.404819,8.2308,0.422271,12.6275,1.31635,28.1149,2.54214,10.8506,0.397948,7.64603,0.407998,14.4168,1.33842,26.9136,2.5143
33,219.70,2019,A,,29,1994,Because of changes in data collection procedur...,,,,,,,,,,,,,FALSE,11.4451,0.280956,7.73847,0.286356,12.6385,0.88678,29.9651,1.65576,12.2651,0.409116,7.98889,0.411351,14.0757,1.34196,31.5944,2.29963,10.6228,0.384841,7.48913,0.398502,11.3209,1.17073,28.0989,2.37959
34,219.70,2019,A,,30,1995,Because of changes in data collection procedur...,,,,,,,,,,,,,FALSE,11.9701,0.267266,8.58133,0.279824,12.0611,0.745898,29.988,1.15022,12.2034,0.380908,9.00338,0.403188,11.148,1.0487,29.9781,1.59286,11.7362,0.374978,8.15413,0.387834,12.8788,1.05624,29.9988,1.66268
35,219.70,2019,A,,31,1996,Because of changes in data collection procedur...,,,,,,,,,,,,,FALSE,11.1264,0.268471,7.28795,0.272481,12.971,0.797746,29.3517,1.18723,11.3771,0.382558,7.31,0.384582,13.4907,1.17776,30.32,1.66782,10.8736,0.376688,7.2656,0.386112,12.502,1.08312,28.3182,1.6889
36,219.70,2019,A,,32,1997,Because of changes in data collection procedur...,,,,,,,,,,,,,FALSE,10.9964,0.265028,7.59655,0.27598,13.3898,0.799986,25.3166,1.11163,11.8545,0.385655,8.48739,0.408656,13.2707,1.15509,26.9782,1.55322,10.1238,0.362917,6.68899,0.369757,13.4979,1.10895,23.4149,1.58534
37,219.70,2019,A,,33,1998,Because of changes in data collection procedur...,,,,,,,,,,,,,FALSE,11.7873,0.27118,7.74159,0.277619,13.7956,0.806318,29.5366,1.1222,13.2961,0.402241,8.58245,0.409513,15.5473,1.23448,33.5298,1.59079,10.2546,0.362221,6.88422,0.373771,12.2358,1.05348,24.9808,1.5581
38,219.70,2019,A,,34,1999,Because of changes in data collection procedur...,,,,,,,,,,,,,FALSE,11.1986,0.262365,7.29994,0.267268,12.5596,0.770979,28.5576,1.10817,11.8799,0.380466,7.70755,0.385459,12.091,1.10337,31.0136,1.58221,10.5158,0.361144,6.88346,0.369855,12.9793,1.07658,25.9557,1.54348
39,219.70,2019,A,,35,2000,Because of changes in data collection procedur...,,,,,,,,,,,,,FALSE,10.9224,0.258024,6.92808,0.259936,13.1074,0.776146,27.7921,1.08031,11.9641,0.378378,6.98169,0.367252,15.2671,1.19657,31.7727,1.55668,9.86624,0.350058,6.87349,0.367937,11.1306,1.00102,23.4757,1.47567
40,219.70,2019,A,,36,2001,Because of changes in data collection procedur...,,,,,,,,,,,,,FALSE,10.7243,0.240772,7.32292,0.251288,10.8919,0.676485,26.9611,1.00503,12.1896,0.359536,7.90669,0.365916,13.0072,1.06314,31.5775,1.47086,9.25106,0.319287,6.72497,0.343721,9.00062,0.85527,22.1125,1.34584
41,219.70,2019,A,,37,2002,Because of changes in data collection procedur...,,,,,,,,,,,,,FALSE,10.4818,0.237346,6.51611,0.240956,11.2913,0.695423,25.6899,0.925206,11.7833,0.351847,6.72385,0.345707,12.8338,1.06552,29.5851,1.31986,9.15875,0.317377,6.30822,0.335715,9.89154,0.906011,21.1861,1.2706
42,219.70,2019,A,,38,"2003\4,5\",,,,,,,,,,,,,,FALSE,9.86158,0.229332,6.34319,0.236864,10.9407,0.687144,23.5446,0.899674,11.3012,0.343545,7.07732,0.35171,12.511,1.05167,26.6795,1.29222,8.40737,0.302626,5.60294,0.316725,9.49372,0.894463,20.0553,1.23423
43,219.70,2019,A,,39,"2004\4,5\",,,,,,,,,,,,,,FALSE,10.3163,0.232404,6.75185,0.24336,11.7696,0.704092,23.788,0.888574,11.6265,0.344899,7.08808,0.350935,13.4581,1.07579,28.5412,1.29716,8.98366,0.310295,6.41155,0.337006,10.2082,0.917723,18.4732,1.1787
44,219.70,2019,A,,40,"2005\4,5\",,,,,,,,,,,,,,FALSE,9.40566,0.222251,5.95502,0.228757,10.4446,0.66413,22.4476,0.866398,10.8297,0.333096,6.60934,0.338322,12.0079,1.01798,26.4178,1.26353,7.95551,0.292703,5.29045,0.307198,8.99709,0.86232,18.0592,1.15903
45,219.70,2019,A,,41,"2006\4,5\",,,,,,,,,,,,,,FALSE,9.3453,0.220754,5.84854,0.226547,10.7367,0.662629,22.0675,0.856063,10.3448,0.325045,6.40668,0.332805,9.71849,0.906607,25.7488,1.25019,8.32577,0.297801,5.28004,0.306746,11.7112,0.962866,18.0593,1.14767
46,219.70,2019,A,,42,"2007\4,5\",,,,,,,,,,,,,,FALSE,8.74469,0.213007,5.27177,0.215283,8.4112,0.588375,21.4373,0.834735,9.81362,0.315568,6.0451,0.322442,8.02324,0.820974,24.6528,1.21609,7.65275,0.285004,4.4765,0.283719,8.78697,0.842026,17.9587,1.1265
47,219.70,2019,A,,43,"2008\4,5\",,,,,,,,,,,,,,FALSE,8.01129,0.204455,4.8064,0.20609,9.93451,0.63266,18.328,0.781782,8.4781,0.295407,5.35654,0.304808,8.67173,0.854155,19.888,1.12216,7.53626,0.282396,4.2417,0.276423,11.1266,0.927324,16.6609,1.08297
48,219.70,2019,A,,44,"2009\4,5\",,,,,,,,,,,,,,FALSE,8.0539,0.204822,5.20867,0.214777,9.33176,0.611936,17.6018,0.764504,9.13267,0.305495,6.27744,0.329589,10.6228,0.932228,19.0045,1.09907,6.95885,0.27187,4.11388,0.27314,8.12316,0.799714,16.1213,1.05835
49,219.70,2019,A,,45,"2010\4,5\",,,,,,,,,,,,,,FALSE,7.42101,0.2657,5.07147,0.3004,8.02049,0.76054,15.1487,0.86585,8.49461,0.40435,5.89907,0.42426,9.47062,1.11312,17.3271,1.24,6.33014,0.28154,4.22404,0.34627,6.68867,0.84866,12.8228,0.97269
50,219.70,2019,A,,46,"2011\4,5\",,,,,,,,,,,,,,FALSE,7.10265,0.26007,5.00174,0.30537,7.33968,0.66773,13.5899,0.78487,7.72454,0.36094,5.43387,0.40791,8.29796,0.97533,14.5955,1.08583,6.45909,0.34328,4.56092,0.38408,6.44583,0.94428,12.4161,0.9696
51,219.70,2019,A,,47,"2012\4,5\",,,,,,,,,,,,,,FALSE,6.604,0.25223,4.28546,0.31055,7.54368,0.75921,12.6813,0.72004,7.29754,0.35834,4.80034,0.39518,8.128,1.15228,13.9294,1.04471,5.89915,0.33212,3.76015,0.36838,6.98867,1.00856,11.3443,1.00172
52,219.70,2019,A,,48,"2013\4,5\",,,,,,,,,,,,,,FALSE,6.75809,0.27825,5.10707,0.30729,7.34347,0.872,11.7235,0.73793,7.18882,0.3747,5.4593,0.39123,8.17941,1.10619,12.6249,1.00662,6.32022,0.33993,4.74554,0.35899,6.55285,1.07488,10.77,0.98395
53,219.70,2019,A,,49,"2014\4,5\",,,,,,,,,,,,,,FALSE,6.53695,0.2467,5.23215,0.31926,7.41685,0.74368,10.5704,0.68321,7.12675,0.36682,5.6829,0.41592,7.13243,1.0206,11.8154,1.03976,5.93736,0.29147,4.77023,0.40967,7.69012,1.02279,9.26049,0.83766
54,219.70,2019,A,,50,"2015\4,5\",,,,,,,,,,,,,,FALSE,5.85558,0.257578,4.56192,0.2887,6.46829,0.699149,9.16558,0.709373,6.28954,0.36508,4.98014,0.403352,6.42347,1.03845,9.90061,0.92782,5.41496,0.331709,4.13293,0.369179,6.51157,0.983801,8.4042,0.972072
55,219.70,2019,A,,51,"2016\4,5\",,,,,,,,,,,,,,FALSE,6.08398,0.26801,5.19064,0.309852,6.18608,0.801462,8.58677,0.639453,7.08792,0.379883,5.78555,0.416489,8.18702,1.21945,10.0988,1.05879,5.0638,0.307168,4.57979,0.391449,4.25876,0.843128,7.02778,0.762707
56,219.70,2019,A,,52,"2017\4,5\",,,,,,,,,,,,,,FALSE,5.77309,0.264771,4.64481,0.300872,5.67112,0.658103,9.45776,0.671046,6.58244,0.35763,5.00928,0.433792,7.02297,1.07513,11.4804,0.95233,4.95196,0.311304,4.26746,0.360826,4.40111,0.780585,7.38381,0.832465
57,219.70,2019,A,,53,"2018\4,5\",,,,,,,,,,,,,,FALSE,5.70161,0.268139,4.46449,0.293721,5.81113,0.742756,8.95985,0.687973,6.3419,0.351925,5.12753,0.419082,6.01054,0.920752,10.353,0.931146,5.0528,0.337011,3.78364,0.375507,5.61987,1.04135,7.52724,0.827061

In [21]:
tables['219.70'].col_info

,digest_table_id,digest_table_year,column_index,column_level_1,column_ref_note_1,column_level_2,column_ref_note_2,column_level_3,column_ref_note_3,column_level_4,column_ref_note_4,column_level_5,column_ref_note_5,column_level_6,column_ref_note_6,column_level_7,column_ref_note_7
0,219.70,2019,A,Total,,All races/ ethnic-ities,Includes other racial/ethnic groups not separa...,,,,,,,,,,
1,219.70,2019,B,Total,,White,,,,,,,,,,,
2,219.70,2019,C,Total,,Black,,,,,,,,,,,
3,219.70,2019,D,Total,,Hispanic,,,,,,,,,,,
4,219.70,2019,E,Male,,All races/ ethnic-ities,Includes other racial/ethnic groups not separa...,,,,,,,,,,
5,219.70,2019,F,Male,,White,,,,,,,,,,,
6,219.70,2019,G,Male,,Black,,,,,,,,,,,
7,219.70,2019,H,Male,,Hispanic,,,,,,,,,,,
8,219.70,2019,I,Female,,All races/ ethnic-ities,Includes other racial/ethnic groups not separa...,,,,,,,,,,
9,219.70,2019,J,Female,,White,,,,,,,,,,,
10,219.70,2019,K,Female,,Black,,,,,,,,,,,
11,219.70,2019,L,Female,,Hispanic,,,,,,,,,,,

In [22]:
tables['236.30'].row_info

,digest_table_id,digest_table_year,digest_table_sub_id,digest_table_sub_title,row_index,row_level_1,row_ref_note_1,row_level_2,row_ref_note_2,row_level_3,row_ref_note_3,row_level_4,row_ref_note_4,row_level_5,row_ref_note_5,row_level_6,row_ref_note_6,row_level_7,row_ref_note_7,is_total,A,B,C,D,E,F,G,H,I,J,K,L,M,N,O,P
7,236.30,2019,A,,1,United States,,,,,,,,,,,,,,TRUE,7.07601e+08,6.19165e+08,3.76069e+08,2.17755e+08,3.5946e+07,2.91693e+07,1.23052e+07,3.45689e+07,5.74335e+07,2.53503e+07,2.29814e+07,2.40952e+07,1.24519e+06,8.66087e+06,6.1442e+07,1.83339e+07
8,236.30,2019,A,,2,United States,,Alabama,,,,,,,,,,,,FALSE,8.03022e+06,7.09747e+06,4.04919e+06,2.56316e+06,446175,298519,182443,442733,660054,366671,166563,485121,0,122765,637471,172517
9,236.30,2019,A,,3,United States,,Alaska,,,,,,,,,,,,FALSE,2.58258e+06,2.36771e+06,1.26604e+06,1.01389e+06,183607,196525,33856,144766,283842,80673.1,90623.7,76819.6,10952.4,7958.54,169582,37334.2
10,236.30,2019,A,,4,United States,,Arizona,,,,,,,,,,,,FALSE,1.05308e+07,8.96668e+06,4.82897e+06,3.66929e+06,687666,434553,173941,502905,1.09809e+06,371832,400295,467132,1301.38,92293.1,1.2204e+06,251447
11,236.30,2019,A,,5,United States,,Arkansas,,,,,,,,,,,,FALSE,5.62267e+06,4.93646e+06,2.76922e+06,1.89853e+06,266940,415124,124843,258857,500434,181436,150896,263084,5627.21,30111.1,529540,126558
12,236.30,2019,A,,6,United States,,California,,,,,,,,,,,,FALSE,8.79682e+07,7.66637e+07,4.54421e+07,2.81554e+07,4.59843e+06,4.88088e+06,753775,5.08234e+06,7.5732e+06,1.67913e+06,3.5876e+06,2.87838e+06,187935,924523,7.4708e+06,2.90916e+06
14,236.30,2019,A,,7,United States,,Colorado,,,,,,,,,,,,FALSE,1.06327e+07,8.91393e+06,4.98981e+06,3.5707e+06,502458,513143,144538,679279,814583,265301,651397,305496,47923.4,77652.8,1.18312e+06,458032
15,236.30,2019,A,,8,United States,,Connecticut,,,,,,,,,,,,FALSE,1.15737e+07,1.06646e+07,6.72293e+06,3.61492e+06,684769,335452,239206,624118,915695,537460,278224,234506,92210.6,146121,641349,121628
16,236.30,2019,A,,9,United States,,Delaware,,,,,,,,,,,,FALSE,2.24704e+06,2.02923e+06,1.26955e+06,691907,90650,37247.8,31894.8,128691,216676,100560,86187.5,67768.7,0,53792.8,141956,22061.9
17,236.30,2019,A,,10,United States,,District of Columbia,,,,,,,,,,,,FALSE,2.62583e+06,1.93685e+06,1.03993e+06,826686,86016.2,97240.7,141543,134950,190735,117259,58941.9,69428.7,804.301,39349.8,510487,139140
18,236.30,2019,A,,11,United States,,Florida,,,,,,,,,,,,FALSE,2.9876e+07,2.64041e+07,1.63053e+07,8.78201e+06,1.16108e+06,1.66073e+06,242525,1.47063e+06,2.54883e+06,1.01778e+06,680431,1.31684e+06,0,566061,2.29263e+06,613143
20,236.30,2019,A,,12,United States,,Georgia,,,,,,,,,,,,FALSE,2.03445e+07,1.81263e+07,1.10611e+07,6.03506e+06,943009,941356,231190,1.14416e+06,1.36154e+06,847547,566256,977222,52921.9,33899.4,1.95995e+06,224356
21,236.30,2019,A,,13,United States,,Hawaii,,,,,,,,,,,,FALSE,2.77869e+06,2.60007e+06,1.52005e+06,949131,244802,87772.1,13048,186738,289131,63215.9,64423.9,130889,0,16959.6,161655,0
22,236.30,2019,A,,14,United States,,Idaho,,,,,,,,,,,,FALSE,2.56041e+06,2.24517e+06,1.32312e+06,811616,125438,130399,56389.6,129058,212304,97988.6,60038.4,109263,1170.14,4851.78,251888,58499.1
23,236.30,2019,A,,15,United States,,Illinois,,,,,,,,,,,,FALSE,3.45881e+07,3.1449e+07,1.96039e+07,1.10684e+07,2.21498e+06,1.13451e+06,1.18216e+06,1.63818e+06,2.44041e+06,1.335e+06,1.12321e+06,776639,0,162530,2.01853e+06,958047
24,236.30,2019,A,,16,United States,,Indiana,,,,,,,,,,,,FALSE,1.18666e+07,1.03098e+07,5.93993e+06,3.87243e+06,537800,414873,212946,671823,1.16159e+06,623109,250283,497474,0,167568,1.09524e+06,293922
26,236.30,2019,A,,17,United States,,Iowa,,,,,,,,,,,,FALSE,6.80999e+06,5.84081e+06,3.52421e+06,2.05089e+06,341231,364865,148834,330146,484172,205084,176556,258951,6763.84,38179.7,813457,117542
27,236.30,2019,A,,18,United States,,Kansas,,,,,,,,,,,,FALSE,6.27947e+06,5.15489e+06,3.07453e+06,1.83638e+06,328022,212934,138347,299424,503876,209520,144257,243986,0,4284.88,877514,242774
28,236.30,2019,A,,19,United States,,Kentucky,,,,,,,,,,,,FALSE,7.87838e+06,6.89715e+06,3.95461e+06,2.4723e+06,336798,384692,155583,401723,614507,393211,185782,451699,18547.8,77289.1,721214,182724
29,236.30,2019,A,,20,United States,,Louisiana,,,,,,,,,,,,FALSE,8.98353e+06,8.15046e+06,4.55113e+06,3.16957e+06,495861,406228,211453,523649,822880,465492,244002,429670,98.91,28511.4,690293,114263
30,236.30,2019,A,,21,United States,,Maine,,,,,,,,,,,,FALSE,2.83834e+06,2.64142e+06,1.54547e+06,989537,180995,149247,89804.9,139360,265690,129800,34640.7,106085,323.861,27954.4,123321,45641.6
32,236.30,2019,A,,22,United States,,Maryland,,,,,,,,,,,,FALSE,1.46696e+07,1.32336e+07,8.43219e+06,4.42439e+06,595713,610473,128514,893341,1.11647e+06,691807,388078,377011,0,39956.1,1.23738e+06,158705
33,236.30,2019,A,,23,United States,,Massachusetts,,,,,,,,,,,,FALSE,1.79096e+07,1.70891e+07,1.09125e+07,5.69822e+06,1.27009e+06,788946,275981,731675,1.43746e+06,776589,417483,478372,0,76127.4,507504,236798
34,236.30,2019,A,,24,United States,,Michigan,,,,,,,,,,,,FALSE,1.96125e+07,1.72061e+07,9.87581e+06,6.69557e+06,1.3608e+06,871777,386016,960612,1.51063e+06,720147,885583,634739,0,290037,1.3935e+06,722803
35,236.30,2019,A,,25,United States,,Minnesota,,,,,,,,,,,,FALSE,1.41275e+07,1.10561e+07,7.15311e+06,3.3882e+06,323867,565322,415002,444288,746716,625079,267924,467516,47304.4,513373,2.1608e+06,397158
36,236.30,2019,A,,26,United States,,Mississippi,,,,,,,,,,,,FALSE,4.67353e+06,4.22977e+06,2.40022e+06,1.57027e+06,224419,196756,142223,257398,433815,202096,113565,259057,222.756,29715,360550,53500.6
38,236.30,2019,A,,27,United States,,Missouri,,,,,,,,,,,,FALSE,1.11896e+07,9.77648e+06,5.76792e+06,3.55205e+06,441238,447079,362602,573398,977605,505638,244489,456507,0,259729,841235,312118
39,236.30,2019,A,,28,United States,,Montana,,,,,,,,,,,,FALSE,1.90834e+06,1.68894e+06,991332,619787,115746,59837.8,53622.2,94081.2,169682,79292,47525.5,75187.3,2638.03,10712.2,185247,23436.2
40,236.30,2019,A,,29,United States,,Nebraska,,,,,,,,,,,,FALSE,4.84404e+06,4.04148e+06,2.61681e+06,1.15095e+06,154575,129927,118339,191203,345168,119441,92298,168307,105416,2062.1,704266,96232.6
41,236.30,2019,A,,30,United States,,Nevada,,,,,,,,,,,,FALSE,4.98738e+06,4.3205e+06,2.55483e+06,1.59725e+06,237070,238700,69977.4,317085,400038,169077,165299,168244,185.085,25124.9,477784,163967
42,236.30,2019,A,,31,United States,,New Hampshire,,,,,,,,,,,,FALSE,3.08289e+06,2.88665e+06,1.83934e+06,977914,222126,94963.9,103951,160992,231303,127292,37284.6,69392.2,0,6426.65,144183,45629.5
44,236.30,2019,A,,32,United States,,New Jersey,,,,,,,,,,,,FALSE,2.98391e+07,2.76229e+07,1.65894e+07,1.01403e+07,2.85802e+06,864829,563247,1.3694e+06,2.6864e+06,1.13928e+06,659124,617300,275881,248666,1.30172e+06,665866
45,236.30,2019,A,,33,United States,,New Mexico,,,,,,,,,,,,FALSE,3.90122e+06,3.34534e+06,1.91457e+06,1.26893e+06,337928,91408.5,79624.9,198495,349245,103752,108472,159640,2204.78,1959.47,553767,152.296
46,236.30,2019,A,,34,United States,,New York,,,,,,,,,,,,FALSE,6.71948e+07,6.09051e+07,4.23897e+07,1.73036e+07,1.95061e+06,1.56791e+06,984799,2.33268e+06,5.60096e+06,3.07341e+06,1.79324e+06,1.21176e+06,0,2.23618e+06,2.5882e+06,1.46532e+06
47,236.30,2019,A,,35,United States,,North Carolina,,,,,,,,,,,,FALSE,1.53895e+07,1.39431e+07,8.71863e+06,4.48816e+06,758525,479501,241840,826515,1.14644e+06,568542,466805,736274,0,65365.8,1.35966e+06,21443.6
48,236.30,2019,A,,36,United States,,North Dakota,,,,,,,,,,,,FALSE,1.82468e+06,1.51029e+06,906313,491975,60780.6,51918.8,65204.5,78090.2,129557,60165.2,46259.2,70245.1,41758.9,11519.7,270221,32651
50,236.30,2019,A,,37,United States,,Ohio,,,,,,,,,,,,FALSE,2.45037e+07,2.14943e+07,1.27036e+07,8.08392e+06,1.45499e+06,856705,674296,1.18819e+06,1.84094e+06,1.02088e+06,1047926,705533,1192.35,468613,1.92144e+06,619370
51,236.30,2019,A,,38,United States,,Oklahoma,,,,,,,,,,,,FALSE,6.22882e+06,5.4964e+06,3.0728e+06,2.00414e+06,374211,221748,164623,306275,576296,173226,187759,363634,55833.1,28946.1,637138,66337.1
52,236.30,2019,A,,39,United States,,Oregon,,,,,,,,,,,,FALSE,7.732e+06,6.51433e+06,3.80751e+06,2.47896e+06,494587,262616,91126.9,415589,516505,286763,411770,224745,3123.15,32995.1,827259,357408
53,236.30,2019,A,,40,United States,,Pennsylvania,,,,,,,,,,,,FALSE,3.0766e+07,2.72631e+07,1.68718e+07,9.38581e+06,1.53873e+06,976882,823115,1.21421e+06,2.49588e+06,1.29722e+06,1.03977e+06,889644,115861,568044,1.99272e+06,942120
54,236.30,2019,A,,41,United States,,Rhode Island,,,,,,,,,,,,FALSE,2.59193e+06,2.36246e+06,1.42811e+06,869618,248744,90505.5,35430.8,112808,183344,102335,96450.2,64215.8,521.639,57258.1,132829,39377.8
56,236.30,2019,A,,42,United States,,South Carolina,,,,,,,,,,,,FALSE,9.72172e+06,8.03543e+06,4.45564e+06,3.14702e+06,619625,497997,78239.3,520441,788674,303877,338165,412078,20694,61891.1,1.28666e+06,337743
57,236.30,2019,A,,43,United States,,South Dakota,,,,,,,,,,,,FALSE,1.57167e+06,1.37903e+06,816490,484102,76803.4,48890.2,46268.3,66995,143576,49058.6,52510.5,71486,6947.91,7170.74,152374,33099.3
58,236.30,2019,A,,44,United States,,Tennessee,,,,,,,,,,,,FALSE,1.04182e+07,9.26061e+06,5.65211e+06,3.0919e+06,416268,546464,192701,560592,767734,347912,260232,516601,0,82702.7,849531,225379
59,236.30,2019,A,,45,United States,,Texas,,,,,,,,,,,,FALSE,6.46013e+07,5.10335e+07,2.94317e+07,1.87554e+07,2.51507e+06,2.62268e+06,750018,2.92601e+06,5.37937e+06,1.48556e+06,3.07666e+06,2.84651e+06,0,349734,9830252,3.38779e+06
60,236.30,2019,A,,46,United States,,Utah,,,,,,,,,,,,FALSE,5.81316e+06,4.75471e+06,3.01947e+06,1.48593e+06,185373,190712,53508.1,312558,432719,140222,170835,238818,10496.4,10557.2,929100,118786
62,236.30,2019,A,,47,United States,,Vermont,,,,,,,,,,,,FALSE,1.79747e+06,1.72262e+06,1.10739e+06,570073,133216,71369.9,36223.7,108604,128666,56760.4,35233.5,43216.8,1939.88,10447.6,55204.1,9192.68
63,236.30,2019,A,,48,United States,,Virginia,,,,,,,,,,,,FALSE,1.67988e+07,1.52966e+07,9.31375e+06,5.39058e+06,774800,1.01349e+06,247977,897282,1.36528e+06,787814,303939,588958,3353.95,77175.6,1.32879e+06,96196.8
64,236.30,2019,A,,49,United States,,Washington,,,,,,,,,,,,FALSE,1.60076e+07,1.31881e+07,7.64634e+06,5.01809e+06,967929,854897,225675,800156,1.11897e+06,493731,556730,401398,122273,50813.9,2.32912e+06,439599
65,236.30,2019,A,,50,United States,,West Virginia,,,,,,,,,,,,FALSE,3.48774e+06,3.21632e+06,1.84214e+06,1.16703e+06,166921,127203,55146.5,172428,346891,238828,59608.5,207152,0,46027.8,210863,14526.6
66,236.30,2019,A,,51,United States,,Wisconsin,,,,,,,,,,,,FALSE,1.18761e+07,1.03407e+07,6.13669e+06,3.82435e+06,516870,545466,298849,521086,958276,438470,545329,379585,77.508,363949,1.01128e+06,160128
67,236.30,2019,A,,52,United States,,Wyoming,,,,,,,,,,,,FALSE,1.91326e+06,1.55502e+06,920260,588428,93675.8,86083.7,32730.5,82919.6,150621,77949.6,64448.1,45637.1,690.61,4934.61,350996,2311.9
70,236.30,2019,A,,53,United States,,Other jurisdictions,,American Samoa,,,,,,,,,,FALSE,76796.7,65490.2,31446,14110.2,34.696,7234.72,890.56,4188.38,0,531.136,1230.71,19934,0,1800,9506.53,0
71,236.30,2019,A,,54,United States,,Other jurisdictions,,Guam,,,,,,,,,,FALSE,361502,298340,142210,136084,28007.8,16535.2,4802.47,18225.4,38522.6,7948.05,22042.6,20046.3,0,0,50805.7,12356
72,236.30,2019,A,,55,United States,,Other jurisdictions,,Northern Marianas,,,,,,,,,,FALSE,92633.2,87919.7,41483,33459.2,6742.07,8246.35,1727.28,4275.68,7082.72,1443.09,3942.02,12977.5,0,2993.48,1720.07,0
73,236.30,2019,A,,56,United States,,Other jurisdictions,,Puerto Rico,,,,,,,,,,FALSE,2.89175e+06,2.78946e+06,1.12867e+06,1.26215e+06,317681,166391,79111.7,121196,407424,93059.3,77286.9,398641,0,67689.7,34600.4,0
74,236.30,2019,A,,57,United States,,Other jurisdictions,,U.S. Virgin Islands,,,,,,,,,,FALSE,172940,171521,100419,59707.5,14841.1,4219.44,8199.26,9465.38,6854.03,7536.33,8592,11236.4,157.749,1302.7,116,0

In [23]:
tables['236.30'].col_info

,digest_table_id,digest_table_year,column_index,column_level_1,column_ref_note_1,column_level_2,column_ref_note_2,column_level_3,column_ref_note_3,column_level_4,column_ref_note_4,column_level_5,column_ref_note_5,column_level_6,column_ref_note_6,column_level_7,column_ref_note_7
0,236.30,2019,A,Total expenditures,,Total,,,,,,,,,,,
1,236.30,2019,B,Total expenditures,,Current expenditures for elementary and second...,,"Elementary/ secondary current expenditures, total",,,,,,,,,
2,236.30,2019,C,Total expenditures,,Current expenditures for elementary and second...,,Instruction,,,,,,,,,
3,236.30,2019,D,Total expenditures,,Current expenditures for elementary and second...,,Support services,,"Support services, total",,,,,,,
4,236.30,2019,E,Total expenditures,,Current expenditures for elementary and second...,,Support services,,Student support,"Includes expenditures for guidance, health, at...",,,,,,
5,236.30,2019,F,Total expenditures,,Current expenditures for elementary and second...,,Support services,,Instructional staff,Includes expenditures for curriculum developme...,,,,,,
6,236.30,2019,G,Total expenditures,,Current expenditures for elementary and second...,,Support services,,General administration,,,,,,,
7,236.30,2019,H,Total expenditures,,Current expenditures for elementary and second...,,Support services,,School administration,,,,,,,
8,236.30,2019,I,Total expenditures,,Current expenditures for elementary and second...,,Support services,,Operation and maintenance,,,,,,,
9,236.30,2019,J,Total expenditures,,Current expenditures for elementary and second...,,Support services,,Student transportation,,,,,,,
10,236.30,2019,K,Total expenditures,,Current expenditures for elementary and second...,,Support services,,Other support services,,,,,,,
11,236.30,2019,L,Total expenditures,,Current expenditures for elementary and second...,,Food services,,,,,,,,,
12,236.30,2019,M,Total expenditures,,Current expenditures for elementary and second...,,Enterprise operations,Includes expenditures for operations funded by...,,,,,,,,
13,236.30,2019,N,Total expenditures,,Current expenditures for other programs,"Includes expenditures for adult education, com...",,,,,,,,,,
14,236.30,2019,O,Total expenditures,,Capital outlay,Includes expenditures for property and for bui...,,,,,,,,,,
15,236.30,2019,P,Total expenditures,,Interest on school debt,,,,,,,,,,,

In [24]:
tables['236.30'].cell_info

Empty DataFrame
Columns: [digest_table_id, digest_table_year, digest_table_sub_id, digest_table_sub_title, row_index, column_index, cell_ref_note, cell_special_note]
Index: []

In [25]:
tables['318.45'].row_info

,digest_table_id,digest_table_year,digest_table_sub_id,digest_table_sub_title,row_index,row_level_1,row_ref_note_1,row_level_2,row_ref_note_2,row_level_3,row_ref_note_3,row_level_4,row_ref_note_4,row_level_5,row_ref_note_5,row_level_6,row_ref_note_6,row_level_7,row_ref_note_7,is_total,A,B,C,D,E,F,G,H,I,J,K,L,M,N,O,P,Q,R,S
5,318.45,2019,A,"Total, all levels of degrees/certificates",1,,,,,,,,,,,,,,,FALSE,"Total, all levels of degrees/certificates",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,318.45,2019,A,"Total, all levels of degrees/certificates",2,Total,,2008-09,,,,,,,,,,,,FALSE,472262,293784,39041,36092,47466,---,---,3503,---,52376,100,69.9676,9.298,8.59567,11.3045,---,---,0.834274,---
8,318.45,2019,A,"Total, all levels of degrees/certificates",3,Total,,2009-10,,,,,,,,,,,,FALSE,500783,309989,43023,41213,49294,---,---,3763,---,53501,100,69.305,9.61876,9.2141,11.0208,---,---,0.841304,---
9,318.45,2019,A,"Total, all levels of degrees/certificates",4,Total,,2010-11,,,,,,,,,,,,FALSE,531018,319327,47014,45794,51461,50250,1211,3601,5551,58270,100,67.547,9.94483,9.68677,10.8855,10.6293,0.256162,0.761717,1.1742
10,318.45,2019,A,"Total, all levels of degrees/certificates",5,Total,,2011-12,,,,,,,,,,,,FALSE,556696,333652,47004,49262,53670,52336,1334,3600,7388,62120,100,67.4622,9.5039,9.96045,10.8517,10.582,0.269726,0.727896,1.4938
11,318.45,2019,A,"Total, all levels of degrees/certificates",6,Total,,2012-13,,,,,,,,,,,,FALSE,574000,337241,47710,53015,56995,55577,1418,3576,9812,65651,100,66.3404,9.38528,10.4289,11.2118,10.9328,0.278942,0.703454,1.93017
13,318.45,2019,A,"Total, all levels of degrees/certificates",7,Total,,2013-14,,,,,,,,,,,,FALSE,604167,348586,49455,58104,59088,57664,1424,3472,13305,72157,100,65.5225,9.29588,10.9216,11.1066,10.8389,0.267664,0.652619,2.50089
14,318.45,2019,A,"Total, all levels of degrees/certificates",8,Total,,2014-15,,,,,,,,,,,,FALSE,635800,353950,50760,63689,62193,60800,1393,3401,15764,86043,100,64.383,9.23317,11.5849,11.3128,11.0594,0.253385,0.618637,2.86745
15,318.45,2019,A,"Total, all levels of degrees/certificates",9,Total,,2015-16,,,,,,,,,,,,FALSE,668091,358113,48512,67822,66528,65252,1276,3159,18778,105179,100,63.6179,8.61804,12.0484,11.8185,11.5919,0.226678,0.561189,3.33587
16,318.45,2019,A,"Total, all levels of degrees/certificates",10,Total,,2016-17,,,,,,,,,,,,FALSE,704861,367260,49888,74461,71633,70327,1306,3240,20510,117869,100,62.5664,8.49892,12.6852,12.2034,11.9809,0.22249,0.551967,3.49409
17,318.45,2019,A,"Total, all levels of degrees/certificates",11,Total,,2017-18,,,,,,,,,,,,FALSE,733445,376806,51260,81769,77134,75792,1342,3149,22471,120856,100,61.5104,8.36776,13.3481,12.5915,12.3724,0.21907,0.514048,3.6682
20,318.45,2019,A,"Total, all levels of degrees/certificates",12,Males,,2008-09,,,,,,,,,,,,FALSE,329244,210822,24012,25813,29363,---,---,2375,---,36859,100,72.1042,8.21246,8.82843,10.0426,---,---,0.812285,---
21,318.45,2019,A,"Total, all levels of degrees/certificates",13,Males,,2009-10,,,,,,,,,,,,FALSE,352115,224066,27623,29970,30489,---,---,2635,---,37332,100,71.1811,8.77525,9.52084,9.68572,---,---,0.837085,---
22,318.45,2019,A,"Total, all levels of degrees/certificates",14,Males,,2010-11,,,,,,,,,,,,FALSE,370922,228704,30546,32877,31986,31193,793,2484,3640,40685,100,69.2545,9.24972,9.95558,9.68577,9.44564,0.240131,0.752187,1.10224
23,318.45,2019,A,"Total, all levels of degrees/certificates",15,Males,,2011-12,,,,,,,,,,,,FALSE,387705,239003,30152,34851,33240,32361,879,2427,4764,43268,100,69.3895,8.754,10.1183,9.65053,9.39533,0.255199,0.704628,1.38313
24,318.45,2019,A,"Total, all levels of degrees/certificates",16,Males,,2012-13,,,,,,,,,,,,FALSE,397223,239688,30632,37032,35828,34838,990,2375,6442,45226,100,68.0938,8.70235,10.5205,10.1785,9.89724,0.281252,0.674722,1.83013
26,318.45,2019,A,"Total, all levels of degrees/certificates",17,Males,,2013-14,,,,,,,,,,,,FALSE,417547,247899,32012,40583,36874,35886,988,2331,8493,49355,100,67.3287,8.69438,11.0222,10.0149,9.74655,0.268338,0.633094,2.30668
27,318.45,2019,A,"Total, all levels of degrees/certificates",18,Males,,2014-15,,,,,,,,,,,,FALSE,436775,250211,32831,43847,38768,37817,951,2312,10011,58795,100,66.1969,8.68591,11.6003,10.2566,10.005,0.251601,0.611673,2.64855
28,318.45,2019,A,"Total, all levels of degrees/certificates",19,Males,,2015-16,,,,,,,,,,,,FALSE,455559,251395,30381,45946,41337,40474,863,2138,12034,72328,100,65.5988,7.92759,11.9891,10.7864,10.5613,0.225191,0.557888,3.14014
29,318.45,2019,A,"Total, all levels of degrees/certificates",20,Males,,2016-17,,,,,,,,,,,,FALSE,478829,256877,30923,50077,44500,43585,915,2180,12994,81278,100,64.6149,7.77837,12.5964,11.1935,10.9634,0.230159,0.548357,3.26851
30,318.45,2019,A,"Total, all levels of degrees/certificates",21,Males,,2017-18,,,,,,,,,,,,FALSE,495571,263262,31802,54764,47606,46687,919,2115,14142,81880,100,63.6374,7.68738,13.2379,11.5076,11.2855,0.222146,0.511251,3.41849
33,318.45,2019,A,"Total, all levels of degrees/certificates",22,Females,,2008-09,,,,,,,,,,,,FALSE,143018,82962,15029,10279,18103,---,---,1128,---,15517,100,65.0677,11.7874,8.0619,14.1983,---,---,0.884699,---
34,318.45,2019,A,"Total, all levels of degrees/certificates",23,Females,,2009-10,,,,,,,,,,,,FALSE,148668,85923,15400,11243,18805,---,---,1128,---,16169,100,64.848,11.6227,8.48535,14.1926,---,---,0.851327,---
35,318.45,2019,A,"Total, all levels of degrees/certificates",24,Females,,2010-11,,,,,,,,,,,,FALSE,160096,90623,16468,12917,19475,19057,418,1117,1911,17585,100,63.5902,11.5556,9.06386,13.6656,13.3723,0.293311,0.783799,1.34095
36,318.45,2019,A,"Total, all levels of degrees/certificates",25,Females,,2011-12,,,,,,,,,,,,FALSE,168991,94649,16852,14411,20430,19975,455,1173,2624,18852,100,63.0409,11.2243,9.59844,13.6074,13.3043,0.303053,0.781276,1.74771
37,318.45,2019,A,"Total, all levels of degrees/certificates",26,Females,,2012-13,,,,,,,,,,,,FALSE,176777,97553,17078,15983,21167,20739,428,1201,3370,20425,100,62.3932,10.9228,10.2224,13.538,13.2643,0.273741,0.768139,2.15539
39,318.45,2019,A,"Total, all levels of degrees/certificates",27,Females,,2013-14,,,,,,,,,,,,FALSE,186620,100687,17443,17521,22214,21778,436,1141,4812,22802,100,61.4627,10.6478,10.6954,13.5602,13.294,0.266149,0.696505,2.93741
40,318.45,2019,A,"Total, all levels of degrees/certificates",28,Females,,2014-15,,,,,,,,,,,,FALSE,199025,103739,17929,19842,23425,22983,442,1089,5753,27248,100,60.3917,10.4374,11.551,13.6369,13.3796,0.25731,0.633961,3.34911
41,318.45,2019,A,"Total, all levels of degrees/certificates",29,Females,,2015-16,,,,,,,,,,,,FALSE,212532,106718,18131,21876,25191,24778,413,1021,6744,32851,100,59.393,10.0907,12.1749,14.0198,13.79,0.229852,0.568229,3.75332
42,318.45,2019,A,"Total, all levels of degrees/certificates",30,Females,,2016-17,,,,,,,,,,,,FALSE,226032,110383,18965,24384,27133,26742,391,1060,7516,36591,100,58.2677,10.011,12.8716,14.3227,14.1163,0.206397,0.559541,3.96746
43,318.45,2019,A,"Total, all levels of degrees/certificates",31,Females,,2017-18,,,,,,,,,,,,FALSE,237874,113544,19458,27005,29528,29105,423,1034,8329,38976,100,57.0865,9.7829,13.5773,14.8458,14.6331,0.212672,0.519864,4.18757
44,318.45,2019,B,Certificates below the associate's degree level,32,Females,,,,,,,,,,,,,,FALSE,Certificates below the associate's degree level,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,318.45,2019,B,Certificates below the associate's degree level,33,Total,,2008-09,,,,,,,,,,,,FALSE,45525,26683,7604,7368,2814,---,---,612,---,444,100,59.189,16.8674,16.3439,6.2421,---,---,1.35756,---
47,318.45,2019,B,Certificates below the associate's degree level,34,Total,,2009-10,,,,,,,,,,,,FALSE,55121,31737,9560,9517,2914,---,---,760,---,633,100,58.2459,17.5451,17.4662,5.34797,---,---,1.3948,---
48,318.45,2019,B,Certificates below the associate's degree level,35,Total,,2010-11,,,,,,,,,,,,FALSE,66649,37253,12337,11976,2868,2654,214,826,688,701,100,56.4884,18.7072,18.1598,4.34888,4.02438,0.324498,1.2525,1.04325
49,318.45,2019,B,Certificates below the associate's degree level,36,Total,,2011-12,,,,,,,,,,,,FALSE,60304,35126,9665,10800,2674,2471,203,789,785,465,100,58.7008,16.1517,18.0484,4.46866,4.12941,0.339244,1.31854,1.31185
50,318.45,2019,B,Certificates below the associate's degree level,37,Total,,2012-13,,,,,,,,,,,,FALSE,60908,36022,8887,10706,2913,2697,216,686,1095,599,100,59.7291,14.7358,17.7519,4.83012,4.47197,0.358155,1.13748,1.81565
52,318.45,2019,B,Certificates below the associate's degree level,38,Total,,2013-14,,,,,,,,,,,,FALSE,70041,41032,10802,11507,3555,3313,242,744,1499,902,100,59.3471,15.6236,16.6433,5.14182,4.7918,0.35002,1.07609,2.1681
53,318.45,2019,B,Certificates below the associate's degree level,39,Total,,2014-15,,,,,,,,,,,,FALSE,71253,41338,10663,12175,3824,3580,244,810,1498,945,100,58.7956,15.1661,17.3167,5.43893,5.09188,0.347044,1.15207,2.13063
54,318.45,2019,B,Certificates below the associate's degree level,40,Total,,2015-16,,,,,,,,,,,,FALSE,76048,44404,10660,12760,4126,3887,239,777,2154,1167,100,59.2994,14.2359,17.0404,5.51008,5.1909,0.319173,1.03765,2.87656
55,318.45,2019,B,Certificates below the associate's degree level,41,Total,,2016-17,,,,,,,,,,,,FALSE,77832,45023,10627,13440,4319,4064,255,893,2192,1338,100,58.8582,13.8926,17.57,5.64619,5.31283,0.333359,1.16741,2.86558
56,318.45,2019,B,Certificates below the associate's degree level,42,Total,,2017-18,,,,,,,,,,,,FALSE,83216,48094,10850,14793,4871,4608,263,783,2400,1425,100,58.8011,13.2655,18.0863,5.95542,5.63387,0.321551,0.957318,2.93431
59,318.45,2019,B,Certificates below the associate's degree level,43,Males,,2008-09,,,,,,,,,,,,FALSE,34601,20744,5442,5872,1753,---,---,487,---,303,100,60.4817,15.8668,17.1205,5.11109,---,---,1.41991,---
60,318.45,2019,B,Certificates below the associate's degree level,44,Males,,2009-10,,,,,,,,,,,,FALSE,43631,25478,7216,7938,1998,---,---,586,---,415,100,58.955,16.6975,18.3682,4.62329,---,---,1.35598,---
61,318.45,2019,B,Certificates below the associate's degree level,45,Males,,2010-11,,,,,,,,,,,,FALSE,53910,30549,9608,9999,2106,1962,144,637,532,479,100,57.1747,17.9821,18.7139,3.94153,3.67203,0.269506,1.19219,0.995677
62,318.45,2019,B,Certificates below the associate's degree level,46,Males,,2011-12,,,,,,,,,,,,FALSE,48658,28699,7487,8895,2018,1855,163,610,610,339,100,59.3949,15.4949,18.4089,4.17641,3.83907,0.337341,1.26244,1.26244
63,318.45,2019,B,Certificates below the associate's degree level,47,Males,,2012-13,,,,,,,,,,,,FALSE,48155,29017,6664,8556,2143,1978,165,509,859,407,100,60.7711,13.9566,17.9191,4.48815,4.14258,0.345564,1.06601,1.79903
65,318.45,2019,B,Certificates below the associate's degree level,48,Males,,2013-14,,,,,,,,,,,,FALSE,55569,33310,8077,9290,2652,2454,198,558,1132,550,100,60.5427,14.6804,16.8851,4.82015,4.46028,0.359876,1.0142,2.05747
66,318.45,2019,B,Certificates below the associate's degree level,49,Males,,2014-15,,,,,,,,,,,,FALSE,56074,33088,7959,9843,2820,2622,198,592,1141,631,100,59.6793,14.3553,17.7534,5.0863,4.72918,0.357124,1.06776,2.05797
67,318.45,2019,B,Certificates below the associate's degree level,50,Males,,2015-16,,,,,,,,,,,,FALSE,59840,35851,7829,10139,2990,2805,185,605,1652,774,100,60.6965,13.2547,17.1655,5.06213,4.74892,0.313209,1.02428,2.79687
68,318.45,2019,B,Certificates below the associate's degree level,51,Males,,2016-17,,,,,,,,,,,,FALSE,61234,36205,7795,10781,3238,3027,211,665,1621,929,100,60.0365,12.926,17.8775,5.36937,5.01948,0.349888,1.10273,2.688
69,318.45,2019,B,Certificates below the associate's degree level,52,Males,,2017-18,,,,,,,,,,,,FALSE,66715,39460,8102,11969,3726,3501,225,610,1820,1028,100,60.0728,12.3343,18.2213,5.67236,5.32982,0.342534,0.928646,2.77072
72,318.45,2019,B,Certificates below the associate's degree level,53,Females,,2008-09,,,,,,,,,,,,FALSE,10924,5939,2162,1496,1061,---,---,125,---,141,100,55.0774,20.0501,13.8737,9.83956,---,---,1.15923,---
73,318.45,2019,B,Certificates below the associate's degree level,54,Females,,2009-10,,,,,,,,,,,,FALSE,11490,6259,2344,1579,916,---,---,174,---,218,100,55.527,20.7949,14.0082,8.12633,---,---,1.54365,---
74,318.45,2019,B,Certificates below the associate's degree level,55,Females,,2010-11,,,,,,,,,,,,FALSE,12739,6704,2729,1977,762,692,70,189,156,222,100,53.5592,21.8023,15.7945,6.08772,5.52848,0.559239,1.50995,1.24631
75,318.45,2019,B,Certificates below the associate's degree level,56,Females,,2011-12,,,,,,,,,,,,FALSE,11646,6427,2178,1905,656,616,40,179,175,126,100,55.7899,18.9062,16.5365,5.69444,5.34722,0.347222,1.55382,1.5191
76,318.45,2019,B,Certificates below the associate's degree level,57,Females,,2012-13,,,,,,,,,,,,FALSE,12753,7005,2223,2150,770,719,51,177,236,192,100,55.7679,17.6976,17.1165,6.13009,5.72407,0.406019,1.40912,1.87883
78,318.45,2019,B,Certificates below the associate's degree level,58,Females,,2013-14,,,,,,,,,,,,FALSE,14472,7722,2725,2217,903,859,44,186,367,352,100,54.6884,19.2989,15.7011,6.39518,6.08357,0.311615,1.31728,2.59915
79,318.45,2019,B,Certificates below the associate's degree level,59,Females,,2014-15,,,,,,,,,,,,FALSE,15179,8250,2704,2332,1004,958,46,218,357,314,100,55.4995,18.1904,15.6879,6.75412,6.44467,0.309452,1.46653,2.40161
80,318.45,2019,B,Certificates below the associate's degree level,60,Females,,2015-16,,,,,,,,,,,,FALSE,16208,8553,2831,2621,1136,1082,54,172,502,393,100,54.0816,17.9007,16.5729,7.18305,6.84161,0.341448,1.08758,3.1742
81,318.45,2019,B,Certificates below the associate's degree level,61,Females,,2016-17,,,,,,,,,,,,FALSE,16598,8818,2832,2659,1081,1037,44,228,571,409,100,54.4691,17.4934,16.4247,6.67737,6.40558,0.271789,1.40836,3.52709
82,318.45,2019,B,Certificates below the associate's degree level,62,Females,,2017-18,,,,,,,,,,,,FALSE,16501,8634,2748,2824,1145,1107,38,173,580,397,100,53.614,17.0641,17.536,7.11003,6.87407,0.235966,1.07427,3.60159
83,318.45,2019,C,Associate's degrees,63,Females,,,,,,,,,,,,,,FALSE,Associate's degrees,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
85,318.45,2019,C,Associate's degrees,64,Total,,2008-09,,,,,,,,,,,,FALSE,83046,57886,9970,9183,3985,---,---,996,---,1026,100,70.5755,12.1556,11.196,4.85857,---,---,1.21434,---
86,318.45,2019,C,Associate's degrees,65,Total,,2009-10,,,,,,,,,,,,FALSE,88526,60861,11137,10068,4199,---,---,1070,---,1191,100,69.6868,12.752,11.528,4.80792,---,---,1.22517,---
87,318.45,2019,C,Associate's degrees,66,Total,,2010-11,,,,,,,,,,,,FALSE,86031,57196,11413,9835,4403,4108,295,925,768,1491,100,67.6555,13.5001,11.6335,5.20819,4.85924,0.348947,1.09416,0.908446
88,318.45,2019,C,Associate's degrees,67,Total,,2011-12,,,,,,,,,,,,FALSE,92464,60467,12082,11509,4893,4578,315,957,1052,1504,100,66.4765,13.2828,12.6528,5.37929,5.03298,0.346306,1.05211,1.15655
89,318.45,2019,C,Associate's degrees,68,Total,,2012-13,,,,,,,,,,,,FALSE,88800,56147,11670,11867,5069,4733,336,1013,1586,1448,100,64.2767,13.3597,13.5853,5.80296,5.41831,0.384651,1.15968,1.81564
91,318.45,2019,C,Associate's degrees,69,Total,,2013-14,,,,,,,,,,,,FALSE,87366,53887,11459,12434,5237,4954,283,959,1827,1563,100,62.8032,13.355,14.4913,6.10352,5.77369,0.329825,1.11768,2.1293
92,318.45,2019,C,Associate's degrees,70,Total,,2014-15,,,,,,,,,,,,FALSE,88401,53005,11784,13255,5736,5474,262,901,2064,1656,100,61.1044,13.5846,15.2804,6.61248,6.31045,0.302035,1.03868,2.37939
93,318.45,2019,C,Associate's degrees,71,Total,,2015-16,,,,,,,,,,,,FALSE,79869,47633,8833,12699,5740,5515,225,749,2261,1954,100,61.1346,11.3367,16.2985,7.367,7.07823,0.288776,0.961304,2.90188
94,318.45,2019,C,Associate's degrees,72,Total,,2016-17,,,,,,,,,,,,FALSE,82334,47975,8656,13847,6327,6079,248,728,2371,2430,100,60.0408,10.833,17.3295,7.91825,7.60788,0.310372,0.911093,2.96731
95,318.45,2019,C,Associate's degrees,73,Total,,2017-18,,,,,,,,,,,,FALSE,85273,47843,8503,15515,7236,6992,244,753,2595,2828,100,58.0302,10.3135,18.8186,8.77676,8.48081,0.295955,0.913336,3.14755
98,318.45,2019,C,Associate's degrees,74,Males,,2008-09,,,,,,,,,,,,FALSE,68402,48914,7317,7536,3152,---,---,744,---,739,100,72.2906,10.8139,11.1375,4.65838,---,---,1.09957,---
99,318.45,2019,C,Associate's degrees,75,Males,,2009-10,,,,,,,,,,,,FALSE,73292,51580,8367,8281,3363,---,---,829,---,872,100,71.2234,11.5534,11.4347,4.64374,---,---,1.14471,---
100,318.45,2019,C,Associate's degrees,76,Males,,2010-11,,,,,,,,,,,,FALSE,67699,46404,8292,7575,3143,2933,210,664,581,1040,100,69.614,12.4394,11.3638,4.71504,4.40001,0.315036,0.996115,0.8716
101,318.45,2019,C,Associate's degrees,77,Males,,2011-12,,,,,,,,,,,,FALSE,73348,49404,8965,8924,3521,3293,228,703,761,1070,100,68.3527,12.4035,12.3468,4.87147,4.55602,0.315449,0.972633,1.05288
102,318.45,2019,C,Associate's degrees,78,Males,,2012-13,,,,,,,,,,,,FALSE,69944,45642,8666,9060,3665,3415,250,701,1199,1011,100,66.2121,12.5716,13.1432,5.31676,4.95409,0.362671,1.01693,1.73937
104,318.45,2019,C,Associate's degrees,79,Males,,2013-14,,,,,,,,,,,,FALSE,68671,43787,8632,9373,3753,3525,228,684,1351,1091,100,64.7928,12.773,13.8695,5.55342,5.21604,0.337378,1.01213,1.99911
105,318.45,2019,C,Associate's degrees,80,Males,,2014-15,,,,,,,,,,,,FALSE,68932,42963,8813,9862,4047,3866,181,632,1487,1128,100,63.3635,12.9978,14.5449,5.96867,5.70173,0.266946,0.932098,2.19309
106,318.45,2019,C,Associate's degrees,81,Males,,2015-16,,,,,,,,,,,,FALSE,61252,38278,6338,9200,3950,3794,156,518,1639,1329,100,63.8786,10.5769,15.353,6.59179,6.33146,0.260334,0.864443,2.73518
107,318.45,2019,C,Associate's degrees,82,Males,,2016-17,,,,,,,,,,,,FALSE,62671,38505,6161,9775,4352,4168,184,503,1687,1688,100,63.1405,10.1028,16.0291,7.13642,6.83469,0.301723,0.82482,2.76634
108,318.45,2019,C,Associate's degrees,83,Males,,2017-18,,,,,,,,,,,,FALSE,64348,38236,6014,10858,4940,4760,180,522,1832,1946,100,61.2737,9.63751,17.4001,7.91641,7.62796,0.288452,0.836512,2.9358
111,318.45,2019,C,Associate's degrees,84,Females,,2008-09,,,,,,,,,,,,FALSE,14644,8972,2653,1647,833,---,---,252,---,287,100,62.4922,18.4788,11.4718,5.80205,---,---,1.75524,---
112,318.45,2019,C,Associate's degrees,85,Females,,2009-10,,,,,,,,,,,,FALSE,15234,9281,2770,1787,836,---,---,241,---,319,100,62.2259,18.5719,11.9812,5.6051,---,---,1.61582,---
113,318.45,2019,C,Associate's degrees,86,Females,,2010-11,,,,,,,,,,,,FALSE,18332,10792,3121,2260,1260,1175,85,261,187,451,100,60.3546,17.4543,12.6391,7.04659,6.57122,0.475365,1.45965,1.0458
114,318.45,2019,C,Associate's degrees,87,Females,,2011-12,,,,,,,,,,,,FALSE,19116,11063,3117,2585,1372,1285,87,254,291,434,100,59.2174,16.6845,13.8368,7.34397,6.87828,0.465689,1.3596,1.55765
115,318.45,2019,C,Associate's degrees,88,Females,,2012-13,,,,,,,,,,,,FALSE,18856,10505,3004,2807,1404,1318,86,312,387,437,100,57.0335,16.3092,15.2397,7.62256,7.15565,0.466909,1.6939,2.10109
117,318.45,2019,C,Associate's degrees,89,Females,,2013-14,,,,,,,,,,,,FALSE,18695,10100,2827,3061,1484,1429,55,275,476,472,100,55.4245,15.5134,16.7975,8.14355,7.84174,0.301816,1.50908,2.61208
118,318.45,2019,C,Associate's degrees,90,Females,,2014-15,,,,,,,,,,,,FALSE,19469,10042,2971,3393,1689,1608,81,269,577,528,100,53.0173,15.6855,17.9135,8.91716,8.48952,0.427644,1.4202,3.0463
119,318.45,2019,C,Associate's degrees,91,Females,,2015-16,,,,,,,,,,,,FALSE,18617,9355,2495,3499,1790,1721,69,231,622,625,100,51.9953,13.8673,19.4475,9.94887,9.56536,0.383504,1.2839,3.45709
120,318.45,2019,C,Associate's degrees,92,Females,,2016-17,,,,,,,,,,,,FALSE,19663,9470,2495,4072,1975,1911,64,225,684,742,100,50.0502,13.1864,21.5211,10.4381,10.0999,0.338249,1.18915,3.61503
121,318.45,2019,C,Associate's degrees,93,Females,,2017-18,,,,,,,,,,,,FALSE,20925,9607,2489,4657,2296,2232,64,231,763,882,100,47.9319,12.4183,23.235,11.4554,11.1361,0.319313,1.15252,3.80682
122,318.45,2019,D,Bachelor's degrees,94,Females,,,,,,,,,,,,,,FALSE,Bachelor's degrees,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
124,318.45,2019,D,Bachelor's degrees,95,Total,,2008-09,,,,,,,,,,,,FALSE,243031,166477,17621,16206,30763,---,---,1592,---,10372,100,71.5541,7.57375,6.96556,13.2224,---,---,0.684263,---

In [26]:
tables['318.45'].col_info

,digest_table_id,digest_table_year,column_index,column_level_1,column_ref_note_1,column_level_2,column_ref_note_2,column_level_3,column_ref_note_3,column_level_4,column_ref_note_4,column_level_5,column_ref_note_5,column_level_6,column_ref_note_6,column_level_7,column_ref_note_7
0,318.45,2019,A,Number of STEM degrees/certificates conferred ...,,Total,,,,,,,,,,,
1,318.45,2019,B,Number of STEM degrees/certificates conferred ...,,White,,,,,,,,,,,
2,318.45,2019,C,Number of STEM degrees/certificates conferred ...,,Black,,,,,,,,,,,
3,318.45,2019,D,Number of STEM degrees/certificates conferred ...,,Hispanic,,,,,,,,,,,
4,318.45,2019,E,Number of STEM degrees/certificates conferred ...,,Asian/Pacific Islander,,Total,,,,,,,,,
5,318.45,2019,F,Number of STEM degrees/certificates conferred ...,,Asian/Pacific Islander,,Asian,,,,,,,,,
6,318.45,2019,G,Number of STEM degrees/certificates conferred ...,,Asian/Pacific Islander,,Pacific Islander,,,,,,,,,
7,318.45,2019,H,Number of STEM degrees/certificates conferred ...,,American Indian/ Alaska Native,,,,,,,,,,,
8,318.45,2019,I,Number of STEM degrees/certificates conferred ...,,Two or more races,,,,,,,,,,,
9,318.45,2019,J,Number of STEM degrees/certificates conferred ...,,Nonresident alien,,,,,,,,,,,
10,318.45,2019,K,Percentage distribution of STEM degrees/certif...,,Total,,,,,,,,,,,
11,318.45,2019,L,Percentage distribution of STEM degrees/certif...,,White,,,,,,,,,,,
12,318.45,2019,M,Percentage distribution of STEM degrees/certif...,,Black,,,,,,,,,,,
13,318.45,2019,N,Percentage distribution of STEM degrees/certif...,,Hispanic,,,,,,,,,,,
14,318.45,2019,O,Percentage distribution of STEM degrees/certif...,,Asian/Pacific Islander,,Total,,,,,,,,,
15,318.45,2019,P,Percentage distribution of STEM degrees/certif...,,Asian/Pacific Islander,,Asian,,,,,,,,,
16,318.45,2019,Q,Percentage distribution of STEM degrees/certif...,,Asian/Pacific Islander,,Pacific Islander,,,,,,,,,
17,318.45,2019,R,Percentage distribution of STEM degrees/certif...,,American Indian/ Alaska Native,,,,,,,,,,,
18,318.45,2019,S,Percentage distribution of STEM degrees/certif...,,Two or more races,,,,,,,,,,,

In [27]:
tables['318.45'].cell_info

,digest_table_id,digest_table_year,digest_table_sub_id,digest_table_sub_title,row_index,column_index,cell_ref_note,cell_special_note
0,318.45,2019,A,"Total, all levels of degrees/certificates",2,F,,Not available.
1,318.45,2019,A,"Total, all levels of degrees/certificates",2,G,,Not available.
2,318.45,2019,A,"Total, all levels of degrees/certificates",2,I,,Not available.
3,318.45,2019,A,"Total, all levels of degrees/certificates",2,P,,Not available.
4,318.45,2019,A,"Total, all levels of degrees/certificates",2,Q,,Not available.
5,318.45,2019,A,"Total, all levels of degrees/certificates",2,S,,Not available.
6,318.45,2019,A,"Total, all levels of degrees/certificates",3,F,,Not available.
7,318.45,2019,A,"Total, all levels of degrees/certificates",3,G,,Not available.
8,318.45,2019,A,"Total, all levels of degrees/certificates",3,I,,Not available.
9,318.45,2019,A,"Total, all levels of degrees/certificates",3,P,,Not available.
10,318.45,2019,A,"Total, all levels of degrees/certificates",3,Q,,Not available.
11,318.45,2019,A,"Total, all levels of degrees/certificates",3,S,,Not available.
12,318.45,2019,A,"Total, all levels of degrees/certificates",12,F,,Not available.
13,318.45,2019,A,"Total, all levels of degrees/certificates",12,G,,Not available.
14,318.45,2019,A,"Total, all levels of degrees/certificates",12,I,,Not available.
15,318.45,2019,A,"Total, all levels of degrees/certificates",12,P,,Not available.
16,318.45,2019,A,"Total, all levels of degrees/certificates",12,Q,,Not available.
17,318.45,2019,A,"Total, all levels of degrees/certificates",12,S,,Not available.
18,318.45,2019,A,"Total, all levels of degrees/certificates",13,F,,Not available.
19,318.45,2019,A,"Total, all levels of degrees/certificates",13,G,,Not available.
20,318.45,2019,A,"Total, all levels of degrees/certificates",13,I,,Not available.
21,318.45,2019,A,"Total, all levels of degrees/certificates",13,P,,Not available.
22,318.45,2019,A,"Total, all levels of degrees/certificates",13,Q,,Not available.
23,318.45,2019,A,"Total, all levels of degrees/certificates",13,S,,Not available.
24,318.45,2019,A,"Total, all levels of degrees/certificates",22,F,,Not available.
25,318.45,2019,A,"Total, all levels of degrees/certificates",22,G,,Not available.
26,318.45,2019,A,"Total, all levels of degrees/certificates",22,I,,Not available.
27,318.45,2019,A,"Total, all levels of degrees/certificates",22,P,,Not available.
28,318.45,2019,A,"Total, all levels of degrees/certificates",22,Q,,Not available.
29,318.45,2019,A,"Total, all levels of degrees/certificates",22,S,,Not available.
30,318.45,2019,A,"Total, all levels of degrees/certificates",23,F,,Not available.
31,318.45,2019,A,"Total, all levels of degrees/certificates",23,G,,Not available.
32,318.45,2019,A,"Total, all levels of degrees/certificates",23,I,,Not available.
33,318.45,2019,A,"Total, all levels of degrees/certificates",23,P,,Not available.
34,318.45,2019,A,"Total, all levels of degrees/certificates",23,Q,,Not available.
35,318.45,2019,A,"Total, all levels of degrees/certificates",23,S,,Not available.
36,318.45,2019,B,Certificates below the associate's degree level,33,F,,Not available.
37,318.45,2019,B,Certificates below the associate's degree level,33,G,,Not available.
38,318.45,2019,B,Certificates below the associate's degree level,33,I,,Not available.
39,318.45,2019,B,Certificates below the associate's degree level,33,P,,Not available.
40,318.45,2019,B,Certificates below the associate's degree level,33,Q,,Not available.
41,318.45,2019,B,Certificates below the associate's degree level,33,S,,Not available.
42,318.45,2019,B,Certificates below the associate's degree level,34,F,,Not available.
43,318.45,2019,B,Certificates below the associate's degree level,34,G,,Not available.
44,318.45,2019,B,Certificates below the associate's degree level,34,I,,Not available.
45,318.45,2019,B,Certificates below the associate's degree level,34,P,,Not available.
46,318.45,2019,B,Certificates below the associate's degree level,34,Q,,Not available.
47,318.45,2019,B,Certificates below the associate's degree level,34,S,,Not available.
48,318.45,2019,B,Certificates below the associate's degree level,43,F,,Not available.
49,318.45,2019,B,Certificates below the associate's degree level,43,G,,Not available.
50,318.45,2019,B,Certificates below the associate's degree level,43,I,,Not available.
51,318.45,2019,B,Certificates below the associate's degree level,43,P,,Not available.
52,318.45,2019,B,Certificates below the associate's degree level,43,Q,,Not available.
53,318.45,2019,B,Certificates below the associate's degree level,43,S,,Not available.
54,318.45,2019,B,Certificates below the associate's degree level,44,F,,Not available.
55,318.45,2019,B,Certificates below the associate's degree level,44,G,,Not available.
56,318.45,2019,B,Certificates below the associate's degree level,44,I,,Not available.
57,318.45,2019,B,Certificates below the associate's degree level,44,P,,Not available.
58,318.45,2019,B,Certificates below the associate's degree level,44,Q,,Not available.
59,318.45,2019,B,Certificates below the associate's degree level,44,S,,Not available.
60,318.45,2019,B,Certificates below the associate's degree level,53,F,,Not available.
61,318.45,2019,B,Certificates below the associate's degree level,53,G,,Not available.
62,318.45,2019,B,Certificates below the associate's degree level,53,I,,Not available.
63,318.45,2019,B,Certificates below the associate's degree level,53,P,,Not available.
64,318.45,2019,B,Certificates below the associate's degree level,53,Q,,Not available.
65,318.45,2019,B,Certificates below the associate's degree level,53,S,,Not available.
66,318.45,2019,B,Certificates below the associate's degree level,54,F,,Not available.
67,318.45,2019,B,Certificates below the associate's degree level,54,G,,Not available.
68,318.45,2019,B,Certificates below the associate's degree level,54,I,,Not available.
69,318.45,2019,B,Certificates below the associate's degree level,54,P,,Not available.
70,318.45,2019,B,Certificates below the associate's degree level,54,Q,,Not available.
71,318.45,2019,B,Certificates below the associate's degree level,54,S,,Not available.
72,318.45,2019,C,Associate's degrees,64,F,,Not available.
73,318.45,2019,C,Associate's degrees,64,G,,Not available.
74,318.45,2019,C,Associate's degrees,64,I,,Not available.
75,318.45,2019,C,Associate's degrees,64,P,,Not available.
76,318.45,2019,C,Associate's degrees,64,Q,,Not available.
77,318.45,2019,C,Associate's degrees,64,S,,Not available.
78,318.45,2019,C,Associate's degrees,65,F,,Not available.
79,318.45,2019,C,Associate's degrees,65,G,,Not available.
80,318.45,2019,C,Associate's degrees,65,I,,Not available.
81,318.45,2019,C,Associate's degrees,65,P,,Not available.
82,318.45,2019,C,Associate's degrees,65,Q,,Not available.
83,318.45,2019,C,Associate's degrees,65,S,,Not available.
84,318.45,2019,C,Associate's degrees,74,F,,Not available.
85,318.45,2019,C,Associate's degrees,74,G,,Not available.
86,318.45,2019,C,Associate's degrees,74,I,,Not available.
87,318.45,2019,C,Associate's degrees,74,P,,Not available.
88,318.45,2019,C,Associate's degrees,74,Q,,Not available.
89,318.45,2019,C,Associate's degrees,74,S,,Not available.
90,318.45,2019,C,Associate's degrees,75,F,,Not available.
91,318.45,2019,C,Associate's degrees,75,G,,Not available.
92,318.45,2019,C,Associate's degrees,75,I,,Not available.
93,318.45,2019,C,Associate's degrees,75,P,,Not available.
94,318.45,2019,C,Associate's degrees,75,Q,,Not available.
95,318.45,2019,C,Associate's degrees,75,S,,Not available.
96,318.45,2019,C,Associate's degrees,84,F,,Not available.
97,318.45,2019,C,Associate's degrees,84,G,,Not available.
98,318.45,2019,C,Associate's degrees,84,I,,Not available.
99,318.45,2019,C,Associate's degrees,84,P,,Not available.
100,318.45,2019,C,Associate's degrees,84,Q,,Not available.
101,318.45,2019,C,Associate's degrees,84,S,,Not available.
102,318.45,2019,C,Associate's degrees,85,F,,Not available.
103,318.45,2019,C,Associate's degrees,85,G,,Not available.
104,318.45,2019,C,Associate's degrees,85,I,,Not available.
105,318.45,2019,C,Associate's degrees,85,P,,Not available.
106,318.45,2019,C,Associate's degrees,85,Q,,Not available.
107,318.45,2019,C,Associate's degrees,85,S,,Not available.
108,318.45,2019,D,Bachelor's degrees,95,F,,Not available.
109,318.45,2019,D,Bachelor's degrees,95,G,,Not available.
110,318.45,2019,D,Bachelor's degrees,95,I,,Not available.
111,318.45,2019,D,Bachelor's degrees,95,P,,Not available.
112,318.45,2019,D,Bachelor's degrees,95,Q,,Not available.
113,318.45,2019,D,Bachelor's degrees,95,S,,Not available.
114,318.45,2019,D,Bachelor's degrees,96,F,,Not available.
115,318.45,2019,D,Bachelor's degrees,96,G,,Not available.
116,318.45,2019,D,Bachelor's degrees,96,I,,Not available.
117,318.45,2019,D,Bachelor's degrees,96,P,,Not available.
118,318.45,2019,D,Bachelor's degrees,96,Q,,Not available.
119,318.45,2019,D,Bachelor's degrees,96,S,,Not available.
120,318.45,2019,D,Bachelor's degrees,105,F,,Not available.
121,318.45,2019,D,Bachelor's degrees,105,G,,Not available.
122,318.45,2019,D,Bachelor's degrees,105,I,,Not available.
123,318.45,2019,D,Bachelor's degrees,105,P,,Not available.
124,318.45,2019,D,Bachelor's degrees,105,Q,,Not available.
125,318.45,2019,D,Bachelor's degrees,105,S,,Not available.
126,318.45,2019,D,Bachelor's degrees,106,F,,Not available.
127,318.45,2019,D,Bachelor's degrees,106,G,,Not available.
128,318.45,2019,D,Bachelor's degrees,106,I,,Not available.
129,318.45,2019,D,Bachelor's degrees,106,P,,Not available.
130,318.45,2019,D,Bachelor's degrees,106,Q,,Not available.
131,318.45,2019,D,Bachelor's degrees,106,S,,Not available.
132,318.45,2019,D,Bachelor's degrees,115,F,,Not available.
133,318.45,2019,D,Bachelor's degrees,115,G,,Not available.
134,318.45,2019,D,Bachelor's degrees,115,I,,Not available.
135,318.45,2019,D,Bachelor's degrees,115,P,,Not available.
136,318.45,2019,D,Bachelor's degrees,115,Q,,Not available.
137,318.45,2019,D,Bachelor's degrees,115,S,,Not available.
138,318.45,2019,D,Bachelor's degrees,116,F,,Not available.
139,318.45,2019,D,Bachelor's degrees,116,G,,Not available.
140,318.45,2019,D,Bachelor's degrees,116,I,,Not available.
141,318.45,2019,D,Bachelor's degrees,116,P,,Not available.
142,318.45,2019,D,Bachelor's degrees,116,Q,,Not available.
143,318.45,2019,D,Bachelor's degrees,116,S,,Not available.
144,318.45,2019,E,Master's degrees,126,F,,Not available.
145,318.45,2019,E,Master's degrees,126,G,,Not available.
146,318.45,2019,E,Master's degrees,126,I,,Not available.
147,318.45,2019,E,Master's degrees,126,P,,Not available.
148,318.45,2019,E,Master's degrees,126,Q,,Not available.
149,318.45,2019,E,Master's degrees,126,S,,Not available.
150,318.45,2019,E,Master's degrees,127,F,,Not available.
151,318.45,2019,E,Master's degrees,127,G,,Not available.
152,318.45,2019,E,Master's degrees,127,I,,Not available.
153,318.45,2019,E,Master's degrees,127,P,,Not available.
154,318.45,2019,E,Master's degrees,127,Q,,Not available.
155,318.45,2019,E,Master's degrees,127,S,,Not available.
156,318.45,2019,E,Master's degrees,136,F,,Not available.
157,318.45,2019,E,Master's degrees,136,G,,Not available.
158,318.45,2019,E,Master's degrees,136,I,,Not available.
159,318.45,2019,E,Master's degrees,136,P,,Not available.
160,318.45,2019,E,Master's degrees,136,Q,,Not available.
161,318.45,2019,E,Master's degrees,136,S,,Not available.
162,318.45,2019,E,Master's degrees,137,F,,Not available.
163,318.45,2019,E,Master's degrees,137,G,,Not available.
164,318.45,2019,E,Master's degrees,137,I,,Not available.
165,318.45,2019,E,Master's degrees,137,P,,Not available.
166,318.45,2019,E,Master's degrees,137,Q,,Not available.
167,318.45,2019,E,Master's degrees,137,S,,Not available.
168,318.45,2019,E,Master's degrees,146,F,,Not available.
169,318.45,2019,E,Master's degrees,146,G,,Not available.
170,318.45,2019,E,Master's degrees,146,I,,Not available.
171,318.45,2019,E,Master's degrees,146,P,,Not available.
172,318.45,2019,E,Master's degrees,146,Q,,Not available.
173,318.45,2019,E,Master's degrees,146,S,,Not available.
174,318.45,2019,E,Master's degrees,147,F,,Not available.
175,318.45,2019,E,Master's degrees,147,G,,Not available.
176,318.45,2019,E,Master's degrees,147,I,,Not available.
177,318.45,2019,E,Master's degrees,147,P,,Not available.
178,318.45,2019,E,Master's degrees,147,Q,,Not available.
179,318.45,2019,E,Master's degrees,147,S,,Not available.
180,318.45,2019,F,Doctor's degrees,157,F,,Not available.
181,318.45,2019,F,Doctor's degrees,157,G,,Not available.
182,318.45,2019,F,Doctor's degrees,157,I,,Not available.
183,318.45,2019,F,Doctor's degrees,157,P,,Not available.
184,318.45,2019,F,Doctor's degrees,157,Q,,Not available.
185,318.45,2019,F,Doctor's degrees,157,S,,Not available.
186,318.45,2019,F,Doctor's degrees,158,F,,Not available.
187,318.45,2019,F,Doctor's degrees,158,G,,Not available.
188,318.45,2019,F,Doctor's degrees,158,I,,Not available.
189,318.45,2019,F,Doctor's degrees,158,P,,Not available.
190,318.45,2019,F,Doctor's degrees,158,Q,,Not available.
191,318.45,2019,F,Doctor's degrees,158,S,,Not available.
192,318.45,2019,F,Doctor's degrees,167,F,,Not available.
193,318.45,2019,F,Doctor's degrees,167,G,,Not available.
194,318.45,2019,F,Doctor's degrees,167,I,,Not available.
195,318.45,2019,F,Doctor's degrees,167,P,,Not available.
196,318.45,2019,F,Doctor's degrees,167,Q,,Not available.
197,318.45,2019,F,Doctor's degrees,167,S,,Not available.
198,318.45,2019,F,Doctor's degrees,168,F,,Not available.
199,318.45,2019,F,Doctor's degrees,168,G,,Not available.
200,318.45,2019,F,Doctor's degrees,168,I,,Not available.
201,318.45,2019,F,Doctor's degrees,168,P,,Not available.
202,318.45,2019,F,Doctor's degrees,168,Q,,Not available.
203,318.45,2019,F,Doctor's degrees,168,S,,Not available.
204,318.45,2019,F,Doctor's degrees,177,F,,Not available.
205,318.45,2019,F,Doctor's degrees,177,G,,Not available.
206,318.45,2019,F,Doctor's degrees,177,I,,Not available.
207,318.45,2019,F,Doctor's degrees,177,P,,Not available.
208,318.45,2019,F,Doctor's degrees,177,Q,,Not available.
209,318.45,2019,F,Doctor's degrees,177,S,,Not available.
210,318.45,2019,F,Doctor's degrees,178,F,,Not available.
211,318.45,2019,F,Doctor's degrees,178,G,,Not available.
212,318.45,2019,F,Doctor's degrees,178,I,,Not available.
213,318.45,2019,F,Doctor's degrees,178,P,,Not available.
214,318.45,2019,F,Doctor's degrees,178,Q,,Not available.
215,318.45,2019,F,Doctor's degrees,178,S,,Not available.